{% extends "layout.html" %}

{% block head_extras %}
<link rel="stylesheet" href="/static/css/jquery-ui.css">
{% endblock %}

{% block body %}
{% include "inc/navbar_menu.html" %}

    <div id="globalError"></div>
    <!-- contents container -->
    <div id="contents"></div>

    <script type="text/template" id="persistent-volumes-template">
        <div class="content-body clearfix" id="persistentVolumes-tab">
            <div class="col-xs-12 no-padding">
                <div class="row">
                    <div class="col-xs-12">
                        <table class="table" id="persistent-volumes-table">
                            <thead>
                                <tr>
                                    <th class="col-md-6">Volume Name</th>
                                    <th class="col-md-3">Size</th>
                                    <th class="col-md-3">Status</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="buttons clearfix"></div>
            </div>
        </div>
    </script>

    <script type="text/template" id="persistent-volumes-empty-template">
        <td class="text-center" colspan="3">Persistent volumes aren't specified</td>
    </script>

    <script type="text/template" id="persistent-volumes-item-template">
        <td class="col-md-2"><%- name %></td>
        <td class="col-md-2"><%- size %>&nbsp;GB</td>
        <td>
            <span class="<%- in_use ? 'stopped' : 'running' %>"><%- pod %></span>
            <span class="terminate-btn pull-right"></span>
            <!-- <span class="unmount pull-right"></span>
            <span class="onsearsh pull-right"></span> -->
        </td>
    </script>

    <!-- main template -->
    <script type="text/template" id="settings-layout-template">
        <div>
            <div class="breadcrumbs-wrapper">
                <div class="container breadcrumbs" id="breadcrumbs">
                    <ul class="breadcrumb">
                        <li class="active">
                            <div>Persistent volumes</div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div id="details_content" class="col-sm-12">
                        <div class="row placeholders">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>
    <!-- main template -->

    <script data-main="/static/js/persistent_volumes/require_main.js" src="/static/js/lib/require.js"></script>

{% endblock %}
