# Allow running vagrant cmd from repo root 
#export VAGRANT_CWD=~/repos/AppCloud/dev-utils/dev-env/

# Build specific ref instead of current state of the repo
#export KD_GIT_REF=kuberdock@1.1-1 

# Do additional tricks like build rpm from source, stop wsgi on master, 
# run tmux on master and so on
#export KD_DEV_INSTALL=true

# Resources allocation
#export KD_MASTER_MEMORY=4096
#export KD_MASTER_CPUS=4

#export KD_NODES_COUNT=1
#export KD_NODE_MEMORY=2048
#export KD_NODE_CPUS=1

# All dotfiles will be copied from this folder before deploy
#export KD_DOT_FILES=/path/to/dir

# Some script which should be executed after master is ready
#export KD_MASTER_HOOK=my_hook.sh

# if set to path - copied to master
# if set to “patch" - patched
# if not set - not copied not patched
# export KD_LICENSE=/path/to/license
export KD_LICENSE=patch

# if set no wsgi will be started
#export KD_NO_WSGI=1

# Auth for Openstack
#export KD_OS_USERNAME=your_username
#export KD_OS_PASSWORD=super_password

# Auth for Open Nebula
#export KD_ONE_USERNAME=your_username
#export KD_ONE_PASSWORD=super_password

# Path to private key for vagrant autentication in the OpenNebula
# export KD_ONE_PRIVATE_KEY=~/.ssh/id_rsa
