# ====== VM Group ======
#
# Allow running vagrant cmd from repo root. By default you need to move inside 
# `dev-utils/dev-env` before working with vagrant
# default: nothing
export VAGRANT_CWD=dev-utils/dev-env/
#

# OpenNebula credentials. Username and passoword for OpenNebula cloud
# default: nothing
#export KD_ONE_USERNAME=your_one_username
#export KD_ONE_PASSWORD=yout_one_password

# Resources allocation for master
# Memory
# default: 2048
#export KD_MASTER_MEMORY=4096
# CPU count
# default: 1
#export KD_MASTER_CPUS=2

# Nodes count
# default: 1
#export KD_NODES_COUNT=2

# Registered hosts count (cPanel hosts, etc)
# default: 0
#export KD_RHOSTS_COUNT=1

# Resources allocation for node
# Memory
# default: 2048
#export KD_NODE_MEMORY=4096

# CPU count
# default: 1
#export KD_NODE_CPUS=2

# Uncomment to excpicitly define kube type for each mode
# default: nothing
#export KD_NODE_TYPES='node1=standard,node2=tiny'
 
# Path to private key for vagrant autentication in the OpenNebula
# default: "~/.ssh/id_rsa"
#export KD_ONE_PRIVATE_KEY=~/.ssh/your_other_private_key

# Comma-separated list of IPs reserved to you in OpenNebula Public Network. These IPs will
# be unblocked in KD IP pool and used as Pods public IPs.
# Default value are team shared IPs. If you use them, you may intersect with others, thus
# it's recommended to set this variable. Reserve your IPs in the doc below before changing:
# ***REMOVED***
# default: "192.168.33.200,192.168.33.201,192.168.33.202"
#export KD_ONE_PUB_IPS="192.168.33.200,192.168.33.201,192.168.33.202"

# Custom OpenNebula template ID
# default: 84
#export KD_NEBULA_TEMPLATE_ID=100

# ====== Env group ======

# Build specific ref instead of current state of the repo
# default: nothing
#export KD_GIT_REF=kuberdock@1.1-1

# Type of cluster:
#  - dev
#  - qa
#  - release
# default: qa
#export KD_INSTALL_TYPE=dev

# All dotfiles will be copied from this folder before deploy
# default: nothing
#export KD_DOT_FILES=/path/to/dotfiles/folder

# Some script which should be executed after master is ready
# default: nothing
#export KD_MASTER_HOOK=/path/to/your/hook.sh

# if set to path - copied to master
# if set to “patch" - patched
# if not set - not copied not patched
# default: nothing
# export KD_LICENSE=/path/to/your/license

# if set no wsgi will be started
# default: 0
#export KD_NO_WSGI=1

# Uncomment to enable testing repo for deploy.sh and node_install.sh
# default: nothing
#export KD_TESTING_REPO=true

# running KuberDock deploy script with CEPH support
#export KD_CEPH=1
#export KD_CEPH_USER=your_ceph_user 
#export KD_CEPH_CONFIG=/path/to/ceph.conf 
#export KD_CEPH_USER_KEYRING=/path/to/client.your_ceph_user.keyring
#export KD_PD_NAMESPACE=your_namespace

# Uncomment to enable NONFLOATING_PUBLIC_IPS mode
# default: nothing
#export KD_NONFLOATING_PUBLIC_IPS=true

# Add SSH public keys from ./dev-utils/dev-env/shared_pub_keys to each server
# default: do not add anything
#export KD_ADD_SHARED_PUB_KEYS=1

# Set timezone
# default: from host
#export KD_TIMEZONE=Asia/Shanghai

