{% extends "index.html" %}
{% block script_templates %}

    <script type="text/template" id="node-detailed-layout-template">
        <div class="breadcrumbs-wrapper">
            <div class="container breadcrumbs" id="breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <div id="nodes-page">Nodes</div>
                    </li>
                    <li class="active">
                        <%- hostname %>
                    </li>
                </ul>
                <div class="control-group">
                    <!-- <button id="rename_node">Rename</button>
                    <button id="stop_node">Stop</button> -->
                    <button id="delete_node">Delete</button>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-3 col-md-2 sidebar">
                    <ul class="nav nav-sidebar">
                    <% var s = {};
                    switch (tab) {
                        case 'general': s.general = 'active'; break;
                        case 'stats': s.stats = 'active'; break;
                        case 'logs': s.logs = 'active'; break;
                        case 'monitoring': s.monitoring = 'active'; break;
                        case 'timelines': s.timelines = 'active'; break;
                        case 'configuration': s.configuration = 'active'; break;
                    } %>
                        <li role="presentation" class="general <%- s.general %> nodeGeneralTab">General</li>
                        <!-- <li role="presentation" class="stats <%- s.stats %> nodeStatsTab">Stats</li> -->
                        <li role="presentation" class="<%- s.logs %> nodeLogsTab">Logs</li>
                        <li role="presentation" class="<%- s.monitoring %> nodeMonitoringTab">Monitoring</li>
                        <!-- <li role="presentation" class="<%- s.timelines %> nodeTimelinesTab">Timelines</li>
                        <li role="presentation" class="configuration <%- s.configuration %> nodeConfigurationTab">Configuration</li> -->
                    </ul>
                </div>
                <div id="details_content" class="col-sm-10">
                    <div class="status-line <%- status %>">Status: <%- status %></div>
                    <div id="tab-content"></div>
                </div>
            </div>
        </div>
    </script>

    <script type="text/template" id="node-general-tab-template">
        <% switch (status) { case 'running': %>
        <% var ram = (resources.capacity.memory / (1024*1024*1024)).toFixed(2); %>
        <div class="row placeholders">
            <div class="col-xs-10 clearfix">
                <div class="col-xs-6 info no-padding">
                    <div>IP: <%- ip %></div>
{#                    <div>Kube capacity: 100</div>#}
{#                    <div>Used kubes: 50</div>#}
                </div>
                <div class="col-xs-6 servers no-padding">
                    <div class="server-ico">CPU: <%- resources.capacity.cpu %> cores <!-- with 3GHz --></div>
                    <div class="server-ico">RAM: <%- ram %> GB <!--DDR3 - 2000 --></div>
                    <div class="server-ico"><!-- SDD: 0GB in Raid 0 --></div>
                </div>
            </div>
        </div>
        <% break; case 'pending': %>
        <div>Node is in installation progress</div>
        <% break; case 'troubles': %>
        <div>There are some problems with this node. See logs.</div>
        <% break; } %>
    </script>

    <script type="text/template" id="node-stats-tab-template">
        <div id="stats-page" class="col-sm-12">
            <div class="page-top-menu">
                <span>Choose kube type:</span>
                <div class="checkbox">
                    <label class="custom">
                        <input type="checkbox">
                        <span></span>
                        Kube type 1
                    </label>
                </div>
                <div class="checkbox">
                    <label class="custom">
                        <input type="checkbox">
                        <span></span>
                        Kube type 2
                    </label>
                </div>
            </div
        </div>
    </script>

    <script type="text/template" id="node-logs-tab-template">
        <div id="logs-page" class="col-sm-12">
            <!--
            <div class="page-top-menu">
                <span>Choose log:</span>
                <span class="active">Log 1</span>
                <span>Log 2</span>
                <span>Log 3</span>
                <span>Log 3</span>
            </div>
            -->
            <div class="node-logs">
                <% _.each(logs, function(line){ %>
                <p><%- line['@timestamp'] %> <%- line['ident'] %>: <%- line['message'] %></p>
                <% }) %>
            </div>
        </div>
    </script>

    <script type="text/template" id="node-monitoring-tab-template">
        <div id="monitoring-page" class="col-sm-12">
           <!-- <div class="page-top-menu">
                <span>Choose period:</span>
                <span>Last 6 Hours</span>
                <span class="active">24 Hours</span>
                <span>1 week</span>
                <span>1 month</span>
                <span>1 year</span>
            </div> -->
            <p class="name first">CPU graph</p>
            <div class="cpu-graph"></div>
            <p class="name">Memory graph</p>
            <div class="memory-graph"></div>
            <p class="name">Bandwith IN/OUT graph</p>
            <div class="bandwith-graph"></div>
        </div>
    </script>

    <script type="text/template" id="node-timelines-tab-template">
        <div id="timelines-page" class="col-sm-12">
            <div class="cases">
                <div class="item">
                    <span class="pull-left">Some case 1</span>
                    <span class="">22.02.15 at 22:20</span>
                    <span class="pull-right control">show</span>
                    <span class="pull-right control-hide">hide</span>
                </div>
                <div class="item-body">
                    <div class="general">
                        <div class="title">General</div>
                        <div class="all-info">
                            <p>
                                <span>Finished:</span>
                                <span>12:57 12/12/2014</span>
                            </p>
                            <p>
                                <span>Duration:</span>
                                <span>3 minutes</span>
                            </p>
                            <p>
                                <span>Location:</span>
                                <span>USA</span>
                            </p>
                            <p>
                                <span>IP:</span>
                                <span>1.1.1.1</span>
                            </p>
                            <p>
                                <span>User agent:</span>
                                <span>Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko)</span>
                            </p>
                            <p>
                                <span>Request:</span>
                                <span>POST /api/v1/service/bfff0ab9-c357-47b7-b476-dd8f5c841266/start/</span>
                            </p>
                            <p>
                                <span>Request body:</span>
                                <span>Some request details</span>
                            </p>
                        </div>
                    </div>
                    <div class="detailes">
                        <div class="title">Detailes</div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien eget odio.
                        </p>
                    </div>
                </div>
                <div class="item active">
                    <span class="pull-left">Some case 2</span>
                    <span class="">22.02.15 at 22:20</span>
                    <span class="pull-right control ">show</span>
                    <span class="pull-right control-hide">hide</span>
                </div>
                <div class="item-body">
                    <div class="general">
                        <div class="title">General</div>
                        <div class="all-info">
                            <p>
                                <span>Finished:</span>
                                <span>12:57 12/12/2014</span>
                            </p>
                            <p>
                                <span>Duration:</span>
                                <span>3 minutes</span>
                            </p>
                            <p>
                                <span>Location:</span>
                                <span>USA</span>
                            </p>
                            <p>
                                <span>IP:</span>
                                <span>1.1.1.1</span>
                            </p>
                            <p>
                                <span>User agent:</span>
                                <span>Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko)</span>
                            </p>
                            <p>
                                <span>Request:</span>
                                <span>POST /api/v1/service/bfff0ab9-c357-47b7-b476-dd8f5c841266/start/</span>
                            </p>
                            <p>
                                <span>Request body:</span>
                                <span>Some request details</span>
                            </p>
                        </div>
                    </div>
                    <div class="detailes">
                        <div class="title">Detailes</div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien eget odio.
                        </p>
                    </div>
                </div>
                <div class="item">
                    <span class="pull-left">Some case 3</span>
                    <span class="">22.02.15 at 22:20</span>
                    <span class="pull-right control ">show</span>
                    <span class="pull-right control-hide">hide</span>
                </div>
                <div class="item-body">
                    <div class="general">
                        <div class="title">General</div>
                        <div class="all-info">
                            <p>
                                <span>Finished:</span>
                                <span>12:57 12/12/2014</span>
                            </p>
                            <p>
                                <span>Duration:</span>
                                <span>3 minutes</span>
                            </p>
                            <p>
                                <span>Location:</span>
                                <span>USA</span>
                            </p>
                            <p>
                                <span>IP:</span>
                                <span>1.1.1.1</span>
                            </p>
                            <p>
                                <span>User agent:</span>
                                <span>Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko)</span>
                            </p>
                            <p>
                                <span>Request:</span>
                                <span>POST /api/v1/service/bfff0ab9-c357-47b7-b476-dd8f5c841266/start/</span>
                            </p>
                            <p>
                                <span>Request body:</span>
                                <span>Some request details</span>
                            </p>
                        </div>
                    </div>
                    <div class="detailes">
                        <div class="title">Detailes</div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien eget odio.
                        </p>
                    </div>
                </div>
                <div class="item">
                    <span class="pull-left">Some case 4</span>
                    <span class="">22.02.15 at 22:20</span>
                    <span class="pull-right control ">show</span>
                    <span class="pull-right control-hide">hide</span>
                </div>
                <div class="item-body">
                    <div class="general">
                        <div class="title">General</div>
                        <div class="all-info">
                            <p>
                                <span>Finished:</span>
                                <span>12:57 12/12/2014</span>
                            </p>
                            <p>
                                <span>Duration:</span>
                                <span>3 minutes</span>
                            </p>
                            <p>
                                <span>Location:</span>
                                <span>USA</span>
                            </p>
                            <p>
                                <span>IP:</span>
                                <span>1.1.1.1</span>
                            </p>
                            <p>
                                <span>User agent:</span>
                                <span>Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko)</span>
                            </p>
                            <p>
                                <span>Request:</span>
                                <span>POST /api/v1/service/bfff0ab9-c357-47b7-b476-dd8f5c841266/start/</span>
                            </p>
                            <p>
                                <span>Request body:</span>
                                <span>Some request details</span>
                            </p>
                        </div>
                    </div>
                    <div class="detailes">
                        <div class="title">Detailes</div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien eget odio.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <script type="text/template" id="node-configuration-tab-template">
        <div id="configuration-page" class="col-sm-12">
            <div class="page-top-menu">
                <span>configuration template</span>
            </div>
        </div>
    </script>

    <script type="text/template" id="node-add-layout-template">
        <div class="breadcrumbs-wrapper">
            <div class="container breadcrumbs" id="breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <div id="nodes-page">Nodes</div>
                    </li>
                    <li class="active">
                        Add node
                    </li>
                </ul>
            </div>
        </div>
        <div class="container">
            <div id="node-contents">
                <div class="node-steps">
                    <div id="node-find-step">div find step</div>
                    <div id="node-final-step"></div>
                </div>
            </div>
        </div>
    </script>

    <script type="text/template" id="node-find-step-template">
    </script>

    <script type="text/template" id="node-final-step-template">
        <div id="address-spinner"></div>
        <div class="form-field col-lg-6">
            <label for="node_address">Enter Node name</label>
            <input class="find-input" type="text" placeholder="Hostname" id="node_address" name="node_address"/>
        </div>
        <div class="col-lg-12">
            <div class="col-lg-6">
                <label for="extra-options">Choose kube type</label>
              	<select class="kube_type" id="extra-options">
                    <option selected disabled>Choose kube type</option>
                    {% for kube_type in kube_types %}
                    <option value="{{ kube_type.id }}">{{ kube_type.name }}</option>
                    {% endfor %}
                </select>
               </div>
            <div class="col-lg-6 right">
               <!-- <div class="info">
                    <p></p>
                </div> -->
            </div>
        </div>
        <button id="node-add-btn" type="submit">Add</button>
        <button id="node-cancel-btn" type="submit">Cancel</button>
    </script>

    <script type="text/template" id="node-console-template">
        <div class="well">
            <% _.each(text, function(x){ %>
            <p><%- x %></p>
            <% }) %>
        </div>
        <div class="buttons pull-right">
            <button id="main">Back</button>
        </div>
    </script>

    <script type="text/template" id="node-item-template">
        <td>
            <button id="detailedNode" title="<%- hostname %>">
                <%- hostname ? hostname : ip ? ip : 'Not specified' %>
            </button>
            <span id="deleteNode" title="Remove node">&nbsp;</span>
        </td>
        <td><%- ip %></td>
        <td>
            <%- kubeType %>
{#            <span class="more-ico"  data-toggle="tooltip" data-placement="bottom" title="<%- hostname ? hostname : 'Not specified' %>"></span>#}
        </td>
        <% var st_type = 'text-danger';
           switch (status) {
                case 'running': st_type = 'text-success'; break;
                case 'removing...': st_type = 'text-info'; break;
           }
        %>
{#        <td>50/100</td>#}
{#        <td>51%</td>#}
{#        <td>20 (100)</td>#}
        <td><%- status %></td>
    </script>

    <script type="text/template" id="nodes-list-template">
        <div class="breadcrumbs-wrapper">
            <div class="container breadcrumbs" id="breadcrumbs">
                <ul class="breadcrumb">
                    <li class="active">
                        Nodes
                    </li>
                </ul>
                <div class="control-group">
                    <button id="add_node">Add Node</button>
                    <div class="nav-search" id="nav-search">
                        <form class="form-search">
                            <input type="text" placeholder="Search" class="nav-search-input" id="nav-search-input" autocomplete="off">
                            <i class="nav-search-icon"></i>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
        <!--<div><strong>You have <%- totalNodes %> nodes</strong></div -->
            <table id="nodelist-table" class="table tablesorter tablesorter-default">
                <thead>
                    <tr class="tablesorter-headerRow">
                        <th data-column="0" class="tablesorter-header tablesorter-headerDesc" tabindex="0" unselectable="on" style="-webkit-user-select: none;"><div class="tablesorter-header-inner">Node<b class="caret"></b></div></th>
                        <th data-column="1" class="tablesorter-header" tabindex="0" unselectable="on" style="-webkit-user-select: none;"><div class="tablesorter-header-inner">IP<b class="caret"></b></div></th>
                        <th data-column="2" class="tablesorter-header" tabindex="0" unselectable="on" style="-webkit-user-select: none;"><div class="tablesorter-header-inner">Kube type<b class="caret"></b></div></th>
{#                        <th data-column="3" class="tablesorter-header" tabindex="0" unselectable="on" style="-webkit-user-select: none;"><div class="tablesorter-header-inner">Kube capacity<b class="caret"></b><br>(used/max)</div></th>#}
{#                        <th data-column="4" class="tablesorter-header" tabindex="0" unselectable="on" style="-webkit-user-select: none;"><div class="tablesorter-header-inner">Average<b class="caret"></b><br>CPU usage</div></th>#}
{#                        <th data-column="5" class="tablesorter-header" tabindex="0" unselectable="on" style="-webkit-user-select: none;"><div class="tablesorter-header-inner">Active pods<b class="caret"></b><br>(containers)</div></th>#}
                        <th data-column="6" class="tablesorter-header" tabindex="0" unselectable="on" style="-webkit-user-select: none;"><div class="tablesorter-header-inner">Status<b class="caret"></b></div></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </script>

    <script type="text/template" id="nodes-layout-template">
        <div id="main">main div text</div>
        <div id="pager">pager div text</div>
    </script>

{#    Copy from main app, delete when merge #}
    <script type="text/template" id="paginator-template">
        <% if ( c.state.pageSize < c.state.totalRecords){ %>
        <ul class="pager">
            <li class="paginatorFirst pseudo-link btn btn-default btn-sm btn-group">first</li>
            <li class="paginatorPrev pseudo-link btn btn-default btn-sm btn-group">prev</li>
            <li class="paginatorStat"><%- c.state.currentPage %> of <%- c.state.totalPages %></li>
            <li class="paginatorNext pseudo-link btn btn-default btn-sm btn-group">next</li>
            <li class="paginatorLast pseudo-link btn btn-default btn-sm btn-group">last</li>
        </ul>
        <% } %>
    </script>
{#    ===================================== #}

{% endblock %}

{% block app_js_asset %}{% endblock %} {# To cut off app_js temporary #}

{% block nodes_app_js_asset %}
    {% assets "nodes_app_js" -%}
        <script src="{{ ASSET_URL }}"></script>
    {% endassets %}
    <script type="text/javascript">
        NodesApp.Data.nodes = new NodesApp.Data.NodesCollection({{ nodes_collection|safe }});
        kubeTypes = {{ kube_types|tojson|safe }};
        var userSettings = {{ user_settings|tojson|safe }};
    </script>
{% endblock %}
