<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ name }}</title>
        <meta charset="utf8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon" />
{#
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-editable.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.jqplot.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-select.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/dropdowns-enhancement.min.css') }}">

        <link rel="stylesheet/less" type="text/css" href="{{ url_for('static', filename='css/main.less') }}">

        <script src="{{ url_for('static', filename='js/lib/less.min.js') }}" type="text/javascript"></script>
#}
    <style type="text/css">
        div#containers {
            margin: 2em 0 0 20em;
            width: 30em;
        }
        div#total-price {
            margin-left: 20em;
            height: 2em;
        }
        div#kube-resources {
            float: left;
        }
        div#package-dialog {
            margin: 0 0 0 20em;
            height: 6em;
        }
        div#kube-controls {
            width: 20em;
            float: left;
        }
        div.container-title {
            background-color: #E5E5E5;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            text-align: center;
        }
        div.container-item {
            margin: .2em 0 .2em 0;
            border: 1px solid #C9C9C9;
            border-radius: 4px;
        }
        div.container-body {
            padding: .4em;
        }
        div#controls {
            margin: 0 0 0 20em;
            padding: .4em 0;
            width: 30em;
            text-align: center;
        }
    </style>
    </head>
    <body>
        <div id="containers">
            {% for container in containers %}
            <div class="container-item">
                <div class="container-title">{{ container['image'] }}</div>
                <div class="container-body">
                    <label for="kubes-amount">kubes</label>
                    <select class="kubes-amount">
                    {% for row in range(1,11) %}
                        {% if kubes_data[container['image']] == row %}
                        <option selected="selected" value="{{ row }}">{{ row }}</option>
                        {% else %}
                        <option value="{{ row }}">{{ row }}</option>
                        {% endif %}
                    {% endfor %}
                    </select>
                </div>
            </div>
            {% endfor %}
        </div>
        <div id="total-price"></div>
        <div id="package-dialog">
            <div id="kube-controls">
                <div>
                    <label for="package-selector">Select package</label>
                    <select id="package-selector">
                    {% for package in packages %}
                        <option value="{{ package.id }}">{{ package.name }}</option>
                    {% endfor %}
                    </select>
                </div>
                <div>
                    <label for="kube-selector">Select kube</label>
                    <select id="kube-selector"></select>
                </div>
            </div>
            <div id="kube-resources"></div>
        </div>
        <div id="controls"><button id="submit-button">Order now</button></div>
        <input type="hidden" value="{{ template }}" id="template-data">
        <script type="text/javascript">
            'use strict;'
            var kubes = {{ kubes|safe }},
                kubeType = {{ kube_type }},
                billingUrl = {{ '"{0}"'.format(billing_url)|safe }},
                pkgsel = document.getElementById('package-selector'),
                kubesel = document.getElementById('kube-selector'),
                resources = document.getElementById('kube-resources'),
                totalprice = document.getElementById('total-price'),
                kubesamount = document.getElementsByClassName('kubes-amount'),
                subbtn = document.getElementById('submit-button'),
                tpl = document.getElementById('template-data');

            function empty(node){
                while (node.firstChild) {
                    node.removeChild(node.firstChild);
                }
            }

            function fill(node, idx, dflt){
                kubes[idx].forEach(function(el){
                    var o = document.createElement('option');
                    o.value = el.id;
                    if (dflt !== undefined && (+el.id) === (+dflt)) {
                        o.selected = true;
                    }
                    o.appendChild(document.createTextNode(el.name));
                    node.appendChild(o);
                });
            }

            function compose(pi, ki){
                var pkg = kubes[pi],
                    data = pkg.filter(function(i){return (+i.id) === (+ki)})[0];
                empty(resources);
                var c = document.createElement('div'),
                    m = document.createElement('div'),
                    d = document.createElement('div');
                c.appendChild(document.createTextNode('CPU:' + String.fromCharCode(160) + data.cpu + data.cpu_units));
                m.appendChild(document.createTextNode('Mem:' + String.fromCharCode(160) + data.memory + data.memory_units));
                d.appendChild(document.createTextNode('Disk:' + String.fromCharCode(160) + data.disk_space + data.disk_space_units));
                [c, m, d].forEach(function(i){resources.appendChild(i);});
            }

            function setPrice(pi, ki){
                var pkg = kubes[pi],
                    data = pkg.filter(function(i){return (+i.id) === (+ki)})[0],
                    totalKubes = Array.prototype.map.call(kubesamount,
                            function(el){return +el.value})
                        .reduce(function(a, c){return a+c});
                empty(totalprice);
                var tc = totalKubes * data.price;
                totalprice.appendChild(document.createTextNode(
                    'Total price:'  + String.fromCharCode(160) + tc + '$'));
            }
            function getKubes(){
                var data = {};
                Array.prototype.map.call(kubesamount, function(el){
                    return [el.parentNode.previousElementSibling.firstChild.nodeValue.trim(),
                            Number(el.value)]
                    })
                .forEach(function(item){data[item[0]]=item[1]});
                return data;
            }

            fill(kubesel, pkgsel.value, kubeType);
            compose(pkgsel.value, kubesel.value);
            setPrice(pkgsel.value, kubesel.value);
            console.log(billingUrl);
            Array.prototype.forEach.call(kubesamount, function(s){
                s.onchange = function(){setPrice(pkgsel.value, kubesel.value)};
            });

            pkgsel.onchange = function(evt){
                empty(kubesel);
                fill(kubesel, pkgsel.value, kubeType);
                compose(this.value, kubesel.value);
                setPrice(this.value, kubesel.value);
            };

            kubesel.onchange = function(evt){
                compose(pkgsel.value, this.value);
                setPrice(pkgsel.value, this.value);
            };

            subbtn.onclick = function(evt){
                if (!billingUrl) {
                    alert('Billing URL not set!');
                    return;
                }
                var kubesData = getKubes(),
                    yml = tpl.value;
                yml = yml.replace(
                        /\$\$(KUBETYPE|KUBES)\|([a-z0-9\/]+?)(?::\d+)?\$\$/g,
                        function(str, type, data){
                            return type === 'KUBETYPE'
                                ? kubesel.value
                                : kubesData[data];
                        });
                var url = billingUrl
                        + '?yaml=' + encodeURIComponent(yml)
                        + '&pkgid=' + pkgsel.value;
                window.location = url;
            };
        </script>
    </body>
</html>
