{% extends "layout.html" %}

{% block head_extras %}
<link rel="stylesheet" href="/static/css/jquery-ui.css">
{% endblock %}

{% block body %}
    {% with items=MENU.navbar.get_items() %}
    {% include "inc/navbar_menu.html" %}
    {% endwith %}

    <div id="globalError"></div>
    <!-- contents container -->
    <div id="contents"></div>

    <script type="text/template" id="publicIPs-item-empty-template">
        <td class="text-center" colspan="2">Public IPs not specified</td>
    </script>
     <!-- settingsPublicIPsTab template -->
    <script type="text/template" id="publicIPs-template">
        <div class="content-body clearfix" id="publicIPs-tab">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-12 no-padding">
                        <table class="table" id="publicIPs-table">
                            <thead>
                                <tr>
                                    <th class="col-md-6">Public IP</th>
                                    <th class="col-md-6">Pod Name</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                        <div class="buttons clearfix">
                            <div class="description pull-left">* Unused Public IP billed as usual</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>

     <!-- settingsPublicIPsTab item template -->
    <script type="text/template" id="publicIPs-item-template">
        <td class="col-md-2">
            <%- id %>
        </td>
        <td>
            <span class="<%- pod ? 'stopped' : 'running' %>"><%- pod %></span>
            <!-- <span class="terminate-btn pull-right"></span> -->
        </td>
    </script>
    <script type="text/template" id="settings-layout-template">
        <div>
            <div class="breadcrumbs-wrapper">
                <div class="container breadcrumbs" id="breadcrumbs">
                    <ul class="breadcrumb">
                        <li class="active">
                            <div>Public IPs</div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div id="details_content" class="col-sm-12">
                        <div class="row placeholders">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>
    <!-- main template -->

    <script data-main="/static/js/public_ips/require_main.js" src="/static/js/lib/require.js"></script>

{% endblock %}
