*.sqlite3
*.pyc
*.pyo
*.swp
*.swo
*.swn
*.esproj
.idea
.Ds_Store
*~
media
*.dat
settings.cfg
local_settings.py
celerybeat-schedule
.vagrant
dev-utils/dev-env/*.vagrant
.pipelines
.docker*
*.retry
*.rpm
celerybeat.pid
.cache
Dockerfile.local
.python-version

.tox/
tests_integration/web-ui/report/
./artifacts
dev-utils/update_template.log
dev-utils/.docker.nebula_template_update.env
node_modules/
npm-debug.log*
kubedock/frontend/static/local-config.js
aws-kd-deploy/kuberdock-files/
kubedock/frontend/static/prepared*
