*.sqlite3
*.pyc
*.pyo
*.swp
*.swo
*.swn
*.esproj
.idea
.Ds_Store
*~
media
*.dat
settings.cfg
local_settings.py
celerybeat-schedule
.vagrant
.pipelines
.docker*
*.retry
*.rpm
celerybeat.pid
.cache
Dockerfile.local
.python-version

.tox/
tests_integration/web-ui/report/
./artifacts
