# Packages used in kubedock/tests_integration
nose
paramiko
pyyaml
python-vagrant==0.5.11
colorama==0.3.7
pytest==3.0.1
pytest-instafail==0.3.0
pygments
click>=6.3
pexpect==4.2.0
git+https://github.com/python-oca/python-oca@fe5e7fee2a3e9c21874f90aca8940ad895b529c8
junit-xml==1.7
requests==2.4.3
redis==2.10.5
python-memcached==1.58
PyGreSQL==5.0.2
