<!DOCTYPE html>
<html lang="en">
    <head>
        <title>tutudock project</title>
        <meta charset="utf8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        <link rel="stylesheet" href="/static/css/dropdowns-enhancement.css">

        {% assets "app_css" -%}
            <link rel="stylesheet"href="{{ ASSET_URL }}">
        {%- endassets %}
        {% assets "less_css" -%}
            <link rel="stylesheet/less" type="text/css" href="{{ ASSET_URL }}">
        {%- endassets %}

        {% assets "less_js" -%}
            <script src="{{ ASSET_URL }}"></script>
        {% endassets %}     
    </head>
    <body>

    {% with items=MENU.navbar.get_items() %}
    {% include "inc/navbar_menu.html" %}
    {% endwith %}

        <!-- contents container -->
        <div id="contents"></div>
        {% block script_templates %}

        <!-- Page Header template -->
        <script type="text/template" id="page-header-title-template"><%- name %></script>

        <!-- Page Info Panel template -->
        <script type="text/template" id="page-info-panel-template">
            <table class="table" id="imagelist-table">
            <thead>
                <tr>
                    <th data-column="0" tabindex="0" unselectable="on" style="-webkit-user-select: none;"><div class="tablesorter-header-inner"><input type="checkbox"></div></th>
                    <th data-column="1" class="tablesorter-header tablesorter-headerDesc" tabindex="0" unselectable="on" style="-webkit-user-select: none;"><div class="tablesorter-header-inner"><b class="caret"></b></div></th>
                    <th data-column="2" class="tablesorter-header tablesorter-headerDesc" tabindex="0" unselectable="on" style="-webkit-user-select: none;"><div class="tablesorter-header-inner">Image name<b class="caret"></b></div></th>
                    <th data-column="3" class="tablesorter-header tablesorter-headerDesc" tabindex="0" unselectable="on" style="-webkit-user-select: none;"><div class="tablesorter-header-inner">IP<b class="caret"></b></div></th>
                    <th data-column="4" class="tablesorter-header tablesorter-headerDesc" tabindex="0" unselectable="on" style="-webkit-user-select: none;"><div class="tablesorter-header-inner">Status<b class="caret"></b></div></th>
                    <th data-column="5" class="tablesorter-header tablesorter-headerDesc" tabindex="0" unselectable="on" style="-webkit-user-select: none;"><div class="tablesorter-header-inner">Kube quantity<b class="caret"></b></div></th>
                    <th data-column="6" class="tablesorter-header tablesorter-headerDesc" tabindex="0" unselectable="on" style="-webkit-user-select: none;"><div class="tablesorter-header-inner">Deployed<b class="caret"></b></div></th>

                </tr>
            </thead>
            <tbody></tbody>
            </table>

            <% states = {
                running: 'glyphicon glyphicon-play',
                stopped: 'glyphicon glyphicon-stop',
                unknown: 'glyphicon glyphicon-question-sign'
            } %>
	    {#
            <div class="col-md-8">
                <button class="btn btn-default stats">Stats</button>
            </div>
	    #}
        </script>

        <!-- Page Container item template -->
        <script type="text/template" id="page-container-item-template">
            <td><input type="checkbox" class="check-item"></td>
            <td><%- index %></td>
            <td>
            	<a href="#poditem/<%- parentID %>/<%- name %>"><%- image %></a>
                <span class="terminate-btn">Delete</span>
            </td>
            <td><span>10.10.10.10</span></td>
            <td>
                <% if (state_repr == 'running' )  { %>
                    <span><%- state_repr %></span>
                    <span class="stop-btn">Stop</span>
                <% } else { %>
                    <span><%- state_repr %></span>
                    <span class="start-btn">Start</span>
                <% } %>
            </td>
            <td><span><%- kubes ? kubes : 'unknown' %></span></td>
            <td>
                <span><%- startedAt ? startedAt : '' %></span>
            </td>
        </script>

        <!-- ########## Pods List templates ########## -->

        <!-- Pods list LayoutView template -->
        <script type="text/template" id="layout-pod-list-template">
            <div id="layout-list"></div>
            <div id="layout-footer"></div>
        </script>

        <!-- Pods items table compositeView template -->
        <script type="text/template" id="pod-list-template">
            <div class="breadcrumbs-wrapper">
                <div class="container breadcrumbs" id="breadcrumbs">
                    <ul class="breadcrumb">
                        <li class="active">
                            Pods
                        </li>
                    </ul>
                    <div class="control-group">
                        <a id="add_pod" href="/#newpod">Add new container</a>
                        <div class="nav-search" id="nav-search">
                            <form class="form-search">
                                <input type="text" placeholder="Search" class="nav-search-input" id="nav-search-input" autocomplete="off">
                                <i class="nav-search-icon"></i>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="col-md-12">
                    <table id="podlist-table" class="table tablesorter tablesorter-default">
                        <thead>
                            <tr class="tablesorter-headerRow">
                                <th data-column="0" class="tablesorter-header tablesorter-headerDesc" tabindex="0" unselectable="on" style="-webkit-user-select: none;"><div class="tablesorter-header-inner"><input type="checkbox"></div></th>
                                <th data-column="1" class="tablesorter-header tablesorter-headerDesc" tabindex="0" unselectable="on" style="-webkit-user-select: none;"><div class="tablesorter-header-inner"><b class="caret"></b></div></th>
                                <th data-column="2" class="tablesorter-header" tabindex="0" unselectable="on" style="-webkit-user-select: none;"><div class="tablesorter-header-inner">Pod name<b class="caret"></b></div></th>
                                <th data-column="4" class="tablesorter-header" tabindex="0" unselectable="on" style="-webkit-user-select: none;"><div class="tablesorter-header-inner">Replicated<b class="caret"></b></div></th>
                                <th data-column="5" class="tablesorter-header" tabindex="0" unselectable="on" style="-webkit-user-select: none;"><div class="tablesorter-header-inner">Status<b class="caret"></b></div></th>
                                <th data-column="6" class="tablesorter-header" tabindex="0" unselectable="on" style="-webkit-user-select: none;"><div class="tablesorter-header-inner">Kube type<b class="caret"></b><br/>(kubes quantity)</div></th>
                                <th data-column="7" class="tablesorter-header" tabindex="0" unselectable="on" style="-webkit-user-select: none;"><div class="tablesorter-header-inner">Deployed<b class="caret"></b><br/>date</div></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </script>

        <!-- Pods Item templates -->

        <!-- Pods list row view template -->
        <script type="text/template" id="pod-list-item-template">
            <% states = {
                running: 'glyphicon glyphicon-play',
                unknown: 'glyphicon glyphicon-question-sign'
            } %>
            <!-- table data row -->
            <td>
                <input type="checkbox">
            </td>
            <td>#</td>
            <td>
                <!-- <span class="badge">
                    <%- containers.length %>
                </span> -->
                <%- name %>
                <a href="/#pods/<%- id %>" title="Edit <%- name %> pod" class="editPod" >&nbsp;</a>
            </td>
            <td>
                <span class=" glyphicon"></span>
                <% if (cluster){ %>
                    <span class="reditable editable editable-click" style="display: inline-block;"><%- replicas %></span>
                <% }  else { %>
                    none
                <% } %>
            </td>
            <td>
            	<% if ( status = 'running') { %>
            		<span><%- status %></span>
                	<span class="stop-btn" title="Stop <%- name %> pod">Stop</span>
            	<% } else if ( status = 'stopped' ) { %>
            		<span><%- status %></span>
                	<span class="start-btn" title="Start <%- name %> pod">Start</span>
               	<% } else if ( status = 'waiting' ) { %>
            		<span><%- status %></span>
                	<span class="start-btn" title="Start <%- name %> pod">Start</span>
				<% } else { %>
					<span><%- status %></span>
				<% } %>
            </td>
            <td>some kube type(10)
                <!-- <span class="glyphicon glyphicon-share <%- service ? 'service-on' : 'service-off' %>"></span>
                <% if ( service && portalIP !== undefined) { %>
                    <span><%- portalIP %></span>
                <% } %>  -->
            </td>
            <td> 
                01/02/2015
            </td>
            <!-- end of table data row -->
        </script>

        <!-- Pods item Details LayoutView template -->
        <script type="text/template" id="layout-pod-item-template">
            <div class="breadcrumbs-wrapper">
                <div class="container breadcrumbs" id="breadcrumbs">
                    <ul class="breadcrumb">
                        <li>
                            <div id="podlistPage">Pods</div>
                        </li>
                        <li id="masthead-title" class="active"></li>
                    </ul>
                    <div class="control-group">
                        <button id="add_pod">Add container</button>
                        <button id="rename_pod">Rename pod</button>
                        <div class="nav-search" id="nav-search">
                            <form class="form-search">
                                <input type="text" placeholder="Search" class="nav-search-input" id="nav-search-input" autocomplete="off">
                                <i class="nav-search-icon"></i>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div id="item-controls" class="col-md-12"></div>
            </div>
            <div id="item-info" class="container"></div>

            <!-- <div class="container">
                <div id="layout-aside" class="col-md-4"></div>
                <div id="layout-contents" class="col-md-8"></div>
            </div> -->
        </script>

        <!-- A pod controls template -->
        <script type="text/template" id="pod-item-controls-template">
            <div class="no-padding">
                <span class="status-line running">Status: Running</span>
                <span class="start-btn">start</span>
                <span class="stop-btn">stop</span>
                <span class="terminate-btn">delete</span>
                <% if (graphs) { %>
                    <span class="list-btn">data</span>
                <% } else { %>
                    <span class="stats-btn">stats</span>
                <% } %>
            </div>
            <div class="row placeholders">
                <div class="col-xs-10 col-xs-offset-2">
                    <div class="col-xs-6 info">
                        <div>Status: Init</div>
                        <div>Endpoint: 190.22.120.50</div>
                        <div>Internal IP: 10.122.10.20</div>
                    </div>
                    <div class="col-xs-6 servers">
                        <div><b>My best Pod</b></div>
                        <div>Kube type: SSD Power</div>
                        <div>Restart police: Never or replicas quantity</div>
                        <div>Kube/replica: 100 (total 84)</div>
                        <div>Price: 55$/month</div>
                        <div class="edit">Edit pod</div>
                    </div>
                </div>
            </div>
        </script>

        <!-- A pod details template -->
        <script type="text/template" id="pod-item-container-template">
            <% states = {
                running: 'glyphicon glyphicon-play',
                unknown: 'glyphicon glyphicon-question-sign'
            } %>
            <div><a href="/#poditem/<%- parentID %>/<%-name %>"><%- image %></a></div>
        </script>

        <!-- A pod graph template -->
        <script type="text/template" id="pod-item-graph-template">
            <div class="graph-item"></div>
        </script>

        <!-- A pod main data template -->
        <script type="text/template" id="pod-item-main-template">
            <table class="table">
                <tbody>
                    <tr><td>ID</td><td><%- id %></td></tr>
                    <tr><td>Name</td><td><%- name %></td></tr>
                </tbody>
            </table>
        </script>

        <!-- A Pod creation wizard layout template -->
        <script type="text/template" id="layout-wizard-template">
            <div id="header-steps" class="container"></div>
            <div id="steps" class="row"></div>
            <div id="footer-steps" class="container"></div>
        </script>

        <!-- An image collection item template -->
        <script type="text/template" id="wizard-image-collection-item-template">
            <div class="item-header">
                <div class="item-status">
                    <span class="glyphicon glyphicon-globe"></span>
                </div>
                <div class="item-header-title"><%= name || 'nameless' %></div>
                <div class="item-header-controls">
                    <span class="glyphicon glyphicon-plus add-item el-control"></span>
                </div>
            </div>
            <div class="item-body">
                <div class="item-body-info">
                    <%= description || 'No description' %>
                </div>
            </div>
        </script>

        <!-- Wizard get image template -->
        <script type="text/template" id="wizard-get-image-template">
            <p class="text-info">
                Default repository:
                <span id="search-image-default-repo" class="editable editable-click"
                      style="font-weight: bold; cursor: pointer;">
                    registry.hub.docker.com
                </span>
            </p>
            <div class="input-group">
                <input type="text" id="search-image-field" class="form-control"
                       placeholder="Enter image or part of image name to search">
                <span class="input-group-btn">
                    <button class="btn btn-default search-image" type="button">Search!</button>
                    <a href="/#pods" class="btn btn-default cancel-search" type="button">Cancel</a>
                </span>
            </div><!-- input-group -->
{#            <div id="data-collection"></div>#}
{#            <div id="pager"></div>#}
            <div id="search-results-scroll">
                <div id="data-collection"></div>
                <div class="btn btn-more btn-link" style="display: none;">Load more</div>
                <div class="state no-more-state" style="display: none;">There are no more items</div>
                <div class="state load-state" style="display: none;">Loading...</div>
            </div>
        </script>

        <script type="text/template" id="image-collection-item-template">
            <div class="item-header">
                <div class="item-status">
                    <span class="glyphicon glyphicon-globe"></span>
                </div>
                <div class="item-header-title"><%= name || 'nameless' %></div>
                <div class="item-header-controls">
                    <span class="glyphicon glyphicon-plus add-item el-control"></span>
                </div>
            </div>
            <div class="item-body">
                <div class="item-body-info">
                    <%= description || 'No description' %>
                </div>
            </div>
        </script>


        <!-- Wizard set container port template -->
        <script type="text/template" id="wizard-set-container-ports-template">
            <div class="row title">
                <div class="col-md-4">
                    <h4><%- image %></h4>
                </div>
                <div class="col-md-7">
                    <ul class="nav nav-pills">
                        <li role="presentation"><span class="active btn btn-info">Ports</span></li>
                        <li role="presentation"><span class="go-to-volumes btn btn-info">Volumes</span></li>
                        <li role="presentation"><span class="go-to-envs btn btn-info">Envvars</span></li>
                        <li role="presentation"><span class="go-to-resources btn btn-info">Limits</span></li>
                        <li role="presentation"><span class="go-to-other btn btn-info">Other</span></li>
                        <% if (!isPending) { %>
                        <li role="presentation"><span class="go-to-logs btn btn-info">Logs</span></li>
                        <% } %>
                    </ul>
                </div>
            </div>
            <table class="table">
                <thead><tr><th>Container port</th><th>Protocol</th><th>Host port</th></tr></thead>
                <tbody>
                <% _.each(ports, function(p){ %>
                    <tr>
                        <td class="containerPort"><span class="ieditable"><%- p.containerPort %></span></td>
                        <td><span class="iseditable"><%- p.protocol %></span></td>
                        <td class="hostPort"><span class="ieditable"><%- p.hostPort %></span></td>
                    </tr>
                <% }) %>
                </tbody>
            </table>
            <div>
                <button type="button" class="btn btn-success btn-sm btn-block add-port">Add</button>
            </div>
            <div class="view-controls text-right">
                <% if (isPending) { %>
                <button class="btn btn-default next-step">Next</button>
                <button class="btn btn-primary complete">Complete</button>

                <% } else { %>
                <a class="btn btn-default" href="/#pods/<%- parentID %>">Back</a>
                <% } %>
            </div>
        </script>

        <!-- Wizard set container volumes template -->
        <script type="text/template" id="wizard-set-container-volumes-template">
            <div class="row title">
                <div class="col-md-4">
                    <h4><%- image %></h4>
                </div>
                <div class="col-md-7">
                    <ul class="nav nav-pills">
                        <li role="presentation"><span class="go-to-ports btn btn-info">Ports</span></li>
                        <li role="presentation"><span class="active btn btn-info">Volumes</span></li>
                        <li role="presentation"><span class="go-to-envs btn btn-info">Envvars</span></li>
                        <li role="presentation"><span class="go-to-resources btn btn-info">Limits</span></li>
                        <li role="presentation"><span class="go-to-other btn btn-info">Other</span></li>
                        <% if (!isPending) { %>
                        <li role="presentation"><span class="go-to-logs btn btn-info">Logs</span></li>
                        <% } %>
                    </ul>
                </div>
            </div>
            <table class="table">
                <thead><tr><th>Name</th><th>Mount path</th><th>Read Only</th></tr></thead>
                <tbody>
                <% _.each(volumeMounts, function(v){ %>
                    <tr>
                        <td><span class="ieditable name"><%- v.name %></span></td>
                        <td><span class="ieditable mountPath"><%- v.mountPath %></span></td>
                        <% if (v.readOnly){ %>
                        <td><span class="glyphicon glyphicon-check readonly readonly-on"></span></td>
                        <% } else { %>
                        <td><span class="glyphicon glyphicon-unchecked readonly readonly-off"></span></td>
                        <% } %>
                    </tr>
                <% }) %>
                </tbody>
            </table>
            <div>
                <button type="button" class="btn btn-success btn-sm btn-block add-vol">Add</button>
            </div>
            <div class="view-controls text-right">
                <% if (isPending) { %>
                <button class="btn btn-default prev-step">Previous</button>
                <button class="btn btn-default next-step">Next</button>
                <button class="btn btn-primary complete">Complete</button>
                <% } else { %>
                <a class="btn btn-default" href="/#pods/<%- parentID %>">Back</a>
                <% } %>
            </div>
        </script>

        <!-- Wizard set container envvars template -->
        <script type="text/template" id="wizard-set-container-env-template">
            <div class="row title">
                <div class="col-md-4">
                    <h4><%- image %></h4>
                </div>
                <div class="col-md-7">
                    <ul class="nav nav-pills">
                        <li role="presentation"><span class="go-to-ports btn btn-info">Ports</span></li>
                        <li role="presentation"><span class="go-to-volumes btn btn-info">Volumes</span></li>
                        <li role="presentation"><span class="active btn btn-info">Envvars</span></li>
                        <li role="presentation"><span class="go-to-resources btn btn-info">Limits</span></li>
                        <li role="presentation"><span class="go-to-other btn btn-info">Other</span></li>
                        <% if (!isPending) { %>
                        <li role="presentation"><span class="go-to-logs btn btn-info">Logs</span></li>
                        <% } %>
                    </ul>
                </div>
            </div>
            <div>
                <table id="data-table" class="table">
                    <thead><tr><th class="text-center">Key</th><th class="text-center">Value</th></tr></thead>
                    <tbody>
                    <% _.each(env, function(e){ %>
                        <tr>
                            <td class="text-center"><span class="ieditable name"><%- e.name ? e.name : 'not set' %></span></td>
                            <td class="text-center"><span class="ieditable value"><%- e.value ? e.value : 'not set' %></span></td>
                        </tr>
                    <% }) %>
                    </tbody>
                </table>
            </div>
            <div>
                <button type="button" class="btn btn-success btn-sm btn-block add-env">Add</button>
            </div>
            <div class="view-controls text-right">
                <% if (isPending) { %>
                <button class="btn btn-default prev-step">Previous</button>
                <button class="btn btn-default next-step">Next</button>
                <button class="btn btn-primary complete">Complete</button>
                <% } else { %>
                <a class="btn btn-default" href="/#pods/<%- parentID %>">Back</a>
                <% } %>
            </div>
        </script>

        <!-- Wizard set container limits template -->
        <script type="text/template" id="wizard-set-container-resources-template">
            <div class="row title">
                <div class="col-md-4">
                    <h4><%- image %></h4>
                </div>
                <div class="col-md-7">
                    <ul class="nav nav-pills">
                        <li role="presentation"><span class="go-to-ports btn btn-info">Ports</span></li>
                        <li role="presentation"><span class="go-to-volumes btn btn-info">Volumes</span></li>
                        <li role="presentation"><span class="go-to-envs btn btn-info">Envvars</span></li>
                        <li role="presentation"><span class="active btn btn-info">Limits</span></li>
                        <li role="presentation"><span class="go-to-other btn btn-info">Other</span></li>
                        <% if (!isPending) { %>
                        <li role="presentation"><span class="go-to-logs btn btn-info">Logs</span></li>
                        <% } %>
                    </ul>
                </div>
            </div >
            <div>
                <table class="table">
                    <thead>
                        <tr>
                            <td class="text-center">Kubes</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center"><span class="ieditable kubes"><%- kubes ? kubes : '1' %></span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="view-controls text-right">
                <% if (isPending) { %>
                <button class="btn btn-default prev-step">Previous</button>
                <button class="btn btn-default next-step">Next</button>
                <button class="btn btn-primary complete">Complete</button>
                <% } else { %>
                <a class="btn btn-default" href="/#pods/<%- parentID %>">Back</a>
                <% } %>
            </div>
        </script>

        <!-- Wizard set container other params template -->
        <script type="text/template" id="wizard-set-container-other-template">
            <div class="row title">
                <div class="col-md-4">
                    <h4><%- image %></h4>
                </div>
                <div class="col-md-7">
                    <ul class="nav nav-pills">
                        <li role="presentation"><span class="go-to-ports btn btn-info">Ports</span></li>
                        <li role="presentation"><span class="go-to-volumes btn btn-info">Volumes</span></li>
                        <li role="presentation"><span class="go-to-envs btn btn-info">Envvars</span></li>
                        <li role="presentation"><span class="go-to-resources btn btn-info">Limits</span></li>
                        <li role="presentation"><span class="active btn btn-info">Other</span></li>
                        <% if (!isPending) { %>
                        <li role="presentation"><span class="go-to-logs btn btn-info">Logs</span></li>
                        <% } %>
                    </ul>
                </div>
            </div>
            <div>
                <table class="table">
                    <thead><tr><th class="text-center">Working directory</th><th class="text-center">Command</th></tr></thead>
                    <tbody>
                        <tr>
                            <td class="text-center"><span class="ieditable working-dir"><%- workingDir ? workingDir : '' %></span></td>
                            <td class="text-center"><span class="ieditable command"><%- command ? command.join(' ') : '' %></span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="view-controls text-right">
                <% if (isPending) { %>
                <button class="btn btn-default prev-step">Previous</button>
                <button class="btn btn-primary complete">Complete</button>
                <% } else { %>
                <a class="btn btn-default" href="/#pods/<%- parentID %>">Back</a>
                <% } %>
            </div>
        </script>

        <!-- Wizard set container logs template -->
        <script type="text/template" id="wizard-set-container-logs-template">
            <div class="row title">
                <div class="col-md-4">
                    <h4><%- image %></h4>
                </div>
                <div class="col-md-7">
                    <ul class="nav nav-pills">
                        <li role="presentation"><span class="go-to-ports btn btn-info">Ports</span></li>
                        <li role="presentation"><span class="go-to-volumes btn btn-info">Volumes</span></li>
                        <li role="presentation"><span class="go-to-envs btn btn-info">Envvars</span></li>
                        <li role="presentation"><span class="go-to-resources btn btn-info">Limits</span></li>
                        <li role="presentation"><span class="go-to-other btn btn-info">Other</span></li>
                        <li role="presentation"><span class="active btn btn-info">Logs</span></li>
                    </ul>
                </div>
            </div>
            <div class="container-logs">
                <% _.each(logs, function(line){ %>
                <p><%- line['@timestamp'] %>: <%- line['log'] %></p>
                <% }) %>
            </div>
            <div class="view-controls text-right">
                <a class="btn btn-default" href="/#pods/<%- parentID %>">Back</a>
            </div>
        </script>

        <!-- Wizard new pod summary template -->
        <script type="text/template" id="wizard-set-container-complete-template">
            <div class="col-md-4 col-md-offset-1">
		{#
                <table class="table">
                    <thead><tr><th></th><th>Cluster</th></tr></thead>
                    <tbody>
                        <% if (cluster){ %>
                        <tr>
                            <td><span class="glyphicon glyphicon-check cluster cluster-on"></span></td>
                            <td>Replicated</td>
                        </tr>
                        <tr>
                            <td><input class="replicas" type="number" value="<%- replicas %>"></td>
                            <td>Replicas</td>
                        </tr>
                        <tr>
                            <td><span class="glyphicon glyphicon-share entrypoint entrypoint-on"></span></td>
                            <td><span><%- portalIP ? portalIP : 'dynamic' %></span>:<span class="ieditable port"><%- port %></span></td>
                        </tr>
                        <% } else { %>
                        <tr>
                            <td><span class="glyphicon glyphicon-unchecked cluster cluster-off"></span></td>
                            <td>Replicated</td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
		#}
                <% if(freeHost) { %>
                <table class="table">
                <thead><tr><th></th><th>Public IP</th></tr></thead>
                <tbody><tr>
                    <td><input type="checkbox" id="set_public_ip"
                               name="set_public_ip" value="1"/></td>
                    <th><label for="set_public_ip">Set public IP: <%- freeHost %></label></th>
                </tr></tbody>
                </table>
                <% } %>
		{#
                <% if (nodes.length !== 0){ %>
                <table class="table">
                    <thead><tr><th></th><th>Node to run on</th></tr></thead>
                    <tbody>
                        <% _.each(nodes, function(n){ %>
                        <tr>
                            <td>
                            <% if (node !== null && node === n.hostname){ %>
                            <span class="glyphicon glyphicon-check node node-selected"></span>
                            <% } else { %>
                            <span class="glyphicon glyphicon-unchecked node node-unselected"></span>
                            <% } %>
                            </td>
                            <td><%- n.hostname %></td>
                        </tr>
                        <% }) %>
                    </tbody>
                </table>
                <% } %>
		#}
                <% if (volumes.length !== 0){ %>
                <table class="table">
                    <thead><tr><th>Volume</th><th>Path</th></tr></thead>
                    <tbody>
                        <% _.each(volumes, function(vol){ %>
                        <tr>
                            <td><%- vol['name'] %></td>
                            <td><span class="ieditable volume"><%- vol.hasOwnProperty('source') && vol['source'].hasOwnProperty('hostDir') && vol['source']['hostDir'].hasOwnProperty('path') ? vol['source']['hostDir']['path'] : null %></span></td>
                        </tr>
                        <% }) %>
                    </tbody>
                </table>
                <% } %>
            </div>
            <div class="col-md-5">
                <table class="table">
                    <thead><tr><th>Services</th><th></th></tr></thead>
                <% _.each(containers, function(c){ %>
                    <tr>
                        <td class="lead"><%- c.image %></td>
                        <td class="text-right"><button class="btn btn-danger btn-sm delete-item"><span class="glyphicon glyphicon-trash"></span>&nbsp;Delete</button></td>
                    </tr>
                <% }) %>
                </table>
                <label for="extra-options">Extra Options</label>
                <select class="kube_type" id="extra-options">
                    <option value="Choose kube type" disabled selected>Choose kube type</option>
                    {% for kube_type in kube_types %}
                    <option value="{{ kube_type.id }}">{{ kube_type.name }}</option>
                    {% endfor %}
                </select>
                <div class="view-controls text-right">
                    <button class="btn btn-warning save-container">Save</button>
                    <button class="btn btn-success save-run-container">Save and Run</button>
                    <button class="btn btn-primary add-more">Add more services</button>
                </div>
            </div>
        </script>

        <!-- paginator template -->
        <script type="text/template" id="paginator-template">
            <% if ( c.state.pageSize < c.state.totalRecords){ %>
            <ul class="pager">
                <li class="paginatorFirst pseudo-link custom-link btn btn-small">first</li>
                <li class="paginatorPrev pseudo-link custom-link btn btn-small">prev</li>
                <li class="paginatorStat btn btn-small green"><%- c.state.currentPage %> of <%- c.state.totalPages %></li>
                <li class="paginatorNext pseudo-link custom-link  btn btn-small">next</li>
                <li class="paginatorLast pseudo-link custom-link btn btn-small">last</li>
            </ul>
            <% } %>
        </script>

        <div class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body">
                        One fine body
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <script type="text/javascript">
            var current_username = "{{current_user.username }}",
                administrator = "{{ current_user.is_administrator() }}" === "True" ? true : false;
        </script>
        {% endblock %}
        
        <div id="page-preloader"></div>

        {% assets "vendor_js" -%}
          <script src="{{ ASSET_URL }}"></script>
        {% endassets %}

        {% block app_js_asset %}
            {% assets "app_js" -%}
              <script src="{{ ASSET_URL }}"></script>
            {% endassets %}
            <script type="text/javascript">
                var initPodCollection = new KubeDock.Data.PodCollection({{ pod_collection|safe }});
                var containerCollection;
            </script>
        {% endblock %}

        {% block users_app_js_asset %}{% endblock %}
        {% block nodes_app_js_asset %}{% endblock %}

    </body>
</html>
