<!DOCTYPE html>
<html lang="en">
    <head>
        <title>KuberDock</title>
        <meta charset="utf8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        <link rel="stylesheet" href="/static/css/dropdowns-enhancement.css">

        {% assets "app_css" -%}
            <link rel="stylesheet"href="{{ ASSET_URL }}">
        {%- endassets %}
        {% assets "less_css" -%}
            <link rel="stylesheet/less" type="text/css" href="{{ ASSET_URL }}">
        {%- endassets %}

        {% assets "less_js" -%}
            <script src="{{ ASSET_URL }}"></script>
        {% endassets %}
    </head>
    <body>

    {% with items=MENU.navbar.get_items() %}
    {% include "inc/navbar_menu.html" %}
    {% endwith %}

        <!-- contents container -->
        <div id="contents"></div>
        {% block script_templates %}

        <script type="text/template" id="image-collection-item-template">
            <div class="col-xs-12 no-padding">
                <div class="col-xs-10 no-padding">
                    <div class="item-header-title"><%= name || 'nameless' %></div>
                    <div class="item-body-info">
                        <%= description || 'No description' %>
                    </div>
                    <% if (description && name) { %>
                        <div class="more">
                            <a href="http://<%= _options.requestData.url %>/u/<%= name %>"
                               target="blank">more...</a>
                        </div>
                    <% } %>
                </div>
                <div class="col-xs-2 no-padding">
                    <button class="like"><%= star_count %></button>
                    <button class="add-item">Select</button>
                </div>
            </div>
        </script>

        <div class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"></span>
                        </button>
                        <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body"></div>
                    <div class="modal-footer buttons">
                        <button type="button" class="blue" data-dismiss="modal">ok</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="page-preloader"></div>

        <script type="text/javascript">
            var current_username = "{{current_user.username }}",
                administrator = "{{ current_user.is_administrator() }}" === "True" ? true : false;
        </script>
        {% endblock %}

        {% block app_js_asset %}
        <script data-main="{{ url_for('static', filename='js/pods_app/require_pods.js') }}" src="{{ url_for('static', filename='js/lib/require.js') }}"></script>
        <script type="text/javascript">
            var podCollectionData = {{ pod_collection|safe }},
                containerCollection,
                kubeTypes = {{ kube_types|tojson|safe }},
                packages = {{ packages|tojson|safe }},
                extraTaxes = {{ extra_taxes|tojson|safe }},
                userSettings = {{ user_settings|tojson|safe }};
        </script>
        {% endblock %}
        {% block users_app_js_asset %}{% endblock %}
        {% block nodes_app_js_asset %}{% endblock %}

    </body>
</html>
