<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}KuberDock{% endblock %}</title>
        <meta charset="utf8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon" />

        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-editable.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.jqplot.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-select.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/dropdowns-enhancement.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.css') }}" >
        <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.jscrollpane.css') }}" >

        <link rel="stylesheet/less" type="text/css" href="{{ url_for('static', filename='css/main.less') }}">
        <script src="{{ url_for('static', filename='js/lib/less.min.js') }}" type="text/javascript"></script>
    </head>
    <body>

        <!-- contents container -->
        <div id="contents"></div>
        {% block script_templates %}

        <div class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"></span>
                        </button>
                        <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body"></div>
                    <div class="modal-footer buttons">
                        <button type="button" class="blue" data-dismiss="modal">ok</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="message-popup"></div>
        <div id="page-preloader">
            <div class="description">
                <h1>Loading data, please wait</h1>
            </div>
            <div class="loader">
                <div class="loader_overlay"></div>
                <div class="loader_cogs">
                    <div class="loader_cogs__top">
                        <div class="top_part"></div>
                        <div class="top_part"></div>
                        <div class="top_part"></div>
                        <div class="top_hole"></div>
                    </div>
                    <div class="loader_cogs__left">
                        <div class="left_part"></div>
                        <div class="left_part"></div>
                        <div class="left_part"></div>
                        <div class="left_hole"></div>
                    </div>
                    <div class="loader_cogs__bottom">
                        <div class="bottom_part"></div>
                        <div class="bottom_part"></div>
                        <div class="bottom_part"></div>
                        <div class="bottom_hole"></div>
                    </div>
                    <p>Processing...</p>
                </div>
            </div>
        </div>
        {% endblock %}

        {% block app_js_asset %}

        <script data-main="{{ url_for('static', filename='js/app_data/require_main.js') }}" src="{{ url_for('static', filename='js/lib/require.js') }}"></script>
        {% endblock %}

        {% if token %}
        <script>
            window.localStorage.authData = {{ token|tojson|safe }};
        </script>
        {% endif %}
    </body>
</html>
