<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}KubeDock.AppCloud project{% endblock %}</title>
        <meta charset="utf8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        {% assets "app_css" -%}
            <link rel="stylesheet"href="{{ ASSET_URL }}">
        {%- endassets %}
        {% assets "less_css" -%}
            <link rel="stylesheet/less" type="text/css" href="{{ ASSET_URL }}">
        {%- endassets %}

        {% block js_extras %}
            {% assets "less_js" -%}
                <script src="{{ ASSET_URL }}"></script>
            {% endassets %}
        {% endblock %}

        {% block head_extras %}{% endblock %}

    </head>
    <body>
        {% block body %}{% endblock %}

        <div class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body">
                        One fine body
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>