- name: Copy license file
  copy: src={{ license_path }} dest={{ copy_license_to }}
  when: license_path != 'patch'
  tags:
      - license
      - patch

- name: Patching a licensing
  lineinfile:
      dest: "{{ master_kd_src_path }}/kubedock/kapi/licensing.py"
      line: "def is_valid(): return True"
      state: present
  when: license_path == 'patch'
  register: patch_license
  tags:
      - license
      - patch

- name: Restart emperor
  service: name=emperor.uwsgi state=restarted
  when: not is_dev_install and patch_license.changed

- name: Patching a licensing on host
  become: false
  lineinfile:
      dest: "{{ host_proj_root }}/kubedock/kapi/licensing.py"
      line: "def is_valid(): return True"
      state: present
  when: license_path == 'patch'
  delegate_to: localhost
  tags:
      - license
      - patch

- name: Hide modified license file from git
  become: False
  command: git update-index --assume-unchanged "{{ host_proj_root }}/kubedock/kapi/licensing.py"
  delegate_to: localhost
  when: license_path == 'patch'
  tags:
      - license
      - patch

