
@import "../variables.less";
@import "../notify.less";
.kd-isv-container {
    @import "../modal.less";
    @import "../preloader.less";
    @import "../statuses.less";
    @import "../tooltip.less";
    @import "../fonts.less";
    @import "../tables.less";
    @import "../buttons.less";
    @import "aside.less";
    @import "topbar.less";
    @import "content.less";

    color: #1d1d1d;
    font-size: 13px;
    line-height: 20px;
    font-family: @regular;
}
