{% extends "layout.html" %}

{% block head_extras %}
<link rel="stylesheet" href="/static/css/jquery-ui.css">
{% endblock %}

{% block body %}
    <style>
    ul#hosts-list { list-style-type: none; }
    </style>
    {% with items=MENU.navbar.get_items() %}
    {% include "inc/navbar_menu.html" %}
    {% endwith %}

    <div id="globalError"></div>
    <!-- contents container -->
    <div id="contents"></div>

    <script type="text/template" id="breadcrumb">
        <div id="networksList">
            <div class="breadcrumbs-wrapper">
                <div class="container breadcrumbs" id="breadcrumbs">
                    <ul class="breadcrumb">
                        <li class="active">
                            IP Pool
                        </li>
                    </ul>
                    <div class="control-group">
                        <button id="create_network">Add subnet</button>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <script type="text/template" id="ippool-aside-template">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="general active">IP pool</li>
            </ul>
        </div>
    </script>

    <script type="text/template" id="ippool-left-template">
        <div class="col-xs-4  col-sm-4 col-md-3 left">
            <table class="table ip_pool_table">
                <thead>
                    <tr>
                        <th>Subnet</th>
                    </tr>
                </thead>
                <tbody class="networks-list"></tbody>
            </table>
        </div>
    </script>

    <script type="text/template" id="ippool-right-template">
        <div class="col-xs-offset-1 col-xs-7 col-sm-7 col-md-8 right"></div>
    </script>

    <script type="text/template" id="network-item-template">
        <td class="col-xs-4 network">
            <%- network %>
            <span id="deleteNetwork" class="pull-right"></span>
        </td>
    </script>

    <script type="text/template" id="network-item-more-template">
        <div data-id="<%- network %>" class="table-wrapper">
            <div class="network-name"><%- network %></div>
            <table class="table ip_table">
                <thead>
                    <tr>
                        <th class="col-xs-6">IP</th>
                        <th class="col-xs-6">Status</th>
                        <!-- <th>Assigned</th> -->
                    </tr>
                </thead>
                <tbody class="networks-list-more">
                    <% _.each(allocation, function(itm){ %>
                        <tr>
                            <td>
                                <%- itm[0] %>
                            </td>
                            <td>
                                <% if(itm[2] == 'busy') { %>
                                    <span class="<%- itm[2] %>"><%- itm[1] %></span>
                                    <span class="unbind_ip pull-right" data-ip="<%- itm[0] %>"></span>
                                <% } else { %>
                                    <span class="<%- itm[1] ? itm[1] : itm[2] %>"><%- itm[1] ? itm[1] : itm[2] %></span>
                                <% }%>
                                <% if(itm[2] == 'blocked') { %>
                                    <span class="unblock_ip pull-right" data-ip="<%- itm[0] %>"></span>
                                <% } else if(itm[2] == 'free') { %>
                                    <span class="block_ip pull-right" data-ip="<%- itm[0] %>"></span>
                                <% } %>
                            </td>
                            <!-- <td>
                                yes or no
                            </td> -->
                        </tr>
                    <% });%>
                </tbody>
            </table>
        </div>
    </script>

    <script type="text/template" id="network-create-template">
        <div id="createNetwork">
            <div class="breadcrumbs-wrapper">
                <div class="container breadcrumbs" id="breadcrumbs">
                    <ul class="breadcrumb">
                        <li>
                            <div class="back">IP Pool</div>
                        </li>
                        <li class="active">Add subnet</li>
                    </ul>
                </div>
            </div>
            <div id="network-contents" class="container">
                <div class="row">
                    <div id="network-controls" class="col-sm-9 col-sm-offset-3 no-padding">
                        <div class="form-group">
                            <label for="network">Subnet</label>
                            <input type="text" name="network" class="masked-ip" id="network" placeholder="1.2.3.4/32">
                        </div>
                        <div class="form-group">
                            <label for="network">Exclude IPs</label>
                            <input type="text" name="autoblock" class="" placeholder="eg 2,3,4 or 2-4 or both">
                        </div>
                    </div>
                    <div class="buttons pull-right">
                        <button class="gray back">Cancel</button>
                        <button id="network-add-btn" type="submit">Add</button>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <script type="text/template" id="networks-layout-template">
        <div id="main"></div>
        <div class="container">
            <div id="aside"></div>
            <div id="details_content" class="col-sm-10">
                <div id="tab-content" class="row">
                    <div id="left"></div>
                    <div id="right"></div>
                </div>
            </div>
        </div>
    </script>

    <script data-main="/static/js/ippool_app/require_main.js" src="/static/js/lib/require.js"></script>

    <script type="text/javascript">
    var networksCollection = {{ networks_collection|safe }};
    </script>

{% endblock %}