{
    "extends": "eslint:recommended",
    "rules": {
        "no-console": [1],
        "no-unused-vars": [1, {"args": "none"}],
        "no-use-before-define": [1, {"functions": false}],
        "eqeqeq": ["error", "smart"],

        "camelcase": [0, {"properties": "always"}],
        "comma-dangle": [0],
        "comma-spacing": [1, {"before": false, "after": true}],
        "indent": [0, 4],
        "linebreak-style": [2, "unix"],
        "max-depth": [1, 8],
        "max-len": [1, {"code": 100, "ignoreUrls": true}],
        "no-trailing-spaces": [1],
        "no-unneeded-ternary": [1],
        "quotes": [0, "single", {"avoidEscape": true, "allowTemplateLiterals": true}],
        "semi": [1, "always"],
        "semi-spacing": [1, {"before": false, "after": true}]
    },
    "plugins": [],
    "env": {
        "es6": false,
        "node": false,
        "amd": true,
        "browser": true,
        "jquery": true
    },
    "globals": {
        "_" : false,
        "Backbone": false,
        "Marionette": false,
        "BBCodeParser": false,
        "jsyaml": false
    }
}
