{% macro render_field(field, icon, text) %}

<div class="form-group">
    <div class="input-group">
        <span class="input-group-addon"><span class="glyphicon glyphicon-{{ icon }}"></span></span>
        {{ field(class='form-control', placeholder=text) }}
    </div>
</div>

{% if field.errors %}
<div class="form-error">
    {% for error in field.errors %}
        <div class="alert alert-danger">
            {{ field.label }} {{ error }}
        </div>
    {% endfor %}
</div>
{% endif %}

{% endmacro %}
