{% extends 'base.html' %}
{% import 'macros.html' as macros %}

{% block content %}
<div class="col-xs-4">
    <h2 class="sub-header">Add Container</h2>
    {% call macros.render_form(form, action_url=url_for('add_container'), action_text='Add', class_='add-form', btn_class='btn btn-success') %}

        {{ macros.render_field(form.name, placeholder='mongo_live') }}
        {{ macros.render_field(form.docker_id, placeholder='mongo') }}
        {{ macros.render_field(form.docker_tag, placeholder='latest') }}
        {{ macros.render_field(form.desc, placeholder='Description here') }}
        {{ macros.render_radio_field(form.deployment_type) }}
        {{ macros.render_field(form.copies) }}
        {{ macros.render_radio_field(form.size) }}
        {{ macros.render_field(form.crash_recovery) }}
        {{ macros.render_field(form.auto_destroy) }}
        {{ macros.render_field(form.deployment_strategy) }}
        {{ macros.render_field(form.user_id) }}
    {% endcall %}
</div>

{% endblock %}
