<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock title %}AppCloud</title>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        {% block extra_head %}{% endblock extra_head %}
    </head>

    <body>
        {% include 'navbar.html' %}<!-- navbar -->
        <div id="content" class="container-fluid">
            <div class="row">
                <div id="flashed" class="col-xs-5">
                    {% with messages = get_flashed_messages() %}
                    {% for message in messages %}
                        {% if g.alert_type %}
                            <div class="alert alert-{{ g.alert_type }}">
                        {% else %}
                            <div class="alert alert-success">
                        {% endif %}
                                {{ message }}
                            </div>
                    {% endfor %}
                    {% endwith %}
                </div>
            </div>
            <div class="row">
                {% block content %}{% endblock content %}
            </div>
        </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    </body>
</html>
