{% extends 'base.html' %}
{% from '_formhelpers.html' import render_field %}

{% block content %}
<div class="col-xs-4">
    <h2 class="sub-header">Register</h2>
    <form method="POST" action="{{ url_for('register') }}">
        {{ render_field(form.email, 'envelope', 'sample@gmail.com') }}
        {{ render_field(form.password, 'lock', 'password') }}
        {{ render_field(form.login, 'user', 'johndoe') }}
        {{ render_field(form.fullname, 'font', 'John Doe') }}
        <button class="btn btn-success" type="submit" value="submit">Register</button>
    </form>
</div>
{% endblock %}
