{% extends "layout.html" %}

{% block head_extras %}
<link rel="stylesheet" href="/static/css/jquery-ui.css">
{% endblock %}

{% block body %}
    {% with items=MENU.navbar.get_items() %}
    {% include "inc/navbar_menu.html" %}
    {% endwith %}

    <div id="globalError"></div>
    <!-- contents container -->
    <div id="contents"></div>


    <!-- main template -->
    <script type="text/template" id="settings-layout-template">
    <div id="main">
        <div class="breadcrumbs-wrapper">
            <div class="container breadcrumbs" id="breadcrumbs">
                <ul class="breadcrumb">
                    <li class="active">
                        <div>Settings</div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-3 col-md-2 sidebar">
                    <ul class="nav nav-sidebar list-unstyled" role="tablist">
                        <li class="general active">
                            <a href="#settingsGeneralTab" role="tab" data-toggle="tab">General</a>
                        </li>
                        <li class="notification">
                            <a href="#settingsNotificationTab" role="tab" data-toggle="tab">Notification</a>
                        </li>
                        <li class="permision">
                            <a href="#settingsPermisionTab" role="tab" data-toggle="tab">Permision</a>
                        </li>
                    </ul>
                </div>
                <div id="details_content" class="col-sm-10">
                    <div class="row placeholders">
                        <div class="tab-content col-xs-12 no-padding-right">
                            <div class="tab-pane fade in active" id="settingsGeneralTab">
                                <div class="content-body">
                                    <div class="title-line col-md-11 col-md-offset-1">Timezone</div>
                                    <div class="col-md-12 no-padding">
                                        <div class="col-md-11 col-md-offset-1 no-padding image">
                                            <select class="selectpicker" id="timezone">
                                                <option>Select 1</option>
                                                <option>Select 2</option>
                                                <option>Select 3</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="buttons pull-right">
                                    <button id="user-cancel-btn" class="" type="submit">Cencel</button>
                                    <button id="user-add-btn" class="" type="submit">Submit</button>
                                </div>
                            </div>
                            <div class="tab-pane fade in" id="settingsNotificationTab">
                                <div class="content-body">
                                    <div class="title-line">Where should we notify you?</div>
                                    <div class="col-md-12 no-padding">settingsNotificationTab tab content</div>
                                </div>
                                <div class="buttons pull-right">
                                    <button id="user-cancel-btn" class="" type="submit">Cencel</button>
                                    <button id="user-add-btn" class="" type="submit">Submit</button>
                                </div>
                            </div>
                            <div class="tab-pane fade in" id="settingsPermisionTab">
                                <div class="content-body">
                                    <div class="title-line">Permision tab</div>
                                    <div class="col-md-12 no-padding">Permision tab content</div>
                                </div>
                                <div class="buttons pull-right">
                                    <button id="user-cancel-btn" class="" type="submit">Cencel</button>
                                    <button id="user-add-btn" class="" type="submit">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
    </script>
    <!-- main template -->

    <script data-main="/static/js/settings_app/require_main.js" src="/static/js/lib/require.js"></script>

    <script type="text/javascript">
    //
    </script>

{% endblock %}
