{% extends "layout.html" %}

{% block head_extras %}
<link rel="stylesheet" href="/static/css/jquery-ui.css">
{% endblock %}

{% block body %}
    {% with items=MENU.navbar.get_items() %}
    {% include "inc/navbar_menu.html" %}
    {% endwith %}

    <div id="globalError"></div>
    <!-- contents container -->
    <div id="contents"></div>

    <script type="text/template" id="notification-create-template">
        <div id="settingsNotificationEditTab">
            <div id="user-contents" class="row">
                <div id="user-controls">
                    <div class="status-line">
                        <label>User Created Notification template</label>
                    </div>
                    <div class="col-xs-8 col-xs-offset-1">
                        <div class="form-group">
                            <label for="id_text_html">HTML</label>
                            <textarea id="id_text_html" rows="10"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="id_text_plain">Plain Text</label>
                            <textarea id="id_text_plain" rows="10"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="id_event">Event</label>
                            <select name="event" id="id_event">
                                {% for eid, event in events.items() %}<option value="{{ eid }}">{{ event }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="help_text">
                            <strong>Template keys</strong>:<br/>
                            <i id="event_keys"></i>
                        </div>
                        <div class="checkbox">
                            <label class="">
                                <input type="checkbox" name="as_html" id="id_as_html">
                                <span></span>
                                Send as HTML
                            </label>
                        </div>
                    </div>
                </div>
                <div class="buttons pull-right">
                    <button id="template-back-btn">Cancel</button>
                    <button id="template-add-btn" class="" type="submit">Submit</button>
                </div>
            </div>
        </div>
    </script>

    <script type="text/template" id="notification-item-template">
        <div class="col-xs-12 no-padding group">
            <span> <%- event.name %> </span>
            <label class="custom" for="itm<%- id %>">
                <input type="checkbox" class="sendAsHTML" id="itm<%- id %>" <% if(as_html) { %>checked<% } %> />

                send as html
            </label>
        </div>
    </script>

    <!--  settingsNotificationTab template -->
    <script type="text/template" id="notifications-settings-template">
        <div class="tab-pane fade in" id="settingsNotificationTab">
            <div class="content-body">
                <div class="row">
                     <div class="col-xs-6 col-xs-offset-1">
                        <label for="notifyEmail">Where should we notify you?</label>
                        <input type="email" placeholder="Email" name="" id="notifyEmail">
                    </div>
                    <div class="col-xs-5 bell"></div>
                  </div>
                <div class="row">
                    <div class="col-xs-6 col-xs-offset-1">
                        <label for="smtp">SMTP</label>
                        <input type="text"  name="" id="smtp">
                    </div>
                    <div class="col-xs-5 inline">
                        <label for="autorization" class="custom">
                        	<input type="checkbox" id="autorization"/>
                        	<span></span>
                        Authorization needed</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-xs-offset-1">
                        <label>Connection type</label>
                        <select class="selectpicker" id="conectionType">
                            <option>Select 1</option>
                            <option>Select 2</option>
                            <option>Select 3</option>
                        </select>
                    </div>
                <div class="col-xs-5 inline">
                    <label for="certificates" class="custom">
                    	<input type="checkbox" id="certificates"/>
                    	<span></span>
                    	Recieve certificates
                    </label>
                    </div>
                </div>
                <div class="row notifications">
                    <div class="col-xs-11 col-xs-offset-1"
                         id="notification-templates">
                        <label>Notification templates</label>
                    </div>
                </div>
            </div>
            <div class="buttons pull-right">
                <button id="user-cancel-btn" class="" type="submit">Cancel</button>
                <button id="user-add-btn" class="" type="submit">Submit</button>
            </div>
        </div>
    </script>

    <!--  settingsGeneralTab template -->
    <script type="text/template" id="general-settings-template">
        <div id="settingsGeneralTab">
            <div class="content-body">
                <div class="col-md-12 no-padding">
                    <div class="col-xs-5 col-xs-offset-1 no-padding">
                        <label>Timezone</label>
                        <select class="selectpicker" id="timezone">
                            <option>Select 1</option>
                            <option>Select 2</option>
                            <option>Select 3</option>
                        </select>
                    </div>
                    <div class="image no-padding col-xs-5 col-xs-offset-1"></div>
                </div>
            </div>
            <div class="buttons pull-right">
                <button id="user-cancel-btn" class="" type="submit">Cencel</button>
                <button id="user-add-btn" class="" type="submit">Submit</button>
            </div>
        </div>
        <!--  end settingsGeneralTab template -->
    </script>

    <!-- main template -->
    <script type="text/template" id="permission-item-template">
        <td class="resource-name"><%- name %></td>
    <% $.each(all_roles, function(id, role){ %>
        <td>
            <% _.each(roles[role.rolename], function(perm){ %>
            <label class="custom">
                <input type="checkbox" name="perm" data-pid="<%- perm.id %>"
                       class="perm-toggle"
                       <% if(perm.allow) { %> checked<% } %> /><span></span>
                <%- perm.name %>
            </label><br/>
            <% }) %>
        </td>
    <% }) %>
    </script>

    <!-- settingsPermisionTab template -->
    <script type="text/template" id="permissions-template">
        <div class="content-body">
            <div class="col-xs-12 no-padding">
                <table class="table" id="permissions-table">
                <thead></thead>
                <tbody></tbody>
                </table>
            </div>
            <div class="col-xs-5 col-xs-offset-1"></div>
        </div>
    </script>


    <script type="text/template" id="settings-layout-template">
        <div>
            <div class="breadcrumbs-wrapper">
                <div class="container breadcrumbs" id="breadcrumbs">
                    <ul class="breadcrumb">
                        <li class="active">
                            <div>Settings</div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-3 col-md-2 sidebar">
                        <ul class="nav nav-sidebar list-unstyled" >
                            <li class="general active">
                                <a href="/settings/" id="general-btn" role="tab" >General</a>
                            </li>
{#                            <li class="notification">#}
{#                                <a href="/settings/notifications/" id="notifications-btn"#}
{#                                   role="tab" >Notification</a>#}
{#                            </li>#}
{#                            <li class="permision">#}
{#                                <a href="/settings/permissions/" id="permissions-btn"#}
{#                                   role="tab" >Permision</a>#}
{#                            </li>#}
                        </ul>
                    </div>
                    <div id="details_content" class="col-sm-10">
                        <div class="row placeholders">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <!-- main template -->

    <script data-main="/static/js/settings_app/require_main.js" src="/static/js/lib/require.js"></script>

    <script type="text/javascript">
    var permissions = {{ permissions|safe }};
    var roles = {{ roles|safe }};
    var notifications = {{ notifications|safe }};
    var eventsKeysList = {{ events_keys|safe }};
    </script>

{% endblock %}
