{% extends "layout.html" %}

{% block body %}
    
    {% include "inc/navbar.html" %}

	<div id="contents" class="container">
		<h2>Account Settings</h2>
		<form class="form-settings">
			<div class="group">
				<label for="inputEmail">Email address</label>
				<input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
			</div>
			<div class="group">
				<label>SSH key</label>
				<textarea class="form-control" cols="35" placeholder=""></textarea>
			</div>
			<button class="btn shdw full submit green green-background" type="submit">Save</button>
      </form>
	</div>

  {% include "inc/footer.html" %}
  
{% endblock %}