    {% if auth_by_id %}<a href="/users/logoutA">Log out [{{ auth_by_id }}]</a>{% endif %}

    <div class="container">
        <div class="navbar" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">
                        <img alt="cloudlinux cubedock" class="logo" src="{{ url_for('static', filename='img/logo2.png') }}">
                    </a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/">Main</a></li>
                        <li><a href="{{ url_for('nodes.index') }}">Nodes</a></li>
                        <li><a href="{{ url_for('users.index') }}">Users</a></li>
                        <li><a href="#">Helpdesk</a></li>
                        <li><a href="#">Settings</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Administration<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ url_for('users.index') }}">Users</a></li>
                                <li><a href="{{ url_for('users.online_users') }}">Online users</a></li>
                                <li><a href="{{ url_for('notifications.index') }}">Notifications</a></li>
                                <li><a href="{{ url_for('menus.index') }}">Static pages + Menu</a></li>
                                <li><a href="{{ url_for('ippool.index') }}">IP pool</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ current_user.username }}<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div><!--/.container-fluid -->
        </div>
    </div>
    <!-- navbar -->
