{% if auth_by_id %}
    <div class="login-view-mode-wrapper">
        <span class="glass pull-left">User View Mode</span>
        <span>Logged in as user: <b>{{ current_user.username }}</b></span>
        <a href="/users/logoutA">Exit Mode</a>
    </div>
{% endif %}

<div class="container">
    <div class="navbar" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <img alt="cloudlinux cubedock" class="logo" src="{{ url_for('static', filename='img/logo2.png') }}">
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    {% for item in items %}<li class="dropdown">
                        {% with children=item.get_children() %}
                        {% include 'inc/navbar_menu_item.html' %}
                        {% endwith %}
                    </li>
                    {% endfor %}
                </ul>
                {% if not auth_by_id %}
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown profile-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ current_user.username }}<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
                        </ul>
                    </li>
                </ul>
                {% endif %}
            </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </div>
</div>
<!-- navbar -->
