        <!-- navbar -->
        <nav id="navbar" class="navbar">
            <div id="navbar-container" class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">
                        <img alt="cloudlinux cubedock" class="logo" src="{{ url_for('static', filename='img/header-logo.png') }}">
                    </a>
                </div>
                <div class="nav-controls">
                    <div class="navbar-text">
                        <span class="dropdown">
                            <span class="dropdown-toggle" data-toggle="dropdown" role="button" area-expanded="false">
                                <span class="navbar-link">Administrate</span>
                                <span class="caret"></span>
                            </span>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="{{ url_for('users.index') }}"><span class="navbar-link">Users</span></a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="{{ url_for('users.online_users') }}">Online users</a>
                                </li>
                                <li>
                                    <a href="{{ url_for('notifications.index') }}">Notifications</a>
                                </li>
                                <li>
                                    <a href="{{ url_for('menus.index') }}">Static pages + Menu</a>
                                </li>
                            </ul>
                        </span>
                    </div>
                    <div class="navbar-text">
                        <a href="{{ url_for('nodes.index') }}"><span class="navbar-link">Manage Nodes</span></a>
                    </div>
                    <div class="navbar-text navbar-right btn green">
                        <span class="dropdown">
                            <span class="dropdown-toggle" data-toggle="dropdown" role="button" area-expanded="false">
                                <span class="navbar-link">{{current_user.username }}</span>
                                <span class="caret"></span>
                            </span>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
                            </ul>
                        </span>
                    </div>
                </div>
            </div><!-- navbar-container -->
        </nav><!-- end of navbar -->