@font-face {
    font-family: 'ProximaNovaBlack';
    src: url('../fonts/ProximaNovaBlack.eot');
    src: url('../fonts/ProximaNovaBlack.eot') format('embedded-opentype'),
         url('../fonts/ProximaNovaBlack.woff2') format('woff2'),
         url('../fonts/ProximaNovaBlack.woff') format('woff'),
         url('../fonts/ProximaNovaBlack.ttf') format('truetype'),
         url('../fonts/ProximaNovaBlack.svg#ProximaNovaBlack') format('svg');
}
@font-face {
    font-family: 'ProximaNovaXbold';
    src: url('../fonts/ProximaNovaXbold.eot');
    src: url('../fonts/ProximaNovaXbold.eot') format('embedded-opentype'),
         url('../fonts/ProximaNovaXbold.woff2') format('woff2'),
         url('../fonts/ProximaNovaXbold.woff') format('woff'),
         url('../fonts/ProximaNovaXbold.ttf') format('truetype'),
         url('../fonts/ProximaNovaXbold.svg#ProximaNovaXbold') format('svg');
}
@font-face {
    font-family: 'ProximaNovaRegIt';
    src: url('../fonts/ProximaNovaRegIt.eot');
    src: url('../fonts/ProximaNovaRegIt.eot') format('embedded-opentype'),
         url('../fonts/ProximaNovaRegIt.woff2') format('woff2'),
         url('../fonts/ProximaNovaRegIt.woff') format('woff'),
         url('../fonts/ProximaNovaRegIt.ttf') format('truetype'),
         url('../fonts/ProximaNovaRegIt.svg#ProximaNovaRegIt') format('svg');
}
@font-face {
    font-family: 'ProximaNovaReg';
    src: url('../fonts/ProximaNovaReg.eot');
    src: url('../fonts/ProximaNovaReg.eot') format('embedded-opentype'),
         url('../fonts/ProximaNovaReg.woff2') format('woff2'),
         url('../fonts/ProximaNovaReg.woff') format('woff'),
         url('../fonts/ProximaNovaReg.ttf') format('truetype'),
         url('../fonts/ProximaNovaReg.svg#ProximaNovaReg') format('svg');
}
@font-face {
    font-family: 'ProximaNovaLightIt';
    src: url('../fonts/ProximaNovaLightIt.eot');
    src: url('../fonts/ProximaNovaLightIt.eot') format('embedded-opentype'),
         url('../fonts/ProximaNovaLightIt.woff2') format('woff2'),
         url('../fonts/ProximaNovaLightIt.woff') format('woff'),
         url('../fonts/ProximaNovaLightIt.ttf') format('truetype'),
         url('../fonts/ProximaNovaLightIt.svg#ProximaNovaLightIt') format('svg');
}
@font-face {
    font-family: 'ProximaNovaLight';
    src: url('../fonts/ProximaNovaLight.eot');
    src: url('../fonts/ProximaNovaLight.eot') format('embedded-opentype'),
         url('../fonts/ProximaNovaLight.woff2') format('woff2'),
         url('../fonts/ProximaNovaLight.woff') format('woff'),
         url('../fonts/ProximaNovaLight.ttf') format('truetype'),
         url('../fonts/ProximaNovaLight.svg#ProximaNovaLight') format('svg');
}
@font-face {
    font-family: 'ProximaNovaBoldIt';
    src: url('../fonts/ProximaNovaBoldIt.eot');
    src: url('../fonts/ProximaNovaBoldIt.eot') format('embedded-opentype'),
         url('../fonts/ProximaNovaBoldIt.woff2') format('woff2'),
         url('../fonts/ProximaNovaBoldIt.woff') format('woff'),
         url('../fonts/ProximaNovaBoldIt.ttf') format('truetype'),
         url('../fonts/ProximaNovaBoldIt.svg#ProximaNovaBoldIt') format('svg');
}
@font-face {
    font-family: 'ProximaNovaBold';
    src: url('../fonts/ProximaNovaBold.eot');
    src: url('../fonts/ProximaNovaBold.eot') format('embedded-opentype'),
         url('../fonts/ProximaNovaBold.woff2') format('woff2'),
         url('../fonts/ProximaNovaBold.woff') format('woff'),
         url('../fonts/ProximaNovaBold.ttf') format('truetype'),
         url('../fonts/ProximaNovaBold.svg#ProximaNovaBold') format('svg');
}