.status-line{
    color: #4e5665;
    font-size: 13px;
    position: relative;
    font-family: @regular;
    border-bottom: 1px solid #e5e5e5;
    > *{
        color: #4e5665;
        margin-right: 20px;
        margin-bottom: 20px;
        display: inline-block;
        text-decoration: none;
        vertical-align: middle;
        &:hover{
            text-decoration: none;
        }
        &:last-child{
            margin-right: 0;
        }
    }
    .start-btn,
    #startContainer,
    .pay-and-start-btn{
        .mdi('play_arrow',21px, #B5BBC1, #3197EE);
    }
    .stop-btn,
    #stopContainer{
        .mdi('stop',21px, #B5BBC1, #3197EE);
    }
    .check-for-update{
        .mdi('find_replace',21px, #B5BBC1, #3197EE);
    }
    .container-update{
        .mdi('cloud_upload',21px, #B5BBC1, #3197EE);
    }
    .terminate-btn{
        .mdi('delete',21px, #B5BBC1, #3197EE);
    }
    .stats-btn{
        .mdi('equalizer',21px, #B5BBC1, #3197EE);
    }
    .restart-btn{
        .mdi('autorenew',21px, #B5BBC1, #3197EE);
    }
    .container-update{
        .mdi('cloud_upload',21px, #B5BBC1, #3197EE);
    }
    .edit-btn,
    .edit-container-env,
    .edit-container-general{
        .mdi('create',21px, #B5BBC1, #3197EE);
    }
    .list-btn{
        .mdi('equalizer',21px, #B5BBC1, #3197EE);
        &:before{
            .rotate(-90deg);
        }
    }
    .updateSsh{
        .mdi('update',21px, #B5BBC1, #3197EE);
    }
    .upgrade-btn{
        .mdi('vertical_align_top',21px, #B5BBC1, #3197EE);
        &.back{
            color: #3197ee;
            .mdi('vertical_align_bottom',21px, #3197EE, #B5BBC1);
        }
    }
    .award{
        .mdi('star',21px, #B5BBC1, #B5BBC1);
        &:hover{
            cursor: default;
            span{
                color: #4e5665;
            }
        }
    }
    .ic_reorder{
        .mdi('reorder',21px, #646f82, #3197EE);
    }
    .icon{
        min-height: 21px;
        padding-left: 25px;
        &:before{
            top: 0;
            left: 6px;
            bottom: 0;
            margin: auto;
        }
        &.hover{
            &:hover,
            &:active,
            &:focus {
                cursor: pointer;
                color: #3197ee;
                text-decoration: none;
            }
        }
        .statuses();
    }
}
/* sidebar icons*/
@sidebarIconDefaultColor: #B5BBC1;
@sidebarIconHoverColor: #3197EE;
@sidebarActiveLinkColor: @sidebarIconHoverColor;
.sidebar{
    .nav-sidebar{
        li{
            &.users{ .mdi('group',18px, @sidebarIconDefaultColor, @sidebarIconHoverColor); }
            &.profile{ .mdi('person',18px, @sidebarIconDefaultColor, @sidebarIconHoverColor); }
            &.variables{ .mdi('tune',18px, @sidebarIconDefaultColor, @sidebarIconHoverColor); }
            &.stats{ .mdi('equalizer',18px, @sidebarIconDefaultColor, @sidebarIconHoverColor); }
            &.logHistory{ .mdi('history',18px, @sidebarIconDefaultColor, @sidebarIconHoverColor); }
            &.license{ .mdi('star_border',18px, @sidebarIconDefaultColor, @sidebarIconHoverColor); }
            &.monitoring{ .mdi('timeline',18px, @sidebarIconDefaultColor, @sidebarIconHoverColor); }
            &.configuration, &.general{ .mdi('settings',18px, @sidebarIconDefaultColor, @sidebarIconHoverColor); }
            &.activityPage{ .mdi('transfer_within_a_station',18px, @sidebarIconDefaultColor, @sidebarIconHoverColor); }
            &.active{
                &:before, a, span{ color: @sidebarActiveLinkColor }
            }
        }
    }
}
/* end sidebar icons*/
.complete{
    .help{
        .mdi('help_outline',20px, #b8c0c5, #3197EE);
        &:hover{
            cursor: default;
        }
    }
}
.close{
     .mdi('close',20px, #b8c0c5, #3197EE);
}

// table icons
table{
    span{
        .statuses();
    }
    .deleteNode,
    .deleteUser,
    .remove-env,
    .remove-port,
    .delete-item,
    .remove-volume,
    .terminate-btn,
    #deleteNetwork{
        display: inline-block;
        .mdi('delete',21px, #B5BBC1, #3197EE);
        &.disabled {
            &:before{
                .opacity(0.7);
                color: #B5BBC1;
            }
            &:hover{
                cursor: not-allowed;
                &:before{
                    color: #B5BBC1;
                }
            }
        }
    }
    .blockUser{
        .mdi('block',19px, #B5BBC1, #3197EE);
    }
    .unbind_ip,
    .activeteUser{
        .mdi('lock_open',19px, #B5BBC1, #3197EE);
    }
    .start-btn,
    .unblock_ip,
    .pay-and-start-btn{
        display: inline-block;
        .mdi('play_arrow',21px, #B5BBC1, #3197EE);
    }
    .stop-btn,
    .block_ip{
        display: inline-block;
        .mdi('stop',21px, #B5BBC1, #3197EE);
    }
    .check-for-update{
        display: inline-block;
        .mdi('find_replace',21px, #B5BBC1, #3197EE);
        &.start-atimation{
            &:before{
                .animation(rotating, 1s, linear infinite);
                content: 'autorenew';
            }
        }
    }
    .restart-btn{
        display: inline-block;
        .mdi('autorenew',21px, #B5BBC1, #3197EE);
    }
    .container-update{
        display: inline-block;
        .mdi('cloud_upload',21px, #B5BBC1, #3197EE);
    }
    .edit-item{
        display: inline-block;
        .mdi('create',21px, #B5BBC1, #3197EE);
    }
    .copy-link,
    .copy-ssh-link{
        display: inline-block;
        .mdi('insert_link',21px, #B5BBC1, #3197EE);
    }
    .copy-ssh-password{
        display: inline-block;
        .mdi('vpn_key',21px, #B5BBC1, #3197EE);
    }
    .warning-info-title-ico{
        .mdi('info_outline',19px, #F25555, #F25555);
        &:hover{
            cursor: default;
        }
        &:before{
            .rotate(-180deg);
        }
    }
    .diff-arrow{
        display: inline-block;
        vertical-align: middle;
        .mdi('trending_flat',18px, #8e8e8e, #8e8e8e);
        &:hover{
          cursor: default;
        }
    }
    .diff-added-icon{
        display: inline-block;
        vertical-align: middle;
        .mdi('add',18px, #8e8e8e, #8e8e8e);
        &:hover{
          cursor: default;
        }
        ~ span {
            vertical-align: middle;
            display: inline-block;
        }
    }
    .kubes-more,
    .upgrade-kubes-more{
        .mdi('add_circle_outline',18px, #3197EE, #3197EE);
    }
    .kubes-less,
    .upgrade-kubes-less{
        .mdi('remove_circle_outline',18px, #3197EE, #3197EE);
    }
}
/* edit pod message icons */
.message-pod-canged-info-title-ico{
    display: inline-block;
    vertical-align: middle;
    .mdi('info_outline',24px, inherit, inherit);
    &:hover{
        cursor: default;
    }
    &:before{
        .rotate(-180deg);
    }
}
/* add image icons */
.image-link{
    color: #4e5665;
    .mdi('keyboard_arrow_right',20px, #B5BBC1, #3197EE);
    &:before{
        .border-radius(50%);
        border: 1px solid #B5BBC1;
    }
    &:hover{
        color: #3197EE;
        span{
            color: #3197EE;
        }
        &:before{
            color: #3197EE;
            border-color: #3197EE;
        }
    }
}
.container-image{
    .mdi('wallpaper',100px, #E5E5E5, #E5E5E5);
    text-align: center;
    &:hover{
        cursor: default;
    }
}
#data-collection .item .more a{
    color: #4e5665;
    .mdi('keyboard_arrow_right',20px, #3197EE, #3197EE);
    &:before{
        .border-radius(50%);
        border: 1px solid #3197EE;
    }
    span{
        color: #3197EE;
    }
}
#data-collection .item .like{
    width: 100%;
    border: none;
    float: right;
    text-align: center;
    font-family: @regular;
    background-color: transparent;
    .mdi('thumb_up',21px, #B5BBC1, #B5BBC1);
    &:hover{
        cursor: default;
        span{
            color: #000;
        }
    }
}

.podsControl{
    .removePods{
        .mdi('delete',21px, #B5BBC1, #3197EE);
        &:hover{
            &:before{
                content: 'delete_forever'
            }
        }
    }
    .stopPods{
        .mdi('stop',21px, #B5BBC1, #3197EE);
    }
    .runPods{
        .mdi('play_arrow',21px, #B5BBC1, #3197EE);
    }
    .restartPods{
        .mdi('autorenew',21px, #B5BBC1, #3197EE);
    }
}
.notifyjs-corner{
    .notifyjs-container{
        .notify-close{
            .mdi('close',19px, #fff, #fff);
        }
    }
}
/* TODO REFACTORING */
.control-icons{
    margin-top: 37px;
    .info,
    .servers{
        min-height: 70px;
        margin-bottom: 37px;
        > div{
            color: #1d1d1d;
            font-size: 13px;
            line-height: 19px;
            font-weight: normal;
            font-family: @regular;
        }
    }
    .info{
        padding-left: 94px;
        position: relative;
        &:before{
            content: '';
            position: absolute;
            width: 80px;
            height: 70px;
            left: 0;
            top: 0;
            background: url('../img/info-ico.png') 0 0 no-repeat;
        }
        > div{
            color: #1d1d1d;
            font-size: 13px;
            font-weight: normal;
            font-family: @regular;
        }
    }
    .servers{
        position: relative;
        padding-left: 103px;
        &:before{
            top: 0;
            left: 0;
            width: 80px;
            content: '';
            height: 66px;
            position: absolute;
            background: url('../img/servers.png') 0 0 no-repeat;
        }
    }
    @media (max-width: 768px) {
        .servers{
            padding-left: 94px;
            &:before{
                left: 0;
                bottom: 0;
                margin: auto;
            }
        }
    }
}
