.ip_pool_table, .ip_table{
    .box-shadow-materials();
    thead{
        background-color: transparent;
        tr{
            background-color: transparent;
            th{
                height: 50px;
                color: #1d1d1d;
                padding-top: 0;
                font-size: 13px;
                cursor: pointer;
                border-bottom: 0;
                padding-bottom: 0;
                font-weight: normal;
                vertical-align: middle;
                font-family: @regular;
                &:first-child{
                    padding-left: 24px;
                }
                &:focus{
                    outline: 0;
                }
            }
        }
    }
    tbody{
        tr{
            background-color: #fff;
            &.checked, &:hover{
                background-color: #f5fafe;
                span{
                    &#deleteNetwork{
                        background: url('../img/recycling.png') 0 0 no-repeat;
                        &:hover{
                            background-position: 0 -18px;
                        }
                    }
                    &.block_ip{
                        background: url('../img/stop.png') 0 0 no-repeat;
                        &:hover{
                            background-position: 0 -17px;
                        }
                    }
                    &.unblock_ip{
                        background: url('../img/start.png') 0 0 no-repeat;
                        &:hover{
                            background-position: 0 -18px;
                        }
                    }
                    &.unbind_ip{
                        background: url('../img/unblock.png') 0 0 no-repeat;
                        &:hover{
                            background-position: 0 -17px;
                        }
                    }
                }
            }
            td{
                height: 50px;
                padding-top: 0;
                color: #1d1d1d;
                font-size: 13px;
                line-height: 50px;
                padding-bottom: 0;
                font-family: @regular;
                vertical-align: middle;
                &:first-child{
                    padding-left: 24px;
                }
                &.network{
                    vertical-align: top;
                }
                span{
                    &.free, &.blocked, &.busy{
                        padding-left: 22px;
                        position: relative;
                        &:before{
                            .border-radius(50%);
                            .box-sizing(padding-box);
                            left: 2px;
                            width: 12px;
                            content: '';
                            bottom: 2px;
                            height: 12px;
                            position: absolute;
                        }
                    }
                    &.free{
                        &:before{
                            background-color: #97cd75;
                        }
                    }
                    &.blocked, &.busy{
                        &:before{
                            background-color: #f5544d;
                        }
                    }
                    &#deleteNetwork, &.block_ip, &.unblock_ip, &.unbind_ip{
                        top: 2px;
                        left: 7px;
                        width: 20px;
                        height: 17px;
                        font-size: 0;
                        position: relative;
                        display: inline-block;
                        margin-right: 10px;
                        &:hover{
                            cursor: pointer;
                        }
                    }
                    &#deleteNetwork{
                        top: 16px;
                        width: 16px;
                        height: 17px;
                    }
                    &.block_ip, &.unblock_ip, &.unbind_ip{
                        top: 16px;
                    }
                    &.block_ip{
                        width: 17px;
                    }
                    &.unbind_ip{
                        width: 14px;
                    }
                    &.unblock_ip{
                        width: 13px;
                    }
                }
            }
            button{
                margin: 0;
                border: 0;
                padding: 0;
                color: #3197ee;
                font-size: 13px;
                text-decoration: none;
                font-family: @regular;
                background-color: transparent;
                &:hover{
                    cursor: pointer;
                    text-decoration: none;
                }
            }
        }
    }
}
.right{
    .table-wrapper{
        .network-name{
            font-family: @bold;
            margin-bottom: 20px;
        }
    }
}
.ip_pool_table{
    tbody{
        tr{
            &:hover{
                cursor: pointer;
                span{
                    cursor: pointer;
                }
            }
        }
    }
}
#networksList{
    #breadcrumbs{
        .control-group{
            button{
                &#create_network{
                    margin-right: 0;
                }
            }
        }
    }
}

#createNetwork{
    #network-contents{
        #network-controls{
            padding-top: 6px;
            padding-bottom: 45px;
            border-bottom: 1px solid #e5e5e5;
            .form-group{
                margin-left: 40px;
                margin-bottom: 0;
                input{
                    .placeholder(#b4b4b4);
                    width: 100%;
                    height: 51px;
                    display: block;
                    padding: 0 20px;
                    max-width: 368px;
                    margin-bottom: 25px;
                    background-color: #fff;
                    border: 1px solid #e5e5e5;
                    &:focus{
                        .transition(color 500ms ease);
                        border-color: #188eed;
                    }
                }
                label{
                    margin-bottom: 13px;
                }
            }
        }
    }
}