@import "variables.less";

* { padding: 0; margin: 0}

img, a, input, button{
    &:focus{
        outline: 0;
    }
}
a{
    color: #3197ee;
    &:hover{
        color: darken(#3197ee, 20%);
    }
    &:hover,
    &:focus,
    &:active{
        text-decoration: none;
    }
}

body{
    color: #1d1d1d;
    font-family: @regular;
    @import "fonts.less";
    background-color: #F8F8F8;

    *:focus{
        outline: 0;
    }

    /* header */
    .login-view-mode-wrapper{
        .clearfix;
        padding: 10px;
        text-align: center;
        background-color: #65696c;

        span{
            color: #fff;
            font-size: 15px;
            &.glass{
                position: relative;
                padding-left: 40px;
                &:before{
                    top: 0;
                    left: 0;
                    bottom: 0;
                    width: 35px;
                    content: '';
                    margin: auto;
                    height: 18px;
                    position: absolute;
                    background: url('../img/glasses.png') 0 0 no-repeat;
                }
            }
        }
        a{
            color: #fff;
            float: right;
            font-size: 15px;
            &:hover, &:active, &:focus{
                text-decoration: none;
            }
        }
    }
    .navbar{
        border: 0;
        margin-bottom: 0;
        .container-fluid{
            padding: 10px 0 17px 0;
        }
        .nav .open > a,
        .nav .open > a:hover,
        .nav .open > a:focus,
        li a:focus{
            color: #3d464d !important;
            background-color: transparent;
        }
        .dropdown-menu{
            .box-shadow( 0px 0px 2px 0px rgba(0, 0, 0, 0.3) );
            .border-radius(0);
            border: none;
            top: 33px;
            li{
                a, span{
                    color: #3d464d;
                    cursor: pointer;
                    font-size: 13px;
                    font-family: @regular;
                    text-decoration: none;
                    border-left: 3px solid transparent;
                    &:hover{
                        color: #3197ee;
                        border-color: #3197ee;
                        background-color: #f5fafe;
                    }
                }
                span{
                    display: block;
                    padding-left: 20px;
                }
                &.dropdown-submenu{
                    a{
                        &.dropdown-toggle{
                            &:before{
                                border-left-color: gray;
                            }
                        }
                    }
                    &.open{
                        > a{
                            .opacity (1);
                            .box-shadow (none);
                            background-color: #f5fafe;
                            border-left-color: #3197ee;

                        }
                    }
                }
            }
            .dropdown-submenu > .dropdown-menu{
                top: 0;
                left: 100%;
                margin-top: -5px;
                margin-left: -3px;
            }
        }
        .dropdown{
            > a{
                .caret{
                    margin-left: 8px;
                }
            }
        }
        .navbar-header{
            button{
                &.navbar-toggle{
                    .icon-bar{
                        background-color: #3197ee;
                    }
                    &:hover{
                        .icon-bar{
                            background-color: #3d464d;
                        }
                    }
                }
            }
            .navbar-brand{
                padding: 0;
                max-height: 48px;
                margin: 0px 50px 0 0;
                img{
                    height: 48px;
                    min-width: 162px;
                }
            }
        }
        .navbar-collapse{
            margin: 0;
            .nav.navbar-nav{
                padding: 15px 0;
                > li{
                    &.profile-menu{
                        top: 0;
                        left: 0;
                        position: relative;
                        padding-left: 25px;
                        &:before{
                            top: 0;
                            left: 0;
                            bottom: 0;
                            margin: auto;
                            position: absolute;
                        }
                    }
                    > a {
                        padding: 0;
                        color: #3197ee;
                        font-size: 15px;
                        margin: 0 50px 0 0;
                        text-decoration: none;
                        font-family: @regular;
                        &:hover,
                        &.active{
                            color: #3d464d;
                            background-color: transparent;
                        }
                    }
                    &:last-child{
                        > a{
                            margin-right: 0;
                        }
                    }
                }
            }
        }
    }
    @media (max-width: 767px) {
        .collapsing{
            .transition(height 0.01s);
        }
        .navbar{
            .container-fluid{
                margin: 0 -15px;
                padding: 10px 0;
                .navbar-header{
                    margin: 0;
                    .navbar-brand{
                        margin-right: 0;
                        padding-left: 15px;
                    }
                    .navbar-toggle{
                        .mdi('close',30px, #b5bbc1, #3197EE);
                        padding: 0;
                        z-index: 2;
                        margin-right: 15px;
                        position: relative;
                        &:after{
                            top: -19px;
                            z-index: -1;
                            content: '';
                            width: 70px;
                            height: 70px;
                            right: -16px;
                            position: absolute;
                            background-color: #fff;
                            border-left: 1px solid #e4e4e4
                        }
                        &.collapsed{
                            &:before{
                                content: 'view_headline';
                            }
                            &:after{
                                content: none;
                            }
                        }
                    }
                }
                .navbar-collapse{
                    margin: 10px 0 0 0;
                    #menu-items{
                        > li{
                            &:first-child{
                                a{
                                    border-top: 1px solid #e4e4e4;
                                }
                            }
                        }
                    }
                    .nav{
                        &.navbar-nav{
                            padding: 0;
                            margin: 0 -15px;
                            > li {
                                a, span{
                                    margin-right: 0;
                                    line-height: 19px;
                                    position: relative;
                                    background-color: #fff;
                                    padding: 15px 15px 15px 30px;
                                    border-bottom: 1px solid #e4e4e4;
                                    border-left: 3px solid transparent;
                                    &:hover{
                                        color: #3197ee;
                                        background-color: #f5fafe;
                                        border-left-color: #3197ee;
                                    }
                                    .caret{
                                        .rotate(-90deg);
                                        top: 3px;
                                        bottom: 0;
                                        left: 15px;
                                        margin: auto;
                                        position: absolute;
                                    }
                                }
                            }
                            &.navbar-right{
                                li{
                                    &.profile-menu{
                                        padding-left: 0;
                                        &:before{
                                            content: none;
                                        }
                                        &.open{
                                            > a{
                                                .caret{
                                                    .rotate(0deg);
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            .dropdown-menu{
                                .transition(none);
                                padding: 0;
                                > li {
                                    a, span{
                                        padding-left: 45px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    /* end header */

    /* bredkrumb */
    .breadcrumbs-wrapper{
        width: 100%;
        font-size: 0;
        margin-bottom: 40px;
        background-color: #0074BF;
        #breadcrumbs{
            .clearfix;
            .breadcrumb{
                float: left;
                .border-radius(0);
                padding: 0;
                margin-bottom: 0;
                background-color: transparent;
                li{
                    color: #dee6ef;
                    font-size: 15px;
                    line-height: 51px;
                    position: relative;
                    padding-right: 35px;
                    font-family: @regular;
                    &:before{
                        top: 0;
                        right: 0;
                        bottom: 0;
                        padding: 0;
                        width: 23px;
                        content: '';
                        color: #fff;
                        height: 51px;
                        margin: auto;
                        font-size: 0;
                        position: absolute;
                        background: url('../img/menu-arrow.png') 0 0 no-repeat;
                    }
                    &.bpoint-tab{
                        span{
                            text-transform: capitalize;
                        }
                    }
                    span{
                        &.podsList{
                            &:hover{
                                cursor: pointer;
                            }
                        }
                    }
                    &.active{
                        &:before{
                            content: none;
                        }
                        > div{
                            color: inherit;
                            &:hover{
                                cursor: default;
                            }
                        }
                    }
                    .editable-container{
                        &.editable-inline{
                            vertical-align: inherit;
                            input{
                                &.form-control{
                                    height: 36px;
                                    border: none;
                                    position: relative;
                                    padding-right: 95px !important;
                                }
                            }
                            .editable-buttons{
                                top: 14px;
                                right: 6px;
                                margin-left: 0;
                                position: absolute;
                                .editable-submit{
                                    .border-radius(2);
                                    .box-shadow (0px 2px 4px 0px rgba(0, 0, 0, 0.35));
                                    padding: 0;
                                    width: 77px;
                                    color: #fff;
                                    border: none;
                                    height: 25px;
                                    background: #2c99f1;
                                    border-color: #2c99f1;
                                }
                            }
                        }
                    }
                    .editable{
                        color: #dee6ef;
                        display: inline;
                        position: relative;
                        margin-left: 20px;
                        font-weight: normal;
                        border-color: #dee6ef;
                        &:before{
                            content: '';
                            top: 3px;
                            left: -25px;
                            width: 17px;
                            height: 17px;
                            font-size: 0;
                            position: absolute;
                            background: url('../img/pencil-big.png') 0 0 no-repeat
                        }
                        &:hover{
                            .transition(all 300ms ease);
                            color: #dee6ef;
                            cursor: pointer;
                            border-color: #dee6ef;
                        }
                    }
                    a{
                        color: #dee6ef;
                        &:hover, &:focus{
                            text-decoration: none;
                        }
                    }
                    > div{
                        color: #dee6ef;
                        display: inline-block;
                        text-decoration: none;
                        &:hover{
                            cursor: pointer;
                        }
                        a{
                            color: inherit;
                            &:hover{
                                text-decoration: none;
                            }
                        }
                    }
                }
                li + li{
                    padding-left: 15px;
                    &.active{
                        color: #65c7ff;
                    }
                }
            }
            > .control-group{
                .clearfix;
                float: right;
                padding: 8px 0;
                position: relative;
                a, button{
                    &:focus{
                        text-decoration: none;
                    }
                    &#add_pod,
                    &#add_node,
                    &#add_domain,
                    &#create_user,
                    &#create_network{
                        .transition(0.3s ease-in-out);
                        margin-right: 0;
                        padding: 0 0 0 72px;
                        display: inline-block;
                        &:before{
                            top: 7px;
                            left: 15px;
                            z-index: 1;
                            width: 33px;
                            content: '';
                            height: 24px;
                            position: absolute;
                            background: url('../img/add-one-container.png') 0 0 no-repeat;
                        }
                        &:after{
                            .border-radius(50%);
                            .transition(0.3s ease-in-out);
                            .box-shadow(0px 0px 7px 0px rgba(0,0,0,0.8));
                            left: 0;
                            top: -13px;
                            z-index: 0;
                            content: '';
                            width: 61px;
                            height: 61px;
                            position: absolute;
                            background-color: #fff;
                        }
                        &:hover{
                            &:not(disabled){
                                color: #f2f2f2;
                                cursor: pointer;
                                text-decoration: none;
                                &:after{
                                    .transform(scale(1.07));
                                }
                            }
                            &.disabled{
                                cursor: not-allowed;
                            }
                        }
                    }
                   &#create_user{
                        &:before{
                            top: 5px;
                            left: 19px;
                            width: 28px;
                            height: 28px;
                            background: url('../img/add-one-user.png') 0 0 no-repeat;
                        }
                    }
                }
                button, a{
                    &#add_pod,
                    &#add_node,
                    &#add_domain,
                    &#create_user,
                    &#edit_user,
                    &#rename_node,
                    &#delete_user,
                    &#create_network,
                    &#login_this_user{
                        outline: 0;
                        border: none;
                        color: #ffffff;
                        font-size: 15px;
                        background: none;
                        line-height: 34px;
                        position: relative;
                        font-family: @regular;
                        display: inline-block;
                        &:before{
                            position: absolute;
                        }
                    }
                    &#edit_user,
                    &#login_this_user{
                        margin-right: 25px;
                        padding: 0 0 0 38px;
                        &:before{
                            top: 8px;
                            left: 2px;
                            width: 28px;
                            content: '';
                            height: 21px;
                        }
                    }
                    &#login_this_user{
                        padding: 0 0 0 29px;
                        margin-right: 19px;
                        &:before{
                            background: url('../img/small-profile-ico.png') 0 0 no-repeat;
                        }
                    }
                    &#edit_user,
                    &#rename_node{
                        margin-right: 17px;
                        padding: 0 0 0 38px;
                        &:before{
                            top: 8px;
                            left: 2px;
                            content: '';
                            width: 28px;
                            height: 21px;
                            background: url('../img/rename-node.png') 0 0 no-repeat;
                        }
                    }
                    &#delete_user{
                        padding:0 0 0 28px;
                        &:before{
                            top: 8px;
                            left: 2px;
                            width: 28px;
                            content: '';
                            height: 21px;
                            background: url('../img/delete-node.png') 0 0 no-repeat;
                        }
                    }
                }
                .nav-search{
                    .transition(width 0.3s ease);
                    float: right;
                    cursor: pointer;
                    position: relative;
                    &.active{
                         .transition(width 0.3s ease);
                        width: 0;
                        + .nav-search-input{
                            .transition(width 0.3s ease);
                            width: 212px;
                            padding: 0 0 0 10px;
                        }
                    }
                }
                .nav-search-input{
                    .border-radius(1px);
                    .box-sizing(border-box);
                    .transition(width 0.3s ease);
                    .placeholder(#bad8ec);
                    width: 0;
                    border: 0;
                    padding: 0;
                    outline: 0;
                    z-index: 1;
                    height: 34px;
                    color: #e1f2fc  ;
                    font-size: 13px;
                    margin-left: 25px;
                    position: relative;
                    background-color: rgba(209, 236, 255, 0.17);
                }
            }
        }
    }
    /* end bredkrumb */

    /* sidebar */
    .sidebar{
        .user-select(none);
        margin-bottom: 25px;
        .nav-sidebar{
            li{
                font-size: 13px;
                line-height: 22px;
                margin-bottom: 5px;
                font-family: @regular;
                a{
                    padding: 0;
                    &:hover, &:focus{
                        color: inherit;
                        background-color: transparent;
                    }
                }
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
    }

    /* logs texarea */
    .node-logs,
    .container-logs{
        .kuberdock-scroll();
        .box-shadow-materials();
        clear: both;
        color: white;
        height: 38em;
        padding: 20px;
        overflow: auto;
        font-size: 10pt;
        margin-bottom: 10px;
        background-color: #000;
        p{
            margin: 0;
            line-height: 21px;
            word-break: break-all;
            time{
                color: #05E9FF;
            }
            .ident{
                color: #4EA3EC;
            }
        }
    }
    .node-logs{
        margin-top: 37px;
    }

    /* page-404 */
    .page-404{
        .page-404_image{
            img{
                max-width: 100%;
            }
        }
        .page-404_text{
            color: #9f9f9f;
            h1{
                font-size: 51px;
                line-height: 51px;
                font-weight: bold;
                margin-left: -3px;
            }
            p{
                font-size: 16px;
                font-weight: 400;
            }
        }
    }

    .buttons{
        .clearfix;
        font-size: 0;
        margin: 20px 0;
        button, a{
            .border-radius(2px);
            .transition (all 300ms);
            .box-shadow(0px 2px 4px 0px rgba(0, 0, 0, 0.35));
            border: none;
            height: 37px;
            padding: 0 31px;
            font-size: 13px;
            min-width: 105px;
            line-height: 37px;
            text-align: center;
            margin-right: 10px;
            font-family: @regular;
            text-transform: uppercase;
            &:hover{
                .box-shadow(0 5px 11px 0 rgba(0, 0, 0, 0.18));
                cursor: pointer;
            }
            &:active{
                cursor: default;
            }
            &:first-child{
                color: #1d1d1d;
                background-color: #fcfcfc;
            }
            &:last-child, &.blue{
                color: #fff;
                background-color: #2490EA;
            }
            &:last-child{
                margin-right: 0;
            }
            &.gray{
                color: #1d1d1d;
                background-color: #fff;
            }
            &.hideButton{
                display: none;
            }
            &.disabled{
                .opacity(0.5);
                &:hover{
                    cursor: not-allowed;
                }
            }
        }
        a{
            line-height: 37px;
            display: inline-block;
            text-decoration: none;
        }
    }
    /* grouping buttons */
    .btn-group{
        margin-right: 10px;
        &.controls{
            &.open{
                .dropdown-toggle{
                    background-color: #fff;
                    .box-shadow(none);
                    .ic_reorder{
                        &:before{
                            .rotate(90deg);
                        }
                    }
                    .caret{
                        .rotate(180deg);
                    }
                }
            }
            .dropdown-toggle{
                .user-select(none);
                z-index: 5;
                display: block;
                margin-right: 15px;
                position: relative;
                &:hover{
                    .caret{
                        color: #3197ee;
                    }
                }
                .caret{
                    color: #646f82;
                    margin-top: 2px;
                    margin-left: 5px;
                }
            }
            .dropdown-menu{
                .border-radius(0);
                .box-shadow-menu();
                margin: 0;
                top: -10px;
                z-index: 2;
                left: -22px;
                border: none;
                padding-top: 40px;
                li{
                    > *{
                        clear: both;
                        display: block;
                        color: #646f82;
                        font-weight: 400;
                        padding: 5px 22px;
                        line-height: 20px;
                        white-space: nowrap;
                        &:hover{
                            color: #3197ee;
                            text-decoration: none;
                            background-color: #f5f5f5;
                        }
                    }
                }
            }
        }
    }
    .page-top-menu{
        .clearfix;
        font-size: 0;
        padding-top: 20px;
        > *{
            display: inline-block;
            vertical-align: middle;
        }
        > span{
            font-size: 13px;
            font-weight: bold;
            margin-bottom: 20px;
            + span,
            +label{
                margin-left: 20px;
            }
        }
    }

    .border-top{
        border-top: 1px solid #e5e5e5;
    }
    .has-error .form-control{
        .box-shadow(none) !important;
        border-color: red !important;
    }
    .login-page{
        .container{
            .logo{
                height: 84px;
                margin-bottom: 40px;
                background: url(../img/logo-login.png) center center no-repeat;
            }
            &.login-form{
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                padding: 0;
                margin: auto;
                width: 320px;
                height: 430px;
                display: block;
                position: absolute;
                .form-group{
                    position: relative;
                    .error-message{
                        top: -25px;
                        color: #f1485c;
                        font-size: 13px;
                        position: absolute;
                    }
                    .group{
                        outline: 0;
                        display: block;
                        margin-bottom: 0;
                        input[type="text"], input[type="email"], input[type="password"] {
                            .box-sizing (border-box);
                            .transition (all 300ms);
                            .placeholder(#b4b4b4);
                            height: 45px;
                            width: 100%;
                            padding: 0 15px;
                            font-size: 13px;
                            margin-bottom: 20px;
                            border: 1px solid #dbd9d9;
                            &:focus{
                                border-color: #188eed;
                                .transition(color 500ms ease);
                            }
                        }
                        input[type="text"]{
                            margin-bottom: 15px;
                        }
                        .login{
                            .border-radius(2px);
                            outline: 0;
                            width: 100%;
                            border: none;
                            height: 48px;
                            color: #ffffff;
                            padding: 0 42px;
                            line-height: 40px;
                            background-color: #2490EA;
                        }
                        .lost{
                            color: #3197ee;
                            font-size: 13px;
                            text-decoration: none;
                            &:hover{
                                cursor: pointer;
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
        }
        .blue-line{
            left: 0;
            bottom: 0;
            width: 100%;
            height: 7px;
            display: block;
            position: absolute;
            background-color: #0074BF;
        }
    }

    /* graphs */
    .jqplot-table-legend-label { padding: 2px 4px; }

    @import "preloader.less";
    @import "modal.less";
    @import "notify.less";
    @import "tables.less";
    @import "pods.less";
    @import "nodes.less";
    @import "users.less";
    @import "ippool.less";
    @import "domains.less";
    @import "settings.less";
    @import "predefined-app.less";
    @import "predefined-app-order.less";
    @import "message.less";
    @import "statuses.less";
    @import "icons.less";
    @import "tooltip.less";

    .editGroup{
        position: relative;
        .editable-unsaved{
            font-weight: 400;
        }
        .editable-container.editable-inline{
            position: absolute;
            left: 0px;
            height: initial !important;
            background-color: rgb(248, 248, 248);
            .form-inline{
                .control-group{
                    .editable-input{
                        input{
                            &.input-sm{
                                height: 36px;
                                padding-right: 100px !important;
                            }
                        }
                    }
                    .editable-buttons{
                        top: 0;
                        bottom: 0;
                        right: 6px;
                        margin: auto;
                        height: 27px;
                        position: absolute;
                        .editable-submit{
                            .border-radius(2px);
                            .box-sizing(padding-box);
                            .box-shadow(0px 2px 4px 0px rgba(0, 0, 0, 0.35));
                            padding: 0;
                            width: 77px;
                            height: 25px;
                            font-size: 12px;
                            position: initial;
                            line-height: 12px;
                            font-family: @semibold;
                            text-transform: uppercase;
                        }
                    }
                }
            }
        }
        .editForm{
            .clearfix;
            input{
                .box-shadow-materials();
                .border-radius(none);
                top: 0;
                left: 0;
                bottom: 0;
                z-index: 1;
                width: 100%;
                margin: auto;
                border: none;
                height: 36px;
                color: #1d1d1d;
                font-size: 12px;
                line-height: 1.5;
                max-width: 251px;
                position: absolute;
                padding: 5px 70px 5px 10px;
            }
            button{
                .border-radius(2px);
                .box-shadow(0px 2px 4px 0px rgba(0, 0, 0, 0.35));
                top: 0;
                bottom: 0;
                padding: 0;
                width: 25px;
                z-index: 2;
                color: #fff;
                margin: auto;
                border: none;
                height: 25px;
                position: absolute;
                text-transform: lowercase;
                &.send{
                    left: 220px;
                    background: #2c99f1;
                    border-color: #2c99f1;
                }
                &.cancel{
                    left: 188px;
                    color: #1d1d1d;
                    border-color: #fcfcfc;
                    background-color: #fcfcfc;
                }
            }
        }
        .edit-field,
        .editContainerKubes{
            border: none;
            position: relative;
            font-style: normal;
            padding-right: 20px;
            display: inline-block;
            margin-right: 0 !important;
            height: initial !important;
            text-transform: none !important;
            word-break: break-all;
            &:before{
                top: 3px;
                right: 0;
                width: 13px;
                content: '';
                height: 13px;
                position: absolute;
                background: url('../img/pencil-small.png') 0 0 no-repeat;
            }
            &:hover{
                cursor: pointer;
                color: #4e5665 !important;
                &:before{
                    background-position: 0 -14px;
                }
            }
        }
    }

    /* paginator */
    .pager{
        font-size: 0;
        margin: 10px 0 30px;
        li {
            .border-radius(2px);
            color: #141414;
            font-size: 13px;
            line-height: 13px;
            margin-right: 3px;
            padding: 10px 18px;
            display: inline-block;
            font-family: @regular;
            &.border{
                .transition(all 300ms);
                .box-shadow-materials();
                font-size: 12px;
                background-color: #fff;
                text-transform: uppercase;
                &.disabled{
                    .opacity(0.5);
                    &:hover{
                        .box-shadow-materials();
                        cursor: not-allowed;
                    }
                }
                &:hover{
                    .box-shadow(0 5px 11px 0 rgba(0, 0, 0, 0.18));
                    cursor: pointer;
                }
            }
            &:last-child{
                margin-right: 0;
            }
        }
    }

    .ieditable, .iveditable{
        &:hover{
            cursor: pointer;
        }
    }
    .editable-error-block{
        top: -36px;
        width: 570px;
        display: block;
        max-width: initial;
        position: absolute;
    }
    table{
       .editable-container{
            &.editable-inline{
                .form-inline{
                    .control-group{
                        .editable-input{
                            input{
                                &.form-control{
                                    height: 36px;
                                    border: none;
                                    position: relative;
                                    padding-right: 95px !important;
                                    border: 1px solid #2490E9;
                                }
                            }
                        }
                        .editable-buttons{
                            top: 6px;
                            right: 6px;
                            margin-left: 0;
                            position: absolute;
                            .editable-submit{
                                .border-radius(2);
                                .box-shadow (0px 2px 4px 0px rgba(0, 0, 0, 0.35)) !important;
                                padding: 0;
                                width: 77px;
                                color: #fff;
                                border: none;
                                height: 25px;
                                background: #2c99f1;
                                border-color: #2c99f1;
                            }
                        }
                    }
                }
            }
        }
    }
    .editable-container{
        &.editable-inline{
            .form-inline{
                top: -1px;
                position: relative;
                .control-group{
                    padding: 0 !important;
                    height: initial !important;
                    .editable-input{
                        input, select{
                            &.form-control{
                                .border-radius(0);
                                &:focus{
                                    .box-shadow(none);
                                    outline: 0;
                                    border-color: #2490EA;
                                }
                            }
                        }
                        input{
                            &.input-sm{
                                padding-right: 10px !important;
                            }
                        }
                        .editable-clear-x{
                            display: none !important;
                        }
                    }
                    .editable-buttons{
                        margin-left: 6px;
                        .editable-submit{
                            margin: 0;
                            height: 30px;
                            padding: 0 30px;
                            border-color: #2490EA;
                            background-color: #2490EA;
                            &:hover, &:active, &:focus{
                                outline: 0;
                                border-color: #2490EA;
                                background-color: #2490EA;
                            }
                            i{
                                &.glyphicon-ok{
                                    .border-radius(2px);
                                    font-size: 12px;
                                    position: initial;
                                    line-height: 12px;
                                    font-family: @semibold;
                                    text-transform: uppercase;
                                    &:before{
                                        content: 'apply';
                                        line-height: 25px;
                                    }
                                }

                            }
                        }
                        .editable-cancel{
                            display: none !important;
                        }
                    }
                }
            }
        }
    }
    .popover{
        -webkit-border-radius: 5px;
        -webkit-border-bottom-right-radius: 0px;
        -webkit-border-bottom-left-radius: 0px;
        -moz-border-radius: 5px;
        -moz-border-radius-bottomright: 0px;
        -moz-border-radius-bottomleft: 0px;
        border-radius: 5px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
        border-color: #aeaeae;
        .arrow{
            top: 100% !important;
        }
        .form-group{
            float: initial !important;
            height: initial !important;
            position: initial !important;
            &.has-error{
                .form-control{
                    .box-shadow(none);
                    border-color: #466EB1;
                    &.focus{
                        .box-shadow(none);
                        border-color: #466EB1;
                    }
                }
                .editable-error-block{
                    left: 0;
                    top: 54px;
                    z-index: -1;
                    width: 100%;
                    margin-top: 0;
                    color: #ffffff !important;
                    font-size: 11px;
                    line-height: 14px;
                    position: absolute;
                    text-align: justify;
                    background-color: #ff2727;
                    padding: 16px 14px 11px 14px;
                    border: 1px solid #ff2727;
                }
            }
            .editable-input{
                select{
                    .box-shadow(none);
                    .border-radius(none);
                    &:focus{
                        border: 1px solid #ccc;
                    }
                }
            }
            .editable-buttons{
                margin-left: 5px;
                .editable-submit{
                    .border-radius(2px);
                    color: #fff;
                    border-color: #2490EA;
                    background-color: #2490EA;
                }
                .editable-cancel{
                    display: none;
                }
                .editable-submit{
                    &:hover{
                        .box-shadow(none);
                    }
                }
            }
        }
    }
    /* end edit form */

    /* select styles */
    .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
        width: 100%;
    }
    .bootstrap-select{
        button{
            width: 100%;
            height: 51px;
            display: block;
            padding: 0 20px;
            background-color: #fff;
            border: 1px solid #e5e5e5;
            &:hover, &:focus{
                background-color: #fff;
                border-color: #e5e5e5;
            }
        }
        .filter-option{
            .label-kuberdock{
                .border-radius(2px);
                font-size: 0;
                color: #1d1d1d;
                font-weight: 400;
                position: relative;
                display: inline-block;
                border: solid 1px #cecece;
                padding: 6px 10px 6px 6px;
                background-color: #e4f3ff;
                &:after{
                    top: 0;
                    bottom: 0;
                    width: 7px;
                    content: '';
                    right: -8px;
                    margin: auto;
                    height: 29px;
                    position: absolute;
                    background-color: #fff;
                }
            }
        }
        &.btn-group{
            &.open{
                background-color: #fff;
                border-color: #e5e5e5;
            }
            .no-results{
                font-size: 13px;
                background-color: transparent;
            }
            .dropdown-menu{
                .box-shadow(none);
                .border-radius(0);
                padding: 0;
                margin: -1px 0 0;
                border: 1px solid #e5e5e5;
                > li{
                    &.active{
                        a{
                            color: #3197ee;
                            font-weight: normal;
                            border-color: #3197ee;
                            background-color: #f5fafe;
                        }
                    }
                    > a{
                        color: #3d464d;
                        font-size: 13px;
                        padding: 0 20px;
                        line-height: 48px;
                        text-decoration: none;
                        font-family: @regular;
                        border-left: 3px solid transparent;
                        &:hover, &:focus{
                            color: #3197ee;
                            font-weight: normal;
                            border-color: #3197ee;
                            background-color: #f5fafe;
                        }
                        .label{
                            color: inherit;
                            font-size: 12px;
                            font-weight: 400;
                            b{
                                color: #0074bf;
                            }
                        }
                    }
                    &.selected{
                        a{
                            font-weight: bold;
                            background-color: #fff;
                            &:hover, &:focus{
                                color: #3197ee;
                                font-weight: normal;
                                border-color: #3197ee;
                                background-color: #f5fafe;
                            }
                            span{
                                &.text{
                                    margin-right: 0;
                                }
                                &.check-mark{
                                    line-height: 47px;
                                    margin-top: 0 !important;
                                }
                            }
                        }
                    }
                    &.disabled{
                        background-color: #f8f8f8;
                        .label-kuberdock{
                            color: #1d1d1d;
                        }
                        a{
                            color: #c0c0c0;
                            border-color: transparent;
                            background-color: transparent;
                            &:hover{
                                background-color: #f8f8f8;;
                            }
                        }
                    }
                }
            }
            .dropdown-toggle{
                .border-radius(0);
                &:focus{
                    outline: 0 !important;
                }
                .caret{
                    top: 50%;
                    width: 8px;
                    right: 26px;
                    height: 6px;
                    margin-top: -3px;
                    color: transparent;
                    position: absolute;
                    display: inline-block;
                    vertical-align: middle;
                    border-top: 7px solid #4e5665;
                    border-right: 4.6px solid transparent;
                    border-left: 4.5px solid transparent;
                }
            }
            &.open{
                button{
                    background-color: transparent;
                    border-color: #e5e5e5;
                }
                .dropdown-toggle{
                    .box-shadow(none);
                }
            }
        }
    }
    .btn{
        &.active, &:active{
            .box-shadow(none);
        }
    }
    /* end select styles */
}

/* dropdown animation */
.open > .dropdown-menu {
    .transform(scale(1, 1));
    .opacity(1);
}
.dropdown-menu {
    .transform-origin(top);
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    .transform(scale(1, 0));
    display: block;
    .opacity(0);
    .transition(all 300ms ease-in-out);
}
.dropup .dropdown-menu {
    .transform-origin(bottom);
}

/* end dropdown animation */

/* spin */
@-webkit-keyframes spin{
    0%{ .rotate(0deg); }
    100%{ .rotate(360deg); }
}
@keyframes spin{
    0%   { .rotate(0deg); }
    100% { .rotate(360deg); }
}
/* end spin */

@-moz-document url-prefix() {
    body .podsControl{ height: 49px; }
}
