@import "variables.less";

.message-box {
    .transition(all 300ms ease);
    .box-shadow-materials();
    top: 17px;
    width: 100%;
    left: -266px;
    z-index:9999;
    position: fixed;
    max-width: 300px;
    &.visible{
        left: 1%;
    }
    #message-header{
        .clearfix;
        position: relative;
        background-color: #0074BF;
        text-transform: capitalize;
        #message-header-text{
            float: left;
            padding: 10px;
            color: #dee6ef;
        }
        #message-ctl{
            float: right;
            .toggler{
                .font-fix();
                .border-radius(50%);
                top: 6px;
                bottom: 0;
                right: 3px;
                width: 27px;
                height: 27px;
                padding: 5px;
                color: #dee6ef;
                position: absolute;
                background: #fff url('../img/bell-small.png') center no-repeat;
                &:before{ .center(); }
                &:hover{ cursor: pointer; }
                &.move{ .animation(bell, 5s, linear infinite); }
            }
        }
    }
    #message-body{
        display: none;
        .message-item{
            padding: 4px;
            margin: 2px 4px;
            min-height: 32px;
        }
        .info, .error, .warning, .success{
            font-size: 13px;
            font-weight: 400;
            padding: 5px 10px;
            line-height: 17px;
            border-style: double;
            background-color: #fff;
        }
        .info{
            border-color: #0074BF;
        }
        .error{
            border-color: #f1485c;
        }
        .warning{
            border-color: #f69336;
        }
        .success{
            border-color: #43a047;
        }
    }
}