@media (min-width: 767px) {
    .caret-right {
        width: 0; 
        height: 0; 
        border-top: 4px solid rgba(0, 0, 0, 0);
        border-bottom: 4px solid rgba(0, 0, 0, 0);
        border-left: 4px solid #777777;
    }
}
