/* add-node */
#node-contents{
    .node-steps{
        .information{
            text-align: left;
            font-size: 13px;
            position: relative;
            margin-bottom: 20px;
            background-color: #fefef6;
            border: 1px solid #e5e5e5;
            padding: 10px 16px 10px 87px;
            &:before{
                top: 3px;
                left: 5px;
                content: '';
                width: 80px;
                height: 70px;
                position: absolute;
                background: url('../img/info-ico.png') center no-repeat;
                .background-size(63%);
            }
            label{
                margin: 0;
            }
            > div{
                i{
                    border-bottom: 1px solid rgba(51, 51, 51, 0.37);
                }
            }
        }
        #node-add-step{
            .form-field{
                margin-bottom: 30px;
                &.last{
                    margin-bottom: 0;
                    padding-bottom: 49px;
                    border-bottom: 1px solid #e5e5e5;
                }
                label{
                    display: block;
                    margin-bottom: 16px;
                }
                input,
                .kube_type button{
                    display: block;
                    width: 100%;
                    height: 51px;
                    padding: 0 20px;
                    font-size: 13px;
                    background-color: #fff;
                    border: 1px solid #e5e5e5;
                }
                input{
                    .placeholder(#b4b4b4);
                    &:focus{
                        .transition(color 500ms ease);
                        border-color: #188eed;
                    }
                }
            }
            .well{
                .box-shadow(none);
                .border-radius(0);
                padding: 20px;
                min-height: 20px;
                margin-bottom: 20px;
                border: 1px solid #e5e5e5;
                p{
                    font-weight: normal;
                }
                + div.buttons{
                    margin-top: 0;
                }
            }
        }
    }
}
/* end add-node */

/* general details page */
#tab-content{
    .details,
    .reason,
    .spoiler{
        font-size: 13px;
        padding: 10px 0 0 20px;
        p{
            margin-bottom: 8px;
        }
        span{
            color: #3197ee;
            &:hover{
                color: #1d1d1d;
                cursor: pointer;
            }
        }
    }
}
/* end general details node */

/* logs details page */
#logs-page{
    .node-logs{
        .box-shadow-materials();
        color: white;
        height: 38em;
        padding: 20px;
        font-size: 10pt;
        overflow: hidden;
        margin: 37px 0 10px;
        background-color: #000;
        p{
            margin: 0;
            line-height: 21px;
            word-break: break-all;
        }
    }
}
/* end logs details page */

/* timelines details page */
#timelines-page{
    padding: 0;
    .cases{
        .item{
            .clearfix;
            line-height: 49px;
            text-align: center;
            background-color: #fff;
            border-top: 1px solid #e5e5e5;
            &:hover, &.active{
                cursor: pointer;
                background-color: #f5fafe;
            }
            &:first-child{
                border-top: none;
            }
            &:last-child{
                border-bottom: 1px solid #e5e5e5;
            }
            &.active{
                + .item-body{
                    display: block;
                }
                span{
                    &.control{
                        display: none;
                    }
                    &.control-hide{
                        display: block;
                    }
                }
            }
            span{
                color: #1d1d1d;
                padding: 0 10px;
                font-size: 13px;
                font-weight: normal;
                font-family: @regular;
                &.control, &.control-hide{
                    color: #3197ee;
                    position: relative;
                    &:before{
                        top: 21px;
                        left: 0;
                        content: '';
                        width: 5px;
                        height: 8px;
                        background: url('../img/show-arrow.png') 0 0 no-repeat;
                        font-family: @bold;
                        position: absolute;
                    }
                }
                &.control{
                    &:before{

                    }
                }
                &.control-hide{
                    display: none;
                    margin-right: 5px;
                    &:before{
                        .rotate(90deg);
                        left: -1px;
                    }
                }
            }
        }
        .item-body{
            display: none;
            padding: 10px;
            .title{
                color: #1d1d1d;
                font-size: 13px;
                margin-bottom: 0;
                font-family: @bold;
            }
            .general{
                .title{
                    line-height: 48px;
                }
                .all-info{
                    margin: 0 25px 0 27px;
                    padding-bottom: 20px;
                    border-bottom: 1px solid #e5e5e5;
                    margin-bottom: 12px;
                    p{
                        span{
                            display: inline-block;
                            vertical-align: middle;
                            &:first-child{
                                width: 113px;
                            }
                        }
                    }
                }
            }
            .detailes{
                .title{
                    line-height: 32px;
                }
                p{
                    line-height: 24px;
                    padding: 0 0 20px 0;
                    margin: 0 27px 25px 27px;
                }
            }
        }
    }
}
/* end timelines details page */