html{
    body{
        #page-preloader {
            position: fixed;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            z-index: 100500;
            display: none;
        }
        #page-preloader{
            width: 60px;
            height: 60px;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            position: absolute;
            background: url('../img/preloader.gif') 0 0 no-repeat;
            z-index: 999;
        }
        /* need refactoring */
        .editable {
            display: inline-block;
            border-color: #466EB1;
            color: #5c5c5c;
            &:hover{
                cursor: pointer;
            }
        }
        div.container-list-item, div.view-controls {
            margin-top: 10px;
        }
        /*end  need refactoring */

        /* error pages */
        .messages-wrapper{
            margin: 0 auto;
            max-width: 50%;
        }
        /*end error pages*/

        /*end content */
    }
}