html{
	min-height: 100%;
	position: relative;
	body{
		#page-preloader {
			position: fixed;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			z-index: 100500;
			display: none;
		}
		#page-preloader{
			width: 60px;
			height: 60px;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			margin: auto;
			position: absolute;
			background: url('../img/preloader.gif') 0 0 no-repeat;
			z-index: 999;
		}
		/* need refactoring */
		.container-data {
		    float: left;
		}
		.editable {
		    display: inline-block;
		    border-color: #4DB04D;
		    color: #5c5c5c;
		    &:hover{
		    	cursor: pointer;
		    }
		}
		div.container-list-item, div.view-controls {
		    margin-top: 10px;
		}
		.title {
		    margin-bottom: 6px;
		}
		.uppercase{
			text-transform: uppercase;
		}
		.green{
		  color: #4DB04D ;
		  border-color: #4DB04D;
		}
		.green-background{
		    background-color: #4DB04D;
		    color: #fff;
		}
		.btn{
			outline: none;
			&:focus, 
			&:active,
			&:active:focus,
			&:focus:active{
				.box-shadow(none);
				outline: 0;
			}
			&.invert{
				color: #4DB04D;
  				background-color: transparent;
  				&:hover{
  					.transition(all 200ms);
  					color: #fff;
					background-color: #4DB04D;
  				}
			}
			&.shdw{
				.box-shadow(0px 4px 0px 0px #388E38);
				&:hover{
					.transition(all 200ms);
					background-color: #70c070;
					color: #fff;
				}
				&:active{
					.transition(all 200ms);
					.box-shadow(0px 4px 0px 0px #388E38); 
					background-color: #4db04d;
					color: #fff; 
					cursor: pointer;
				}
				&.btn-success{
					padding: 9px 19px;
					border-color: transparent;
					&:focus{
						.box-shadow(0px 4px 0px 0px #388E38);
					}
					span{
						text-transform: uppercase;
					}
				}
			}
		}
		.wrapper{
			.clearfix;
	    	header{
	    		&.main-header{
	    			width: 100%;
	  				padding: 55px 0 65px 0; 
	  				a{
	  					&.logo{
	  						margin-top: 5px;
							float: left;
							width: 227px;
							height: 31px;
							background-image: url(../img/header-logo.png);
							background-size: 227px 31px;
							background-repeat: no-repeat;
							text-indent: -9999px; 
	  					}
	  					&.login-btn{
	  						float: right;
							text-transform: uppercase;
							font-weight: 600;
							font-size: 14px;
							padding: 7px 31px;
							border-radius: 6px;
							letter-spacing: 0.88px; 
	  					}
	  					&.user-nav{
	  						font-size: 14px;
							padding: 7px 10px;
							&:after{
								content: '';
								display: inline-block;
								border-left: 5px solid transparent;
								border-right: 5px solid transparent;
								border-top: 6px solid #4DB04D;
								margin-left: 8px;
								letter-spacing: 0.88px;
								margin-bottom: 2px;
								&:hover{
									border-top: 6px solid #fff; 
								}
							}
	  					}
	  				}
	    		}
	    	}
	    	.container{
	    		&.my-containers{
	    			h3{
	    				&.title{
	    					font-size: 20px;
							margin-bottom: 50px
	    				}
	    			}
	    			table{
	    				tbody{
	    					td{
	    						max-width: 120px;
								padding: 30px 0;
								vertical-align: middle;
								&.name{
									max-width: 50px;
									padding-right: 100px; 
								}
								&.elements{
									font-size: 12px;
									width: 220px;
								}
								&.entrypoint{
									max-width: 100px;
								}
								&.actions{
									padding-right: 10px;
									text-align: right;
									a{
										&.btn{
											font-size: 12px;
											padding: 3px 20px;
										}
									}
								}
	    					}
	    				}
	    			}
	    			.add-container{
	    				margin-top: 20px;
	    			}
	    		}
	    		&.login-form{
					padding: 106px 0 100px 0;
					max-width: 400px;
					margin: 0 auto;
					display: block;
					.form-group{
						.group{
							outline: 0; 
							display: block;
							margin-bottom: 27px;
							label {
								display: block;
								font-size: 16px;
								color: #000;
								margin-bottom: 5px; 
							}
							input[type="text"], input[type="email"], input[type="password"] {
								height: 62px;
								width: 400px; 
								font-size: 30px;
								border: 1px solid #E8E5E5;
								border-radius: 6px;
								padding: 0 15px;
								.box-sizing (border-box);
								.transition (all 300ms); 

								&:focus{
									outline: 0;
  									border-color: #4DB04D; 
								}
							}
							.submit{
								padding: 15px 0;
								border-radius: 10px;
								font-size: 20px;
							}
						}
					}
	    		}
	    	}
		}
		/* settings page */
		.form-settings{
			max-width: 400px;
			padding: 15px;
			margin: 0 auto;
			h2{
				margin-top: 0;
			}
			.group{
				margin-bottom: 27px;
				width: 100%;
				input, textarea{
					.border-radius(6px);
					.box-shadow(none);
					.box-sizing(border-box);
					.transition(all 300ms);	
					border: 1px solid #E8E5E5;
					font-size: 30px;	

					&:focus{
						border-color: #4DB04D;
					}
				}
				input{
					padding: 0 15px;
					height: 62px;
				}
				textarea{
					resize: none;
					height: auto;
					overflow: hidden;
					min-height: 170px;
				}
			}
			button{
				.border-radius(10px);
				padding: 15px 0;
				font-size: 20px;
			}
		}
		/* end settings page */

		/*end  need refactoring */

    	/* content */
		#data-collection{
			margin-top: 20px;
			.item {
				.border-radius(.24em);
				margin: .5em 0em;
				background-color: #FFF;
				border: 1px solid #d8d8d8;
				color: #545454;
				padding: 10px;
				&:hover{
					.box-shadow(0px 1px 10px 1px rgba(0, 0, 0, 0.2));
				}
				.item-header {
					border-bottom: 1px dotted #d8d8d8;
					height: 2.4em;
					margin: 0 .8em;
					clear: left;
					.item-status {
						.box-sizing (border-box);
						width: 1.2em;
						height: 1.2em;
						border-radius: .18em;
						font-size: 1.3em;
						margin-top: .3em;
						float: left;
						.glyphicon-globe{
							color: rgb(77, 176, 77);
						}
					}
					.item-header-title {
						float: left;
						margin: .52em 0 0 1em;
						height: 1.2em;
						line-height: 1.2em;
						font-size: 1.12em;
					}
					.item-header-controls{
						float: right;
						height: 2.4em;
						line-height: 2.4em;
						margin-right: 0.5em;
						.glyphicon-plus{
							.opacity(0.5);
							color: #4DB04D;
							&:hover{
								.opacity(1);
							}
						}
					}
				}
				.item-body{
					margin: 0 .8em;
					padding: .3em 0;
					.item-body-info{
						font-style: italic;
					}
				}
			}
		}
    	/* error pages */
		.messages-wrapper{
			margin: 0 auto;
			max-width: 50%;
		}
    	/*end error pages*/

    	/*end content */
		.modal{
			.modal-header{
				.close{
					outline: 0;
					margin-top: 0;
				}
			}
			.modal-footer{
				background-color: rgba(242, 242, 253, 0.25);
			}
		}
		/* container logs */
		.container-logs{
			background: black;
			color: white;
			padding: 1em;
			height: 38em;
			width: 71em;
			overflow: auto;
			font-size: 10pt;
			line-height: 1em;
			p{
				margin: 0 0 6px;
			}
		}
		/* end container logs */

	}
}