/* pod-main */
#steps{
    .nav-buttons{
        &.fixed{
            .buttons{
                bottom: 0;
                z-index: 10;
                right: 15px;
                position: fixed;
            }
        }
    }
}
.podsControl{
    z-index: 1;
    width: 93%;
    height: 50px;
    display: none;
    margin-left: 50px;
    padding: 12px 0px;
    position: absolute;
    background-color: #F8F8F8;
    .count{
        font-size: 0;
        span{
            color: #1d1d1d;
            font-size: 13px;
            min-height: 21px;
            font-family: @semibold;
            vertical-align: middle;
            display: inline-block;
        }
    }
    .runPods,
    .stopPods,
    .removePods,
    .restartPods{
        margin-left: 20px;
    }
}
#item-info{
    .upgrade-summary{
        padding-top: 37px;
    }
}
#tab-content.complete{
    .payment-summary{
        padding-top: 20px;
    }
}
#item-info,
#tab-content.complete{
    .payment-summary,
    .upgrade-summary{
        margin-top: 20px;
        border-top: 1px solid #e0e0e0;
        .diff-total,
        .upgrade-total-price{
            p {
                color: #121010;
                font-size: 23px;
                line-height: 23px;
                margin-bottom: 5px;
                font-family: @semibold;
            }
            small{
                color: #121010;
                font-size: 13px;
                line-height: 13px;
                font-family: @regular;
            }
        }
        .total,
        .new-total,
        .upgrade-diff-price{
            color: #30a718;
            font-size: 23px;
            line-height: 23px;
            margin-right: 7px;
            font-family: @semibold;
            padding-bottom: 3px;
        }
     }
}
#messages-block{
    margin-bottom: 0px;
    .message-wrapper{
        .box-shadow(0px 10px 21px 1px rgba(230,230,230,0.96));
        display: none;
        margin-bottom: 40px;
        background-color: #e7f4dd;
        &.show{
            display: block;
        }
        &.edit-pod{
            background-color: #fffeeb;
            .message{
                background-color: #fffeeb;
                padding: 18px 18px 8px 18px;
                background-color: hsla(0, 0%, 0%, 0);
                background-image: -webkit-linear-gradient(#fffeeb, #fffeeb), -webkit-linear-gradient(top left, transparent 50.5%, #fffeeb 50.5%), -webkit-linear-gradient(top right, transparent 50.5%, #fffeeb 50.5%), -webkit-linear-gradient(bottom left, transparent 50.5%, #fffeeb 50.5%), -webkit-linear-gradient(bottom right, transparent 50.5%, #fffeeb 50.5%);
                background-image: -moz-linear-gradient(#fffeeb, #fffeeb), -moz-linear-gradient(top left, transparent 50.5%, #fffeeb 50.5%), -moz-linear-gradient(top right, transparent 50.5%, #fffeeb 50.5%), -moz-linear-gradient(bottom left, transparent 50.5%, #fffeeb 50.5%), -moz-linear-gradient(bottom right, transparent 50.5%, #fffeeb 50.5%);
                background-image: linear-gradient(#fffeeb, #fffeeb), linear-gradient(to bottom right, transparent 50.5%, #fffeeb 50.5%), linear-gradient(to bottom left, transparent 50.5%, #fffeeb 50.5%), linear-gradient(to top right, transparent 50.5%, #fffeeb 50.5%), linear-gradient(to top left, transparent 50.5%, #fffeeb 50.5%);
                &:before{
                    content: none;
                }
                h3, p{
                    text-align: center;
                }
                h3{
                    font-size: 17px;
                    margin-bottom: 10px;
                }
                .buttons{
                    margin: 20px 0 0 0;
                    button{
                        height: initial;
                        padding: 0 15px;
                        line-height: 28px;
                        margin-bottom: 18px;
                    }
                }
            }
        }
        .message{
            top: 10px;
            width: 100%;
            position: relative;
            padding: 10px 35px 30px 55px;
            border: 10px solid transparent;
            border-width: 0 0 10px;
            background-color: #e7f4dd;
            background-color: hsla(0, 0%, 0%, 0);
            background-image: -webkit-linear-gradient(#e7f4dd, #e7f4dd), -webkit-linear-gradient(top left, transparent 50.5%, #e7f4dd 50.5%), -webkit-linear-gradient(top right, transparent 50.5%, #e7f4dd 50.5%), -webkit-linear-gradient(bottom left, transparent 50.5%, #e7f4dd 50.5%), -webkit-linear-gradient(bottom right, transparent 50.5%, #e7f4dd 50.5%);
            background-image: -moz-linear-gradient(#e7f4dd, #e7f4dd), -moz-linear-gradient(top left, transparent 50.5%, #e7f4dd 50.5%), -moz-linear-gradient(top right, transparent 50.5%, #e7f4dd 50.5%), -moz-linear-gradient(bottom left, transparent 50.5%, #e7f4dd 50.5%), -moz-linear-gradient(bottom right, transparent 50.5%, #e7f4dd 50.5%);
            background-image: linear-gradient(#e7f4dd, #e7f4dd), linear-gradient(to bottom right, transparent 50.5%, #e7f4dd 50.5%), linear-gradient(to bottom left, transparent 50.5%, #e7f4dd 50.5%), linear-gradient(to top right, transparent 50.5%, #e7f4dd 50.5%), linear-gradient(to top left, transparent 50.5%, #e7f4dd 50.5%);
            background-repeat: repeat, repeat-x, repeat-x, repeat-x, repeat-x;
            background-position: 0 0, 0 0, 0 0, 10px 100%, 10px 100%;
            background-size: auto auto, 0 0, 0 0, 20px 20px, 20px 20px;
            background-clip: padding-box, border-box, border-box, border-box, border-box;
            background-origin: padding-box, border-box, border-box, border-box, border-box;
            &:before{
                top: 14px;
                margin: 0;
                left: -36px;
                width: 71px;
                content: '';
                height: 72px;
                position: absolute;
                background: url('../img/success-big.png') 0 0 no-repeat;
            }
            h3{
                color: #050505;
                font-size: 17px;
                margin-top: 5px;
                text-align: left;
                line-height: 17px;
                margin-bottom: 15px;
                font-family: @bold;
            }
            p{
                color: #565656 ;
                font-size: 13px;
                line-height: 20px;
                word-break: break-all;
                word-wrap: break-word;
                font-family: @regular;
            }
            .close{
                .opacity(1);
                top: 0;
                margin: 0;
                right: 10px;
                position: absolute;
                &:before{
                    .border-radius(50%);
                    color: #fff;
                    padding: 3px;
                    max-width: 100%;
                    font-size: 16px;
                    background-color: #B6DE9A;
                }
                &:hover{
                    .opacity(0.7);
                    cursor: pointer;
                }
            }
        }
    }
}
/* end-pod-main */

/* add pod */
#add-image{
    .sidebar{
        padding-left: 0;
        .nav-sidebar{
            li{
                color: #b1b9c0;
                &.active{
                    color: #1a1a1a;
                }
                &.success{
                    color: #3f920e;
                    &:before{
                        width: 17px;
                        height: 18px;
                        background: url('../img/confirm.png') 0 0 no-repeat;
                    }
                }
                &:hover{
                    cursor: default;
                }
            }
        }
    }
    #details_content{
        .buttons{
           a{
               margin-right: 0;
           }
        }
        &.set-up-image{
            #tab-content{
                margin-bottom: 0px;
                border-bottom: 1px solid #e5e5e5;
                &.clearfix{
                    z-index: 1;
                    margin-bottom: 0;
                    position: relative;
                }
                &.complete{
                    border-bottom: none;
                    .total-wrapper{
                        position: relative;
                        margin-bottom: 52px;
                        background-color: #fff;
                        border: 1px solid #e5e5e5;
                        padding: 14px 20px 4px 20px;
                        &:before{
                            .rotate(180deg);
                            right: 0;
                            top: -41px;
                            color: #b5bbc1;
                            max-width: 55px;
                            content: 'attach_file';
                            display: inline-block;
                            vertical-align: middle;
                            position: absolute;
                            font: normal normal normal 55px/55px @materials;
                        }
                        table{
                            width: 100%;
                            margin-bottom: 10px;
                            thead{
                                tr{
                                    th{
                                        color: #b5b7c1;
                                        font-weight: 400;
                                    }
                                }
                            }
                            tbody{
                                tr{
                                    height: 40px;
                                }
                            }
                        }
                        > div {
                            margin-bottom: 15px;
                        }
                        label{
                            margin-bottom: 15px;
                        }
                        .clearfix{
                            margin-bottom: 0;
                        }
                    }
                    .servers{
                        position: relative;
                        margin-bottom: 35px;
                        background-color: #fcfcfc;
                        border: 1px solid #e5e5e5;
                        padding: 25px 0 25px 110px;
                        > div{
                            line-height: 23px
                        }
                        &:before{
                            top: 0;
                            bottom: 0;
                            left: 15px;
                            content: '';
                            width: 80px;
                            margin: auto;
                            height: 66px;
                            position: absolute;
                            background: url('../img/servers.png') 0 0 no-repeat;
                        }
                    }
                    label{
                        margin-bottom: 5px;
                        display: inline-block;
                        vertical-align: middle;
                    }
                    .help{
                        margin-left: 8px;
                        margin-bottom: 15px;
                        display: inline-block;
                        vertical-align: middle;
                    }
                    table{
                        .help{
                            margin-left: 0;
                            margin-bottom: 0;
                        }
                    }
                    select{
                        &.kube-quantity{
                            height: 52px;
                            color: #1d1d1d;
                            padding: 0 15px;
                            vertical-align: top;
                            margin-bottom: 29px;
                            background-color: #fff;
                            border: 1px solid #e5e5e5;
                        }
                    }
                }
                .image-name-wrapper{
                    .clearfix;
                    display: block;
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 20px;
                    margin-bottom: 30px;
                    padding-bottom: 18px;
                    border-bottom: 1px solid #DDD;
                }
                .policy,
                .kube-type-wrapper{
                    position: relative;
                    select{
                        margin-bottom: 0px;
                        &:disabled{
                            background: #f9f9f9;
                        }
                    }
                    .edit-polycy-description,
                    .edit-kube-type-description{
                        left: 10px;
                        bottom: -20px;
                        color: #adaaaa;
                        font-size: 11px;
                        position: absolute;
                    }
                    .edit-policy,
                    .edit-kube-type{
                        height: 51px;
                        position: relative;
                        display: inline-block;
                        &:before{
                            left: 0;
                            top: 16px;
                            content: '';
                            width: 18px;
                            height: 17px;
                            position: absolute;
                            display: inline-block;
                            background: url('../img/pencil-big.png') 0 0 no-repeat;
                        }
                        &:hover{
                            cursor: pointer;
                            &:before{
                                background-position: 0 -18px;
                            }
                        }
                    }
                }
                .policy{
                    margin-bottom: 50px;
                }
                .kube-type-wrapper{
                    margin-bottom: 50px;
                }
                .volumes{
                    margin-bottom: 30px;
                }
                .entrypoint{
                    margin-bottom: 40px;
                    .entrypoint-info{
                        height: 52px;
                        max-width: 200px;
                        line-height: 54px;
                        margin-bottom: 5px;
                        position: relative;
                        display: inline-block;
                        padding: 0 15px 0 50px;
                        border: 1px solid #f5f5f5;
                        background-color: #fcfcfc;
                        &:before{
                            .border-radius(50%);
                            top: 0;
                            bottom: 0;
                            left: 10px;
                            content: 'i';
                            width: 20px;
                            height: 20px;
                            margin: auto;
                            color: #a9a9a9;
                            line-height: 20px;
                            text-align: center;
                            position: absolute;
                            border: 1px solid #b9b9b9;
                        }
                    }
                    .fields{
                        .clearfix;
                        > div{
                            &:first-child{
                                margin-right: 4px;
                            }
                        }
                        input{
                            width: 100%;
                            height: 52px;
                            padding: 0 15px;
                            margin-bottom: 5px;
                            vertical-align: top;
                            display: inline-block;
                            border: 1px solid #e5e5e5;
                            &.command{
                                &:focus{
                                    .transition(color 500ms ease);
                                    border-color: #188eed;
                                }
                            }
                        }
                    }
                }
                &.environment{
                    .environment-set-up{
                        thead{
                            tr{
                                th{
                                    width: 270px;
                                    &:first-child{
                                        padding-right: 4px;
                                    }
                                }
                            }
                        }
                        tbody{
                            tr{
                                td{
                                    width: 270px;
                                    position: relative;
                                    vertical-align: top;
                                    &:first-child{
                                        padding-right: 4px;
                                    }
                                    input{
                                        .transition(all 500ms ease);
                                        width: 100%;
                                        height: 52px;
                                        padding: 0 15px;
                                        margin-bottom: 5px;
                                        vertical-align: top;
                                        display: inline-block;
                                        border: 1px solid #e5e5e5;
                                        &.error{
                                            .transition(color 500ms ease);
                                            border-color: red;
                                        }
                                        &:focus{
                                            .transition(color 500ms ease);
                                            border-color: #188eed;
                                        }
                                    }
                                }
                            }
                        }
                        .remove-env{
                            top: 15px;
                            left: 12px;
                            position: absolute;
                        }
                    }
                }
                &.environment,
                .entrypoint{
                    label{
                        display: block;
                        margin-bottom: 10px;
                    }
                    a{
                        &:hover{
                            color: #3d464d;
                            text-decoration: none;
                        }
                    }
                    .bottom{
                        label{
                            margin-top: 25px;
                        }
                    }
                    .reset{
                        margin-bottom: 143px;
                    }
                    button{
                        .box-shadow(none);
                        outline: 0;
                        border: none;
                        position: relative;
                        margin-bottom: 35px;
                        background: transparent;
                        &.add-env{
                            color: #3297ed;
                            margin-top: 12px;
                            padding-left: 35px;
                            &:before{
                                top: 2px;
                                left: 10px;
                                content: '';
                                width: 15px;
                                height: 15px;
                                background: url('../img/add-port-plus.png') 0 0 no-repeat;
                                position: absolute;
                            }
                        }
                        &.reset-button{
                            .border-radius(2px);
                            height: 37px;
                            color: #ffffff;
                            padding: 0 30px;
                            font-size: 15px;
                            margin-bottom: 0;
                            font-family: @regular;
                            background-color: #2490EA;;
                        }
                    }
                }
            }
        }
        #tab-content{
            .clearfix{
                > div{
                    margin-bottom: 25px;
                }
                .image-source,
                #search-image-field,
                #private-image-field{
                    .box-shadow(none);
                    .border-radius(0);
                    .placeholder(#b4b4b4);
                    width: 100%;
                    height: 52px;
                    padding: 0 20px;
                    vertical-align: top;
                    display: inline-block;
                    border: 1px solid #e5e5e5;
                }
                .image-source{
                    padding: 0;
                    border: none;
                    font-size: 13px;
                    background-color: #fff;
                    button{
                        font-size: 13px;
                        height: inherit;
                        border-right: none;
                    }
                }
                #search-image-field,
                #private-image-field{
                    font-size: 13px;
                    border-right: 0;
                    background-color: #fff;
                }
                .search-image-inner{
                    height: 52px;
                    .search-image,
                    .select-image{
                        width: 100%;
                        height: 52px;
                        border: none;
                    }
                    .search-image{
                        .mdi('search',32px, #fff, #fff);
                        background-color: #2490EA;
                    }
                    .select-image{
                        color: #fff;
                        font-size: 14px;
                        background-color: #2490EA;
                    }
                }
                @media (max-width: 768px) {
                    .image-source{
                        button{
                            border-right: 1px solid #e5e5e5;
                        }
                    }
                    #search-image-field,
                    #private-image-field{
                        border-right: 1px solid #e5e5e5;
                    }
                }
            }
            .private{
                display: none;
            }
            .login-user{
                display: none;
                margin-bottom: 20px;
                input{
                    .box-shadow(none);
                    .border-radius(0);
                    width: 100%;
                    height: 52px;
                    padding: 0 15px;
                    font-size: 13px;
                    vertical-align: top;
                    display: inline-block;
                    border: 1px solid #e5e5e5;
                    &:focus{
                        border-color: #188eed;
                    }
                }
            }
            #search-results-scroll{
                border-bottom: 1px solid #e5e5e5;
                #data-collection{
                    .item {
                        .clearfix();
                        .clearfix;
                        > div{
                            margin-bottom: 0;
                        }
                        &:last-child{
                            margin-bottom: 0;
                        }
                        .item-header-title {
                            font-size: 15px;
                            font-weight: bold;
                            margin-bottom: 5px;
                        }
                        .item-body-info{
                            font-size: 13px;
                            font-weight: normal;
                            word-break: break-all;
                        }
                        .more{
                            padding-top: 10px;
                            a{
                                &:hover{
                                    text-decoration: none;
                                }
                            }
                        }
                        .add-item{
                            .border-radius(2px);
                            padding: 0;
                            color: #fff;
                            width: 100%;
                            float: right;
                            height: 37px;
                            font-size: 15px;
                            margin-top: 13px;
                            border: 1px solid;
                            text-align: center;
                            border-color: #2490EA;
                            background-color: #2490EA;
                            font-family: @regular;
                        }
                    }
                }
                .search-control{
                    margin-bottom: 0;
                    text-align: center;
                    > div {
                        padding: 12px;
                        line-height: 20px;
                        position: relative;
                        margin-top: -25px;
                        &.btn-more{
                            color: #3197ee;
                            margin-bottom: 0;
                            position: relative;
                            padding-left: 26px;
                            .mdi('autorenew',21px, #3197EE, #3197EE);
                            &.animation{
                                &:before{
                                    .rotating(1s);
                                }
                            }
                            &:hover{
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
            label{
                margin-bottom: 15px;
            }
        }
    }
    .description{
        margin-top: 22px;
        p{
            font-size: 12px;
            margin-bottom: 0;
            padding-left: 8px;
        }
    }
}
#container-page{
    .nav-sidebar > li:last-child{
        height: initial;
    }
    .sub-nav{
        margin-top: 5px;
        li{
            margin-left: 0;
            padding-left: 10px;
            &:before{
                .border-radius(50%);
                top: 9px;
                left: 0px;
                width: 3px;
                height: 3px;
                background-color: #3197ee;
            }
            &.active{
                &:before{
                    background-color: #272727;
                }
            }
            &:hover{
                &:before{
                   background-color: #272727;
                }
            }
        }
    }
    #details_content{
        &.timelines-tab,
        &.monitoring-tab{
            #tab-content{
                .clearfix;
                .col-xs-10{
                    margin-bottom: 0;
                    .info{
                        margin-bottom: 27px;
                    }
                }
            }
        }
        &.monitoring-tab{
            #tab-content{
                #monitoring-page{
                    .page-top-menu{
                        span{
                            &:first-child{
                                width: 95px;
                            }
                        }
                        label{
                            font-weight: normal;
                            span{
                                top: 2px;
                                margin-right: 5px;
                            }
                        }
                    }
                }
            }
        }
        &.variables-tab{
            .variables-table{
                margin-top: 27px;
            }
            #data-table{
                margin-top: 0;
            }
        }
        &.limits-tab{
            #tab-content{
                &.limits{
                    .servers{
                        margin-top: 27px;
                        padding-left: 140px;
                        &:before{
                            top: 0;
                            left: 0;
                            width: 150px;
                            content: '';
                            height: 66px;
                            position: absolute;
                            background: url('../img/servers.png') center no-repeat;
                        }
                        > div{
                            line-height: 18px;
                            &.edit{
                                top: 74px;
                                left: 65px;
                                color: #3197ee;
                                position: absolute;
                                &:before{
                                    content: '';
                                    left: -18px;
                                    top: 1px;
                                    width: 13px;
                                    height: 14px;
                                    position: absolute;
                                    background: url('../img/pencil-small.png') 0 -14px no-repeat;
                                }
                                &:hover{
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }
            }
        }
        &.logs-tab{
            .export-logs {
                color: #4e5665;
                font-size: 13px;
                line-height: 17px;
                position: relative;
                padding-left: 24px;
                margin-bottom: 20px;
                text-decoration: none;
                &:hover{
                    color: #428bca;
                    &:before{
                        background-position: 0 -18px;
                    }
                }
                &:before{
                    top: 0;
                    left: 0;
                    bottom: 0;
                    content: '';
                    width: 15px;
                    height: 17px;
                    margin: auto;
                    position: absolute;
                    background: url('../img/export-ico.png') 0 0 no-repeat;
                }
                &.disabled{
                    .opacity(0.5);
                    &:hover{
                        cursor: not-allowed;
                    }
                }
            }
            .container-logs-wrapper{
                .clearfix();
            }
            .container-logs{
                .box-shadow-materials();
                clear: both;
                color: white;
                height: 38em;
                padding: 20px;
                overflow: auto;
                font-size: 10pt;
                margin-bottom: 10px;
                background-color: #000;
                p{
                    margin: 0;
                    line-height: 21px;
                    word-break: break-all;
                    time{
                        color: #05E9FF;
                    }
                }
            }
            .logs-description{
                min-height: 37px;
                font-size: 12px;
                line-height: 37px;
                padding-left: 8px;
            }
        }
        #tab-content{
            #ports-table{
                margin-bottom: 35px;
            }
            .volumes{
                margin-bottom: 22px;
            }
        }
    }
}
