/* pod-main */
#podlist-table, #imagelist-table, #ports-table, #volumes-table, .variables-table{
    thead{
        background-color: transparent;
        &.min-opacity{
            .opacity(0);
        }
        tr{
            th{
                border: none;
                color: #b1b9c0;
                padding-top: 0;
                font-size: 14px;
                text-align: left;
                font-weight: normal;
                vertical-align: top;
                padding-bottom: 10px;
                font-family: @regular;
                border-bottom: 1px solid #e5e5e5;
                &:focus{
                    outline: 0;
                }
                &:nth-child(2){
                    .tablesorter-header-inner{
                        .caret{
                            margin-left: -3px;
                        }
                    }
                }
                .tablesorter-header-inner{
                    .caret{
                        margin-left: 3px;
                    }
                }
            }
        }
    }
    tbody{
        tr{
            &.checked, &:hover{
                background-color: #f5fafe;
                td{
                    .editPod{
                        background: url('../img/pencil-big.png') 0 0 no-repeat;
                        &:hover{
                            background-position: 0 -18px;
                        }
                    }
                    .start-btn{
                        background: url('../img/start.png') 0 0 no-repeat;
                        &:hover{
                            background-position: 0 -18px;
                        }
                    }
                    .stop-btn{
                        background: url('../img/stop.png') 0 0 no-repeat;
                        &:hover{
                            background-position: 0 -17px;
                        }
                    }
                    .terminate-btn{
                        background: url('../img/recycling.png') 0 0 no-repeat;
                        &:hover{
                            background-position: 0 -18px;
                        }
                    }
                }
            }
            &:last-child{
                td{
                    border-bottom: 1px solid #e5e5e5;
                }
            }
            td{
                height: 50px;
                color: #1d1d1d;
                padding-top: 0;
                font-size: 14px;
                padding-bottom: 0;
                vertical-align: middle;
                font-family: @regular;
                &:first-letter{
                    text-transform: uppercase;
                }
                &.containerProtocol{
                    &:first-letter{
                        text-transform: none;
                    }
                }
                &.index{
                    color: #b1b9c0;
                }
                span{
                    &.more-ico{
                        width: 20px;
                        height: 5px;
                        display: inline-block;
                        vertical-align: middle;
                        background: url('../img/small-circles.png') 0 0 no-repeat;
                        &:hover{
                            cursor: default;
                            background-position: 0 -5px;
                        }
                    }
                    + .editable-container{
                        button{
                           margin-bottom: 0 !important;
                        }
                    }
                }
                span{
                    &.running, &.OK, &.stopped,  &.troubles, &.pending, &.waiting{
                        position: relative;
                        padding-left: 22px;
                        &:before{
                            .border-radius(50%);
                            left: 2px;
                            width: 12px;
                            content: '';
                            height: 12px;
                            bottom: 3px;
                            position: absolute;
                        }
                    }
                    &.running, &.OK{
                        &:before{
                            background-color: #97cd75;
                            border: 1px solid #589630;
                        }
                    }
                    &.stopped{
                        &:before{
                            border: 1px solid #bc1b14;
                            background-color: #f5544d;
                        }
                    }
                    &.troubles, &.pending, &.waiting{
                        &:before{
                            border: 1px solid #c0a630;
                            background-color: #f0d765;
                        }
                    }
                }
                .start-btn, .stop-btn, .editPod, .terminate-btn{
                    top: 4px;
                    left: 7px;
                    width: 20px;
                    height: 17px;
                    font-size: 0;
                    position: relative;
                    display: inline-table;
                    &:hover{
                        cursor: pointer;
                    }
                }
                .editPod{
                    display: inline-table;
                }
                .tooltip.bottom{
                    .opacity(1);
                    .box-shadow(0px 1px 1px 0px rgba(250,250,250,1));
                    margin-top: 8px;
                    border-color: #bdc4c9;
                    background-color: #fff;
                    .tooltip-arrow{
                        display: none;
                    }
                    .tooltip-inner{
                        height: 44px;
                        color: #1d1d1d;
                        padding: 0 12px;
                        line-height: 44px;
                        position: relative;
                        text-align: center;
                        white-space: nowrap;
                        background-color: #fff;
                        border: 1px solid #c7ced3;
                        &:before{
                            left: 46%;
                            top: -10px;
                            content:'';
                            width: 14px;
                            z-index: 9999;
                            height: 11px;
                            position: absolute;
                            background: url('../img/tooltip-arrow-up.png') 0 0 no-repeat
                        }
                    }
                }
            }
            a{
                padding: 0;
                color: #3197ee;
                font-size: 14px;
                font-family: @regular;
                text-decoration: none;
                &:hover{
                    text-decoration: none;
                    cursor: pointer;
                }
            }
        }
    }
}
.variables-table{
    margin-top: 10px;
}
#item-controls{
    margin-bottom: 0px;
    .no-padding{
        font-size: 0;
        line-height: 29px;
        border-bottom: 1px solid #e5e5e5;
    }
    .col-xs-10{
        .clearfix;
        float: none;
        padding-right: 0;
        margin: 37px auto 32px;
        .col-xs-6{
            margin-bottom: 25px;
            padding-right: 0;
        }
        .info{
            padding-left: 94px;
            position: relative;
            &:before{
                top: 0;
                left: 0;
                width: 80px;
                content: '';
                height: 70px;
                position: absolute;
                background: url('../img/info-ico.png') 0 0 no-repeat;
            }
            > div{
                color: #1d1d1d;
                font-size: 14px;
                margin-bottom: 2px;
                font-weight: normal;
                font-family: @regular;
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
        .servers{
            position: relative;
            padding-left: 103px;
            &:last-child{
                margin-bottom: 0;
            }
            &:before{
                top: 0;
                left: 0;
                width: 80px;
                content: '';
                height: 66px;
                position: absolute;
                background: url('../img/servers.png') 0 0 no-repeat;
            }
            .edit{
                left: 0;
                top: 74px;
                color: #3197ee;
                padding-left: 21px;
                position: absolute;
                &:before{
                    top: 3px;
                    left: 5px;
                    width: 13px;
                    content: '';
                    height: 13px;
                    position: absolute;
                    background: url('../img/pencil-small.png') 0 0 no-repeat;
                }
                &:hover{
                    cursor: pointer;
                    &:before{
                        background-position: 0 -14px;
                    }
                }
            }
        }
    }
    span{
        height: 40px;
        font-size: 16px;
        color: #3197ee;
        margin-right: 25px;
        vertical-align: top;
        display: inline-block;
        text-transform: capitalize;
        font-family: "ProximaNovaReg";
        &:hover{
            color: #1d1d1d;
            cursor: pointer;
        }
        &:first-child{
            color: #1d1d1d;
            font-weight: bold;
            position: relative;
            padding-left: 37px;
            margin-right: 40px;
            &:hover{
                cursor: default;
            }
        }
        &:before{
            .border-radius(50%);
            left: 11px;
            width: 13px;
            content: '';
            height: 13px;
            bottom: 20px;
            position: absolute;
        }
        &.running, &.OK{
            &:before{
                background-color: #97cd75;
                border: 1px solid #589630;
            }
        }
        &.stopped{
            &:before{
                border: 1px solid #bc1b14;
                background-color: #f5544d;
            }
        }
        &.troubles, &.pending, &.waiting{
            &:before{
                border: 1px solid #c0a630;
                background-color: #f0d765;
            }
        }
        &.rename_pod{
            float: right;
            margin-top: 5px;
            margin-left: 22px;
            position: relative;
            margin-right: 10px;
            line-height: 22px;
            color: #030303;
            border-bottom: 1px dashed #000000;
            height: 22px;
            &:before{
                top: 0px;
                left: -31px;
                width: 23px;
                height: 19px;
                content: '';
                position: absolute;
                background: url('../img/pencil-big.png') 100% 2px no-repeat;
            }
            &:hover{
                &:before{
                    background-position: 100% bottom;
                }
            }
        }
    }
}
/* end-pod-main */

/* add pod */
.add-item{
    cursor: pointer;
}

#add-image{
    .sidebar{
        .nav-sidebar{
            li{
                color: #b1b9c0;
                &.active{
                    color: #1a1a1a;
                    &:before{
                        width: 17px;
                        height: 18px;
                        background: url('../img/confirm.png') 0 0 no-repeat;
                    }
                }
                &.success{
                    color: #3f920e;
                    &:before{
                        width: 17px;
                        height: 18px;
                        background: url('../img/confirm.png') 0 0 no-repeat;
                    }
                }
                &:hover{
                    cursor: default;
                }
            }
        }
        .added-containers{
            .border-radius(5px);
            border: 1px solid #e5e5e5;
            padding: 18px 0 20px 23px;
            margin: 30px 0px 10px 10px;
            > div{
                margin-bottom: 10px;
            }
            label{
                margin-bottom: 15px;
            }
            button{
                outline: 0;
                width: 17px;
                border: none;
                color: #ffffff;
                background: none;
                margin-left: 10px;
                line-height: 17px;
                position: relative;
                display: inline-block;
                font-family: @regular;
                &:before{
                    top: 0px;
                    left: 0px;
                    content: '';
                    position: absolute;
                }
                &.delete-item{
                    &:before{
                        width: 16px;
                        height: 17px;
                        background: url('../img/recycling.png') 0 0 no-repeat;
                    }
                    &:hover{
                        &:before{
                            background-position: 0 -18px;
                        }
                    }
                }
                &.edit-item{
                    &:before{
                        width: 18px;
                        height: 17px;
                        background: url('../img/pencil-big.png') 0 0 no-repeat;
                    }
                    &:hover{
                        &:before{
                            background-position: 0 -18px;
                        }
                    }
                }
            }
        }
    }
    #details_content{
        &.set-up-image{
            #tab-content{
                margin-bottom: 0px;
                padding-left: 45px;
                border-bottom: 1px solid #e5e5e5;
                &.clearfix{
                    margin-bottom: 0;
                }
                &.complete{
                    padding-left: 45px;
                    padding-right: 10px;
                    .left{
                        margin-bottom: 29px;
                        border-bottom: 1px solid #e5e5e5;
                    }
                    .right{
                        position: relative;
                        padding: 72px 30px 30px;
                        border: 1px solid #e5e5e5;
                        &:before{
                            top: -18px;
                            right: 25px;
                            content: '';
                            width: 67px;
                            height: 64px;
                            position: absolute;
                            background: url('../img/clip.png') 0 0 no-repeat;
                        }
                        .clearfix{
                            margin-bottom: 0;
                        }
                        .total{
                            color: #3f920e;
                            font-size: 22px;
                            margin-top: 30px;
                            margin-bottom: 0;
                            text-align: center;
                        }
                    }
                    .servers{
                        margin-bottom: 35px;
                        padding-left: 107px;
                        position: relative;
                        > div{
                            line-height: 23px
                        }
                        &:before{
                            top: 0;
                            left: 0;
                            width: 107px;
                            content: '';
                            height: 66px;
                            position: absolute;
                            background: url('../img/servers.png') 0 0 no-repeat;
                        }
                    }
                    label{
                        display: block;
                    }
                    select{
                        height: 52px;
                        color: #1d1d1d;
                        padding: 0 15px;
                        vertical-align: top;
                        margin-bottom: 29px;
                        background-color: #fff;
                        border: 1px solid #e5e5e5;
                        &.kube_type{
                            width: 100%;
                        }
                    }
                }
                label{
                    &.custom{
                        display: block;
                        font-weight: normal;
                        span{
                            width: 20px;
                            height: 21px;
                            margin-right: 10px;
                            display: inline-block;
                            vertical-align: middle;
                            &:before{
                                top: 0px;
                                left: 0px;
                                width: 18px;
                                height: 19px;
                                background-position: center;
                            }
                        }
                    }
                }
                .policy{
                    margin-top: 15px;
                    margin-bottom: 30px;
                    select{
                        width: 100%;
                        height: 52px;
                        color: #1d1d1d;
                        padding: 0 15px;
                        vertical-align: top;
                        background-color: #fff;
                        border: 1px solid #e5e5e5;
                    }
                }
                .ports, .volumes{
                    table{
                        thead{
                            tr{
                                th{
                                    color: #1d1d1d
                                }
                            }
                        }
                    }
                    label{
                        display: block;
                        .ip{
                            color: #d1d1d1;
                            font-weight: normal;
                        }
                    }
                    .col-xs-10{
                        margin: 0;
                    }
                    #ports-table{
                        margin-bottom: 15px;
                        tbody{
                            tr{
                                td{
                                    label{
                                        &.custom{
                                            margin-bottom: 0;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    #ports-table, #volumes-table{
                        tr{
                            td{
                                &:last-child{
                                    position: relative;
                                    span{
                                        &.remove-port, &.remove-volume{
                                            top: 0;
                                            bottom: 0;
                                            width: 15px;
                                            margin: auto;
                                            height: 15px;
                                            right: -30px;
                                            position: absolute;
                                            background: url('../img/remove-line.png') 0 0 no-repeat;
                                            &:hover{
                                                cursor: pointer;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .radio{
                        position: initial;
                        min-height: initial;
                        margin-top: initial;
                        margin-bottom: initial;
                        label{
                            padding-left: 0;
                            margin-left: 15px;
                            margin-right: 5px;
                            display: inline-block;
                            input{
                                display: none;
                                &:checked{
                                    +span{
                                        &:before{
                                            .border-radius(50%);
                                            top: 4px;
                                            left: 4px;
                                            width: 5px;
                                            height: 5px;
                                            content: '';
                                            margin: auto;
                                            position: absolute;
                                            background-color: #898989;
                                        }
                                    }
                                }
                            }
                            span{
                                .border-radius(50%);
                                width: 15px;
                                height: 15px;
                                margin-right: 4px;
                                position: relative;
                                display: inline-block;
                                border: 1px solid #898989;
                                vertical-align: text-top;
                            }
                        }
                    }
                    button{
                        .box-shadow(none);
                        outline: 0;
                        position: relative;
                        margin-bottom: 35px;
                        background: transparent;
                        &.add-port, &.add-volume{
                            border: none;
                            color: #3297ed;
                            padding-left: 35px;
                            &:before{
                                top: 2px;
                                left: 10px;
                                content: '';
                                width: 15px;
                                height: 15px;
                                background: url('../img/add-port-plus.png') 0 0 no-repeat;
                                position: absolute;
                            }
                        }
                        &.btn-primary{
                            color: #fff;
                            border-color: #357ebd;
                            background-color: #428bca;
                        }
                    }
                }
                .volumes{
                    margin-bottom: 30px;
                    table{
                        label{
                            margin-bottom: 0;
                            span{
                                width: 15px;
                                height: 15px;
                                margin-right: 0;
                                &:before{
                                    top: 0px;
                                    left: 1px;
                                    width: 17px;
                                    height: 16px;
                                    background-position: 0 0;
                                }
                            }
                        }
                    }
                }
                &.environment{
                    .fields{
                        .clearfix;
                        > div{
                            &:first-child{
                                margin-right: 4px;
                            }
                        }
                        input{
                            width: 100%;
                            height: 52px;
                            padding: 0 15px;
                            margin-bottom: 5px;
                            vertical-align: top;
                            display: inline-block;
                            border: 1px solid #e5e5e5;
                        }
                    }
                    label{
                        display: block;
                    }
                    .bottom{
                        label{
                            margin-top: 25px;
                        }
                    }
                    .reset{
                        margin-bottom: 143px;
                    }
                    button{
                        .box-shadow(none);
                        outline: 0;
                        border: none;
                        position: relative;
                        margin-bottom: 35px;
                        background: transparent;
                        &.add-env{
                            color: #3297ed;
                            margin-top: 12px;
                            padding-left: 35px;
                            &:before{
                                top: 2px;
                                left: 10px;
                                content: '';
                                width: 15px;
                                height: 15px;
                                background: url('../img/add-port-plus.png') 0 0 no-repeat;
                                position: absolute;
                            }
                        }
                        &.reset-button{
                            height: 37px;
                            color: #ffffff;
                            padding: 0 30px;
                            font-size: 16px;
                            margin-bottom: 0;
                            font-family: @regular;
                            background-color: #466eb1;
                        }
                    }
                }
            }
        }
        #tab-content{
            .clearfix;
            .clearfix{
                margin-bottom: 25px;
                .image-source, #search-image-field{
                    .box-shadow(none);
                    .border-radius(0);
                    width: 100%;
                    height: 52px;
                    vertical-align: top;
                    display: inline-block;
                    border: 1px solid #e5e5e5;
                }
                .image-source{
                    padding: 0 10px;
                    border-right: 0;
                    background-color: #f8f8f8;
                }
                #search-image-field{
                    border-right: 0;
                    background-color: #fff;
                }
                .search-image{
                    width: 100%;
                    height: 52px;
                    border: none;
                    font-size: 0;
                    color: transparent;
                    background: #466eb1 url('../img/search-ico-big.png') center center no-repeat;
                }
            }
            .login-user{
                display: none;
                margin-bottom: 20px;
                input{
                    .box-shadow(none);
                    .border-radius(0);
                    width: 100%;
                    height: 52px;
                    padding: 0 15px;
                    vertical-align: top;
                    display: inline-block;
                    border: 1px solid #e5e5e5;
                }
            }
            #search-results-scroll{
                border-bottom: 1px solid #e5e5e5;
                #data-collection{
                    .item {
                        color: #000000;
                        height: 110px;
                        margin: 15px 0;
                        padding-left: 120px;
                        position: relative;
                        &:before{
                            top: 0;
                            left: 0;
                            content: '';
                            width: 98px;
                            height: 86px;
                            position: absolute;
                            background: url('../img/container-image.png') 0 0 no-repeat;
                        }


                        .item-header-title {
                            font-size: 16px;
                            font-weight: bold;
                            margin-bottom: 5px;
                        }
                        .item-body{
                            font-size: 14px;
                            font-weight: normal;
                        }
                        .more{
                            color: #3197ee;
                            font-size: 14px;
                        }
                        .like{
                            padding: 0;
                            border: none;
                            color: #000000;
                            font-size: 16px;
                            margin-left: 25px;
                            text-align: center;
                            position: relative;
                            padding-left: 30px;
                            background-color: transparent;
                            font-family: "ProximaNovaReg";
                            &:before{
                                left: 0;
                                content: '';
                                width: 25px;
                                height: 20px;
                                position: absolute;
                                background: url('../img/like.png') 0 0 no-repeat;

                            }
                        }
                        .add-item{
                            padding: 0;
                            color: #fff;
                            width: 100px;
                            height: 37px;
                            font-size: 16px;
                            margin-top: 13px;
                            border: 1px solid;
                            text-align: center;
                            border-color: #466eb1;
                            background-color: #466eb1;
                            font-family: "ProximaNovaReg";
                        }
                    }
                }
                .btn-more, .no-more-state, .load-state{
                    margin-bottom: 5px;
                    text-align: center;
                }
            }
            label{
                margin-bottom: 15px;
            }
        }
    }
    .description{
        line-height: 78px;
    }
}
#container-page{
    .nav-sidebar > li:last-child{
        height: initial;
    }
    .sub-nav{
        margin-top: 5px;
        li{
            margin-left: 0;
            padding-left: 10px;
            &:before{
                .border-radius(50%);
                top: 9px;
                left: 0px;
                width: 3px;
                height: 3px;
                background-color: #3197ee;
            }
            &.active{
                &:before{
                    background-color: #272727;
                }
            }
            &:hover{
                &:before{
                   background-color: #272727;
                }
            }
        }
    }
    #details_content{
        &.timelines-tab, &.monitoring-tab{
            #tab-content{
                .clearfix;
                .col-xs-10{
                    margin-bottom: 0;
                    .info{
                        margin-bottom: 27px;
                    }
                }
            }
        }
        &.monitoring-tab{
            #tab-content{
                #monitoring-page{
                    .page-top-menu{
                        span{
                            &:first-child{
                                width: 95px;
                            }
                        }
                        label{
                            font-weight: normal;
                            span{
                                top: 2px;
                                margin-right: 5px;
                            }
                        }
                    }
                }
            }
        }
        &.variables-tab{
            .variables-table{
                width: 97%;
                margin-top: 27px;
                margin-left: 3%;
            }
        }
        &.configuration-general-tab{
            #tab-content{
                .clearfix;
                .col-xs-10{
                    margin-bottom: 0;
                    .info{
                        margin-bottom: 27px;
                    }
                }
            }
        }
        &.logs-tab,  &.monitoring-tab,  &.timelines-tab{
             #tab-content{
                .servers{
                    position: relative;
                    padding-left: 103px;
                    min-height: 70px;
                    &:before{
                        top: 0;
                        left: 0;
                        width: 80px;
                        content: '';
                        height: 66px;
                        position: absolute;
                        background: url('../img/servers.png') 0 0 no-repeat;
                    }
                }
             }
        }
        &.limits-tab{
            #tab-content{
                &.limits{
                    .servers{
                        margin-top: 27px;
                        padding-left: 140px;
                        &:before{
                            top: 0;
                            left: 0;
                            width: 150px;
                            content: '';
                            height: 66px;
                            position: absolute;
                            background: url('../img/servers.png') center no-repeat;
                        }
                        > div{
                            line-height: 18px;
                            &.edit{
                                top: 74px;
                                left: 65px;
                                color: #3197ee;
                                position: absolute;
                                &:before{
                                    content: '';
                                    left: -18px;
                                    top: 1px;
                                    width: 13px;
                                    height: 14px;
                                    position: absolute;
                                    background: url('../img/pencil-small.png') 0 -14px no-repeat;
                                }
                                &:hover{
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }
            }
        }
        &.logs-tab{
            #tab-content{
                .curent-margin{
                    margin-bottom: 27px;
                }
                > .col-xs-10{
                    margin: 0px 0px 0px 3%;
                }

                .info, .servers{
                    margin-bottom: 30px;
                }
            }
            .container-logs{
                background: black;
                color: white;
                padding: 1em;
                height: 38em;
                overflow: auto;
                font-size: 10pt;
                line-height: 1em;
                p{
                    margin: 0 0 6px;
                }
            }
        }
        .status-line{
            span{
                color: #3197ee;
                margin-left: 25px;
                font-weight: normal;
                &:hover{
                    cursor: pointer;
                    color: #1d1d1d;
                }
            }
        }
        #tab-content{
            #ports-table, .volumes, #monitoring-page, .container-logs-wrapper, #timelines-page{
                width: 97%;
                margin-left: 3%;
            }
            #ports-table{
                margin-bottom: 35px;
            }
            .volumes{
                margin-bottom: 22px;
            }
            .info{
                height: 70px;
                margin-bottom: 45px;
            }
            .col-xs-10{
                margin: 27px 0px 45px 3%;
            }
        }
    }
}