/* pod-main */
#podlist-table, #imagelist-table{
	thead{
		background-color: transparent;
		&.min-opacity{
			.opacity(0);
		}
		tr{
			th{
				border: none;
				color: #b1b9c0;
				padding-top: 0;
				font-size: 14px;
				padding-left: 0;
				text-align: left;
				font-weight: normal;
				vertical-align: top;
				padding-bottom: 10px;
				font-family: @regular;
				border-bottom: 1px solid #e5e5e5;
				&:focus{
					outline: 0;
				}
				&:nth-child(2){
					.tablesorter-header-inner{
						.caret{
							margin-left: -3px;
						}
					}
				}
				.tablesorter-header-inner{
					margin-left: 10px;
					.caret{
						margin-left: 3px;
					}
				}
			}
		}
	}
	tbody{
		tr{
			&.checked, &:hover{
				background-color: #f5fafe;
				td{
					.editPod{
						background: url('../img/pencil-hover.png') 0 0 no-repeat;
					}
					.start-btn{
						background: url('../img/start.png') 0 0 no-repeat;
					}
					.stop-btn{
						background: url('../img/restart.png') 0 0 no-repeat;
					}
					.terminate-btn{
						background: url('../img/recycling.png') 0 0 no-repeat;	
					}
				}
			}
			&:last-child{
				td{
					border-bottom: 1px solid #e5e5e5;
				}
			}
			td{
				height: 50px;
				color: #1d1d1d;
				padding-top: 0;
				font-size: 14px;
				padding-bottom: 0;
				vertical-align: middle;
				font-family: @regular;
				span{
					&.more-ico{
						background: url('../img/small-circles.png') 0 0 no-repeat;
						height: 5px;
						width: 20px;
						display: inline-block;
						vertical-align: middle;
						&:hover{
							cursor: default;
							background-position: 0 -5px;
						}
					}
				}
				.start-btn, .stop-btn, .editPod, .terminate-btn{
					top: 4px;
					left: 7px;
					width: 20px;
					height: 17px;
					font-size: 0;
					position: relative;
					display: inline-table;
					&:hover{
						cursor: pointer;
					}
				}
				.editPod{
					display: inline-table;
				}
				.tooltip.bottom{
					margin-top: 8px;
					border-color: #bdc4c9;
					background-color: #fff;
					.box-shadow(0px 1px 1px 0px rgba(250,250,250,1));
					.opacity(1);

					.tooltip-arrow{
						display: none;
					}
					.tooltip-inner{
						height: 44px;
						color: #1d1d1d;
						padding: 0 12px;
						line-height: 44px;
						position: relative;
						text-align: center;
						white-space: nowrap;
						background-color: #fff;
						border: 1px solid #c7ced3;
						&:before{
							left: 46%;
							top: -10px;
							content:'';
							width: 14px;
							z-index: 9999;
							height: 11px;
							position: absolute;
							background: url('../img/tooltip-arrow-up.png') 0 0 no-repeat
						}
					}
				}
			}
			a{
				padding: 0;
				color: #3197ee;
				font-size: 14px;
				font-family: @regular;
				text-decoration: none;
				&:hover{
					text-decoration: none;
					cursor: pointer;
				}
			}
		}
	}
}
#item-controls{
	margin-bottom: 0px;
	.no-padding{
		font-size: 0;
		line-height: 29px;
		border-bottom: 1px solid #e5e5e5;
	}
	.col-xs-10{
		.clearfix;
		float: none;
		padding-right: 0;
		margin: 37px auto 32px;
		.col-xs-6{
			margin-bottom: 25px;
			padding-right: 0;
		}
		.info{
			padding-left: 94px;
			position: relative;
			&:before{
				top: 0;
				left: 0;
				width: 80px;
				content: '';
				height: 70px;
				position: absolute;
				background: url('../img/info-ico.png') 0 0 no-repeat;
			}
			> div{
				color: #1d1d1d;
				font-size: 14px;
				margin-bottom: 2px;
				font-weight: normal;
				font-family: @regular;
				&:last-child{
					margin-bottom: 0;
				}
			}
		}
		.servers{
			position: relative;
			padding-left: 103px;
			&:last-child{
				margin-bottom: 0;
			}
			&:before{
				top: 0;
				left: 0;
				width: 80px;
				content: '';
				height: 66px;
				position: absolute;
				background: url('../img/servers.png') 0 0 no-repeat;
			}
			.edit{
				left: 0;
				top: 74px;
				color: #3197ee;
				padding-left: 21px;
				position: absolute;
				&:before{
					top: 3px;
					left: 5px;
					width: 13px;
					content: '';
					height: 13px;
					position: absolute;
					background: url('../img/pencil-edit-pod.png') 0 0 no-repeat;
				}
				&:hover{
					cursor: pointer;
				}
			}
		}
	}
	span{
		height: 40px;
		font-size: 16px;
		color: #3197ee;
		margin-right: 25px;
		vertical-align: top;
		display: inline-block;
		font-family: "ProximaNovaReg";
			&:hover{
				color: #1d1d1d;
				cursor: pointer;
			}
			&:first-child{
				color: #1d1d1d;
				font-weight: bold;
				position: relative;
				padding-left: 37px;
				margin-right: 40px;
				&:hover{
					cursor: default;
				}
			&:before{
				.border-radius(50%);
				left: 11px;
				width: 13px;
				content: '';
				height: 13px;
				bottom: 20px;
				position: absolute;
			}
			&.running{
				&:before{
					background-color: #98cc79;
					border: 1px solid #5d973c;
				}
			}
			&.stopped{
				&:before{
					background-color: #f25552;
					border: 1px solid #bc2322;
				}
			}
			&.troubles, &.pending{
				&:before{
					background-color: #efd66d;
					border: 1px solid #c1a741;
				}
			}
		}
	}
}
/* end-pod-main */

/* add pod */
.add-item{
	cursor: pointer;
}
