/* predefined-app-main */
.create-app{
    .app-wrapper{
        &.error{
            .box-shadow(0 0 0 1px #ee6860);
            .yaml-textarea-wrapper{
                textarea{
                    &#app-contents{
                        border-top: 0;
                        border-left: 0;
                        border-right: 0;
                        border-bottom: 0;
                        &:focus{
                            + .yaml-textarea-line-numbers{
                                border-top-color:#f1f1f1;
                                border-left-color: #f1f1f1;
                                border-bottom-color: #f1f1f1;
                            }
                        }
                    }
                }
            }
        }
        .accordion{
            .accordion-group{
                .accordion-heading{
                    color: #fff;
                    padding: 7px;
                    font-size: 13px;
                    position: relative;
                    background-color: #ee6860;
                    .accordion-toggle{
                        &.collapsed{
                            .title{
                                &:before{ content: 'keyboard_arrow_down'; }
                                &:after{ content: 'Show details'; }
                            }
                        }
                        .title{
                            .mdi('keyboard_arrow_up',21px, #fff, #fff);
                            top: 0;
                            bottom: 0;
                            right: 20px;
                            margin: auto;
                            font-size: 0;
                            line-height: 32px;
                            position: absolute;
                            &:after{
                                color: #fff;
                                font-size: 13px;
                                display: inline-block;
                                vertical-align: middle;
                                content: 'Hide details';
                            }
                        }
                    }
                }
                .accordion-body{
                    background-color: #fffada;
                    .accordion-inner{
                        color: #484848;
                        font-size: 13px;
                        padding: 20px 0 20px 64px;
                    }
                }
            }
        }
    }
    .yaml-textarea-wrapper{
        position: relative;
        textarea{
            &#app-contents{
                display: block;
                resize: vertical;
                margin-bottom: 0;
                border-color: #f1f1f1;
                padding: 20px 0 20px 64px !important;
                &.error{
                    border-color: red;
                    + .yaml-textarea-line-numbers{
                        .transition(color 500ms ease);
                        border-top-color: red;
                        border-left-color: red;
                        border-bottom-color: red;
                    }
                }
                &:focus{
                    border-color: #188eed;
                    + .yaml-textarea-line-numbers{
                        .transition(color 500ms ease);
                        border-top-color: #188eed;
                        border-left-color: #188eed;
                        border-bottom-color: #188eed;
                    }
                }
            }
            &::-webkit-scrollbar {
                width: 12px;
                height: 12px;
            }
            &::-webkit-scrollbar-button {
                width: 0;
                height: 0;
            }
            &::-webkit-scrollbar-thumb {
                .border-radius(0);
                background: #74b7e3;
                border: 0 none transparent;
            }
            &::-webkit-scrollbar-thumb:hover { background: #74b7e3; }
            &::-webkit-scrollbar-thumb:active { background: #74b7e3; }
            &::-webkit-scrollbar-track {
                .border-radius(0);
                background: #eaf6ff;
                border: 0 none #ffffff;
            }
            &::-webkit-scrollbar-track:hover { background: #eaf6ff; }
            &::-webkit-scrollbar-track:active { background: #eaf6ff;}
            &::-webkit-scrollbar-corner { background: transparent; }
        }
        .yaml-textarea-line-numbers{
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            color: #4e5665;
            min-width: 44px;
            overflow: hidden;
            padding-top: 20px;
            position: absolute;
            padding-bottom: 20px;
            width: 44px !important;
            background-color: #f1f1f1;
            padding-left: 0px !important;
            border: 1px solid transparent;
            .yaml-textarea-number{
                line-height: 23px;
                text-align: center;
            }
        }
    }
    label{
        display: block;
        font-size: 13px;
        padding-left: 0px;
        margin-bottom: 20px;
        font-family: @regular;
    }
    #app-name{
        &.error{
            border-color: red;
        }
    }
    #app-name{
        .placeholder(#b4b4b4);
        width: 100%;
        height: 49px;
        padding: 0 20px;
        font-size: 13px;
        max-width: 325px;
        margin-bottom: 23px;
        border: 1px solid #e5e5e5;
        &:focus{
            .transition(color 500ms ease);
            border-color: #188eed;
        }
    }
    .upload{
        .border-radius(2px);
        .transition(all 300ms);
        .box-sizing(padding-box);
        .box-shadow(0px 2px 4px 0px rgba(0, 0, 0, 0.35));
        color: #fff;
        border: none;
        height: 37px;
        padding: 0 31px;
        font-size: 13px;
        min-width: 105px;
        line-height: 37px;
        text-align: center;
        margin-bottom: 25px;
        display: inline-block;
        background-color: #2490EA;
        text-transform: uppercase;
        font-family: @regular;
        font-weight: inherit;
        &:hover{
            .transition(all 300ms);
            .box-shadow(0 5px 11px 0 rgba(0, 0, 0, 0.18));
            cursor: pointer;
        }
        input[type="file"]{
            .opacity(0);
                top: 0;
                width: 0;
                right: 0;
                height: 0;
                border: none;
                overflow: hidden;
                position: absolute;
        }
    }
    #app-contents{
        .placeholder(#b4b4b4);
        resize: none;
        width: 100%;
        height: auto;
        padding: 20px;
        color: #008aee;
        font-size: 14px;
        min-height: 234px;
        line-height: 23px;
        margin-bottom: 24px;
        border: 1px solid #e5e5e5;
        &:focus{
            .transition(color 500ms ease);
            border-color: #188eed;
        }
    }
    .more-info{
        margin-top: 20px;
        position: relative;
        padding-left: 78px;
        margin-bottom: 62px;
        &:before{
            top: -10px;
            left: 15px;
            content: '';
            width: 47px;
            height: 60px;
            position: absolute;
            background: url('../img/arrow-info.png') 0 0 no-repeat;
        }
        div {
            .mdi('info_outline',28px, #989898, #989898);
            font-size: 12px;
            line-height: 21px;
            position: relative;
            background-color: #fff;
            border: 1px solid #e5e5e5;
            padding: 18px 18px 18px 61px;
            &:before{
                top: 0;
                bottom: 0;
                left: 18px;
                width: 28px;
                height: 28px;
                margin: auto;
                position: absolute;
            }
            &:hover{
                color: #1d1d1d;
                cursor: default;
                &:before{
                    color: #989898;
                }
            }
            a{
                color: #3197ee;
                &:hover, &:focus{
                    color: #3197ee;
                    cursor: pointer;
                    text-decoration: none;
                }
            }
        }
    }
    .buttons{
        margin: 0;
        padding: 20px 0;
        text-align: right;
        border-top: 1px solid #e5e5e5;
    }
}

.validation-error{
    p{
        white-space: pre;
    }
}
