#publicIPs-table,
#persistent-volumes-table,
#license-table{
    .box-shadow-materials();
    margin-bottom: 0;
    thead{
        background-color: transparent;
        tr{
            border-color: transparent;
            th{
                .user-select(none);
                height: 50px;
                color: #4e5665;
                font-size: 13px;
                text-align: left;
                font-weight: normal;
                border-bottom: none;
                vertical-align: middle;
                font-family: "open_sansregular";
                &:focus{
                    outline: 0;
                }
                &:first-child{
                    padding-left: 24px;
                }
                .caret{
                    margin-left: 5px;
                }
                .custom{
                    span{
                        vertical-align: middle;
                    }
                }
            }
        }
    }
    tbody{
        tr{
            background-color: #fff;
            &.atention{
                background-color: #fff0f0;
                &:hover{
                    background-color: #fff0f0;
                }
            }
            &:hover{
                background-color: #f5fafe;
                td{
                    .terminate-btn, .onsearsh, .unmount{
                        &:hover{
                            background-position: 0 -17px;
                        }
                    }
                    .terminate-btn{
                        background: url('../img/recycling.png') 0 0 no-repeat;
                        &:hover{
                            background-position: 0 -18px;
                        }
                    }
                    .onsearsh{
                        background: url('../img/onsearsh.png') 0 0 no-repeat;
                    }
                    .unmount{
                        background: url('../img/unmount.png') 0 0 no-repeat;
                    }
                }
            }
            td{
                height: 50px;
                color: #1d1d1d;
                padding-top: 0;
                font-size: 13px;
                padding-bottom: 0;
                vertical-align: middle;
                font-family: @regular;
                &:first-child{
                    padding-left: 24px;
                }
                &.critical{
                    color: #f25555;
                }
                a, span, button{
                    min-height: 12px;
                    display: inline-block;
                    vertical-align: middle;
                }
                span{
                    &.running, &.OK, &.stopped,  &.troubles, &.pending, &.waiting, &.termination{
                        position: relative;
                        padding-left: 22px;
                        &:before{
                            .border-radius(50%);
                            left: 2px;
                            width: 12px;
                            content: '';
                            height: 12px;
                            bottom: 2px;
                            position: absolute;
                        }
                    }
                    &.running, &.OK{
                        &:before{
                            background-color: #97cd75;
                        }
                    }
                    &.stopped{
                        &:before{
                            background-color: #f5544d;
                        }
                    }
                    &.troubles, &.pending, &.waiting{
                        &:before{
                            background-color: #f0d765;
                        }
                    }
                    &.termination{
                        &:before{
                            background-color: #bbbfc3;
                        }
                    }
                }
                .terminate-btn, .onsearsh, .unmount{
                    top: 2px;
                    left: 7px;
                    width: 20px;
                    height: 17px;
                    font-size: 0;
                    margin-right: 30px;
                    position: relative;
                    display: inline-block;
                    &:hover{
                        cursor: pointer;
                    }
                }
                .terminate-btn{
                    width: 16px;
                }
            }
        }
    }
}
#publicIPs-tab, #persistentVolumes-tab{
    .buttons{
        margin-top: 0;
        .description{
            height: 37px;
            font-size: 12px;
            line-height: 37px;
            padding-left: 8px;
        }
    }
}
#settingsGeneralTab, #settingsNotificationTab, #settingsPermisionTab{
    .content-body{
        .clearfix;
        border-bottom: 1px solid #e5e5e5;
        label{
            padding-left: 0px;
            font-size: 13px;
            font-family: @bold;
            margin-bottom: 20px;
            display: block;
        }
        #timezone, #conectionType, #billingAppsLink, input[type="text"], input[type="email"]{
            .placeholder(#b4b4b4);
            .box-shadow(none);
            outline: 0;
            width: 100%;
            height: 49px;
            padding: 0 20px;
            font-size: 13px;
            position: relative;
            font-weight: normal;
            background-color: #fff;
            border: 1px solid #e5e5e5;
            &:focus{
                .transition(color 500ms ease);
                border-color: #188eed;
            }
        }
        input[type="text"], input[type="email"], select{
            .placeholder(#b4b4b4);
            margin-bottom: 25px;
        }
    }
}
#settingsGeneralTab{
    .content-body{
        .image{
            min-height: 88px;
            margin-bottom: 88px;
            &:after{
                left: 4%;
                top: 30px;
                content: '';
                width: 109px;
                height: 94px;
                position: absolute;
                background: url('../img/settings-cube.png') 0 0 no-repeat;
            }
        }
        .link-wrapper{
            position: relative;
            margin-bottom: 55px;
            .link-description{
                left: 10px;
                bottom: -20px;
                color: #adaaaa;
                font-size: 11px;
                position: absolute;
            }
            input{
                margin-bottom: 0;
            }
        }
    }
}
#settingsNotificationEditTab{
    #user-controls{
        .status-line{
            padding-left: 0;
            line-height: 36px;
            margin-bottom: 37px;
        }
        .form-group{
            font-size: 13px;
            max-width: 100%;
            margin-bottom: 0;
            &:after{
                content: none;
            }
            label{
                font-size: 13px;
            }
            textarea{
                width: 100%;
                resize: none;
                padding: 10px;
                min-height: 175px;
                margin-bottom: 35px;
                border-color: #ebebeb;
            }
        }
    }
}
#settingsNotificationTab{
    .content-body{
        .bell{
            &:after{
                left: 4%;
                top: 30px;
                content: '';
                width: 44%;
                height: 94px;
                min-width: 150px;
                position: absolute;
                background: url('../img/bell.png') center 0 no-repeat;
            }
        }
        .inline{
            display: inline-block;
            font-size: 0;
            margin-top: 54px;
            label{
                margin: 0;
                font-weight: normal;
                vertical-align: top;
                display: inline-block;
                span{
                    width: 20px;
                    height: 20px;
                    margin: 0 12px 0 20px;
                    &:before{
                        top: 0;
                        left: 0;
                        width: 18px;
                        height: 18px;
                        background-position: center;
                    }
                }
            }
        }
        .notifications{
            margin-bottom: 66px;
            span{
                height: 20px;
                color: #339aed;
                font-size: 13px;
                min-width: 170px;
                padding-left: 25px;
                position: relative;
                margin-bottom: 18px;
                font-weight: normal;
                vertical-align: top;
                display: inline-block;
                font-family: @regular;
                &:before{
                    top: 0;
                    left: 0;
                    width: 18px;
                    content: '';
                    height: 18px;
                    position: absolute;
                    background: url('../img/pencil-big.png') 0 0 no-repeat;
                }
                &:hover{
                    cursor: pointer;
                    &:before{
                        background-position: 0 -18px;
                    }
                }
            }
            .group{
                label, input{
                    font-weight: normal;
                    vertical-align: top;
                    display: inline-block;
                    margin: 0;
                }
                input{
                    outline: 0;
                    width: 18px;
                    height: 18px;
                    margin-bottom: 0;
                    background: none;
                    vertical-align: top;
                    display: inline-block;
                    margin: 0 10px 0 0;
                    border: 1px solid #e5e5e5;
                }
            }
        }
    }
}
#permissions-table{
    td{
        text-transform: capitalize;
        label{
            font-weight: normal;
            span{
                margin-right: 6px;
            }
        }
    }
}
.settings-user{
    #user-controls{
        .form-group {
            &:first-child{
                &:after{
                    right: initial;
                    left:  -160px;
                }
            }
            &.show{
                label{
                    margin-bottom: 0;
                    font-size: 12px;
                }
                > div{
                    font-size: 19px;
                    line-height: 23px;
                    margin-bottom: 20px
                }
            }
        }
    }
}
#item-controls{
    &.licenseTab{
        .license-status-line{
            font-size: 0;
            margin-bottom: 0;
            padding-bottom: 16px;
            border-bottom: 1px solid #e5e5e5;
            span{
                height: 23px;
                line-height: 23px;
                position: relative;
                font-family: @regular;
                &:first-child {
                    color: #4e5665;
                    padding-left: 11px;
                    margin-right: 25px;
                    &:before{
                        content: none;
                    }
                }
                &:last-child{
                    margin-right: 0;
                }
                &.icon{
                    padding-left: 25px;
                    position: relative;
                    &:before{
                        top: 0;
                        left: 0;
                        bottom: 0;
                        content: '';
                        margin: auto;
                        position: absolute;
                    }
                    &.active{
                        padding-left: 20px;
                        &:before{
                            width: 12px;
                            height: 12px;
                            background-color: #97cd75;
                            -webkit-border-radius: 50%;
                            -moz-border-radius: 50%;
                            border-radius: 50%;
                        }
                    }
                    &.clock{
                        &:before{
                            width: 17px;
                            height: 17px;
                            background: url('../img/cklock-icon.png') 0 0 no-repeat;
                        }
                    }
                    &.award{
                        &:before{
                            width: 17px;
                            height: 23px;
                            background: url('../img/award-icon.png') 0 0 no-repeat;
                        }
                    }
                }
                &:hover{
                    color: #4e5664;
                    cursor: default;
                }
            }
        }
        .servers{
            &:before{
                left: 40px;
                width: 43px;
                height: 43px;
                background: url('../img/kuberdock-gray-ico.png') 0 0 no-repeat;
            }
        }
    }
}