/* user-tables */
#userslist-table,
#users-activities,
#users-online-table,
#user-profile-logs-table,
#user-profile-general-table,
#all-users-activities-table{
    .box-shadow-materials();
    thead{
        background-color: transparent;
        tr{
            th{
                .user-select(none);
                height: 50px;
                padding-top: 0;
                color: #4e5665;
                font-size: 13px;
                cursor: default;
                padding-bottom: 0;
                font-weight: normal;
                border-bottom: none;
                font-family: @regular;
                vertical-align: middle;
                &:first-child{
                    padding-left: 24px;
                }
                &:focus{
                    outline: 0;
                }
                .caret{
                    margin-left: 5px;
                    &.rotate{
                        .rotate(180deg)
                    }
                }
            }
        }
    }
    tbody{
        tr{
            background-color: #fff;
            &:hover{
                background-color: #f5fafe;
                span{
                    &#deleteUser{
                        background: url('../img/recycling.png') 0 0 no-repeat;
                        &:hover{
                            background-position: 0 -18px;
                        }
                    }
                    &#blockUser{
                        background: url('../img/block-user-ico.png') 0 0 no-repeat;
                        &:hover{
                            background-position: 0 -16px;
                        }
                    }
                    &#activeteUser{
                        background: url('../img/activate-user-ico.png') 0 0 no-repeat;
                        &:hover{
                            background-position: 0 -15px;
                        }
                    }
                }
            }
            td{
                color: #1d1d1d;
                font-size: 13px;
                font-family: @regular;
                padding-top: 0;
                padding-bottom: 0;
                vertical-align: middle;
                height: 50px;
                &:first-child{
                    padding-left: 24px;
                }
                &.disabled-color-text{
                    color: #b1b9c0;
                }
                span{
                    &#deleteUser, &#blockUser, &#activeteUser{
                        top: 3px;
                        position: relative;
                        margin-right: 10px;
                        display: inline-block;
                        &:hover{
                            cursor: pointer;
                        }
                    }
                    &#deleteUser{
                        width: 16px;
                        height: 17px;
                    }
                    &#blockUser{
                        width: 16px;
                        height: 15px;
                    }
                    &#activeteUser{
                        width: 19px;
                        height: 15px;
                    }
                    &.active, &.locked{
                        position: relative;
                        padding-left: 22px;
                        &:before{
                            .border-radius(50%);
                            left: 2px;
                            width: 12px;
                            content: '';
                            height: 12px;
                            bottom: 2px;
                            position: absolute;
                        }
                    }
                    &.active{
                        &:before{
                            background-color: #97cd75;
                        }
                    }
                    &.locked{
                        &:before{
                            background-color: #f5544d;
                        }
                    }
                }
                .tooltip.bottom{
                    margin-top: 8px;
                    border-color: #bdc4c9;
                    background-color: #fff;
                    .box-shadow(0px 1px 1px 0px rgba(250,250,250,1));
                    .opacity(1);

                    .tooltip-arrow{
                        display: none;
                    }
                    .tooltip-inner{
                        background-color: #fff;
                        border: 1px solid #c7ced3;
                        height: 44px;
                        padding: 0 12px;
                        white-space: nowrap;
                        line-height: 44px;
                        text-align: center;
                        color: #1d1d1d;
                        position: relative;
                        &:before{
                            content:'';
                            position: absolute;
                            width: 14px;
                            height: 11px;
                            z-index: 9999;
                            top: -10px;
                            left: 46%;
                            background: url('../img/tooltip-arrow-up.png') 0 0 no-repeat
                        }
                    }
                }
            }
            button{
                margin: 0;
                border: 0;
                padding: 0;
                color: #3197ee;
                font-size: 13px;
                text-decoration: none;
                font-family: @regular;
                background-color: transparent;
                &:hover{
                    cursor: pointer;
                    text-decoration: none;
                }
            }
        }
    }
}
#userGeneralTab{
    .clearfix;
    .col-xs-2{
        margin-bottom: 50px;
        &.info{
            height: 70px;
            max-width: 100px;
            background: url('../img/info-ico.png') center center no-repeat;
            .background-size(70px);
        }
        &.user{
            height: 94px;
            background: url('../img/user-and-pc-small.png') center center no-repeat;
            .background-size(80px 94px);
        }
    }
}
/* end-user-tables */

/* create edit user page */
#user-controls{
    .clearfix;
    border-bottom: 1px solid #e5e5e5;
    .form-group{
        max-width: 50%;
        margin-bottom: 30px;
        font-size: 0;
        &:first-child{
            position: relative;
            &:after{
                content: '';
                position: absolute;
                top: -10px;
                right: -171px;
                background: url('../img/user-and-pc-ico.png') 0 0 no-repeat;
                width: 97px;
                height: 115px;
            }
        }
        label, input, select{
            font-size: 13px;
            font-family: @regular;
            color: #1d1d1d;
        }
        label{
            font-weight: bold;
            margin-bottom: 15px;
            line-height: 14px;
        }
        input, select{
            .placeholder(#b4b4b4);
            .box-shadow( none );
            .border-radius( 0 );
            height: 50px;
            outline: 0;
            border: 1px solid #e5e5e5;
            background-color: #fff;
            padding: 0 20px;
            width: 100%;
            &:focus{
                .box-shadow(none);
            }
            &#password-again{
                margin-top: 10px;
            }
            &.error{
                border-color: red;
            }
        }
        input{
            &:focus{
                .transition(color 500ms ease);
                border-color: #188eed;
            }
        }
    }
}
#all-user-activity-tab{
    .tab-content{
        .serch-control{
            padding: 20px 0 30px;
            margin-bottom: 25px;
            border-bottom: 1px solid #e5e5e5;
            > div{
                margin: 0 5px 0 0;
                position: relative;
            }
            input{
                outline: 0;
                width: 100%;
                height: 42px;
                padding: 0 38px 0 17px;
                border: 1px solid #e5e5e5;
                &#username{
                    padding-left: 46px;
                    padding-right: 17px;
                }
                &:focus{
                    .transition(color 500ms ease);
                    border-color: #188eed;
                }
            }
            .dropdown-menu{
                .border-radius(none);
                .box-shadow(none);
                width: 100%;
                margin-top: 5px;
            }
            .search, .calendar{
                position: absolute;
                &:hover{
                    cursor: pointer;
                }
            }
            .search{
                top: 14px;
                left: 13px;
                width: 15px;
                height: 15px;
                background: url('../img/search2.png') 0 0 no-repeat;
            }
            .calendar{
                top: 12px;
                right: 11px;
                width: 18px;
                height: 18px;
                position: absolute;
                background: url('../img/calendar.png') 0 0 no-repeat;
            }
        }
    }
}
#ui-datepicker-div{
    .border-radius(0);
    padding: 0;
    margin-top: -1px;
    background: #f5f5f5;
    font-family: @regular;
    border-bottom: 2px solid #466eb1;
    .ui-datepicker-calendar{
        margin: 0;
        th{
            font-weight: 400;
            background-color: #fff;
            border-bottom: 1px solid #dce0e0;
        }
        td{
            padding: 0;
        }
        tbody{
            tr{
                &:last-child{
                    td{
                        a{
                            border-bottom: transparent;
                        }
                    }
                }
                td{
                    &:last-child{
                        a{
                            border-right: transparent;
                        }
                    }
                }
            }
        }
    }
    .ui-datepicker-header{
        .border-radius(0);
        border: none;
        color: #1d1d1d;
        font-size: 16px;
        font-weight: 400;
        background: #FFFFFF;
        font-family: @regular;
        a{
            &.ui-datepicker-next{
                .ui-icon{
                    background-position: -11px 0;
                }
            }
            .ui-icon{
                width: 9px;
                height: 18px;
                background-image: url("../img/calendar-arrows.png");
                background-position: 0;
            }
            &.ui-state-hover{
                color: initial;
                border: initial;
                background: initial;
                font-weight: initial;
                .ui-icon{
                    background-image: url("../img/calendar-arrows.png");
                }
            }
        }
    }
    a{
        &.ui-state-default{
          color: #1d1d1d;
          min-width: 33px;
          padding-top: 6px;
          font-weight: 400;
          background: white;
          text-align: center;
          padding-bottom: 5px;
          font-family: @regular;
          border-color: #dce0e0;
          border-top-color: transparent;
          border-left-color: transparent;
        }
        &.ui-state-hover, &.ui-state-active{
            color: #fff;
            background: #466EB1;
            border-color: #466EB1;
        }
    }
    .ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight{
        color: #fff;
        background: #466EB1;
        border-color: #466EB1;
    }
}
/* end create edit user page */