{% extends "layout.html" %}

{% block head_extras %}
<link rel="stylesheet" href="/static/css/jquery-ui.css">
{% endblock %}

{% block body %}
    <style>
    ul#users-list { list-style-type: none; }
    </style>
    {% with items=MENU.navbar.get_items() %}
    {% include "inc/navbar_menu.html" %}
    {% endwith %}

    <div id="globalError"></div>
    <!-- contents container -->
    <div id="contents"></div>

    <script type="text/template" id="all-users-activities-template">
        <div class="breadcrumbs-wrapper">
            <div class="container breadcrumbs" id="breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <div id="users-page">Users</div>
                    </li>
                    <li class="active">
                        Activity
                    </li>
                </ul>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <h3>From</h3>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </div>
                            <input type="text" class="form-control" id="dateFrom" placeholder="">
                        </div>
                    </div>
                    <h3>To</h3>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </div>
                            <input type="text" class="form-control" id="dateTo" placeholder="">
                        </div>
                    </div>
                    <h3>Users:</h3>
                    <ul id="users-list"></ul>
                </div>
                <div class="col-md-10">
                    <table class="table">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th>Active</th>
                        <th>Last activity</th>
                    </tr>
                    </thead>
                    <tbody id="users-activities-table"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </script>

    <script type="text/template" id="user-create-template">
        <div class="breadcrumbs-wrapper">
            <div class="container breadcrumbs" id="breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <div id="users-page">Users</div>
                    </li>
                    <li class="active">
                        <% if (typeof username !== "undefined") { %>
                            <%= username %>
                        <% } else { %>
                            New User
                        <% } %>
                    </li>
                </ul>
            </div>
        </div>
        <div class="container">
            <div id="user-contents">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div id="user-controls" class="col-md-9">
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" name="username" class="form-control" id="username">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" name="password">
                            <input type="password" class="form-control" id="password-again" name="password-again">
                        </div>
                        <div class="form-group">
                            <label for="email">E-mail</label>
                            <input type="email" name="email" class="form-control" id="email">
                        </div>
                        <div class="form-group">
                            <label for="role-select">Role</label>
                            <select id="role-select" name="role-select">
                            {% for role in roles %}
                                {% if role.default %}
                                    <option selected="selected">{{ role.rolename }}</option>
                                {% else %}
                                    <option>{{ role.rolename }}</option>
                                {% endif %}
                            {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="status-select">Status</label>
                            <select id="status-select" name="status-select">
                                <option selected="selected" value="1">Active</option>
                                <option value="0">Blocked</option>
                            </select>
                        </div>
                    </div>
                    <div class="buttons pull-right">
                        <button id="user-cancel-btn" class="" type="submit">Cencel</button>
                        <button id="user-add-btn" class="" type="submit">Add</button>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <script type="text/template" id="user-profile-template">
        <div class="breadcrumbs-wrapper">
            <div class="container breadcrumbs" id="breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <div id="users-page">Users</div>
                    </li>
                    <li class="active">
                        <% if( typeof username == "undefined" ) { %>
                            Add user
                        <% } else { %>
                            <%- username %>
                        <% } %>
                    </li>
                </ul>
                <div class="control-group">
                    <button id="login_this_user">Login as this user</button>
                    <button id="delete_user">Delete</button>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-3 col-md-2 sidebar">
                    <ul class="nav nav-sidebar list-unstyled" role="tablist">
                        <li class="general active">
                            <a href="#userGeneralTab" role="tab" data-toggle="tab">Home</a>
                        </li>
                        <li class="logs">
                            <a href="#userLogsTab" role="tab" data-toggle="tab">Log History</a>
                        </li>
                    </ul>
                </div>
                <div id="details_content" class="col-sm-10">
                    <div class="row placeholders">
                        <div class="tab-content col-xs-12 no-padding-right">
                            <div class="tab-pane fade in active" id="userGeneralTab">
                                <div class="col-xs-2 col-offset-1 user"></div>
                                <div class="col-xs-3">
                                    <div>Name: <%- first_name %> <%- last_name %></div>
                                    <div>Regestered: <%- join_date %></div>
                                    <div>Last login: <%- last_login %></div>
                                    <div>Last activity: <%- last_activity %></div>
                                </div>
                                <div class="col-xs-2 col-offset-1 info"></div>
                                <div class="col-xs-3">
                                    <div>Kubes: 220</div>
                                    <div>Plan: Basic</div>
                                </div>
                                <div class="col-xs-12">
                                    <table id="user-profile-general-table" class="table">
                                        <thead>
                                            <tr>
                                                <th unselectable="on" style="-webkit-user-select: none;">
                                                    <div>Pods</div>
                                                </th>
                                                <th unselectable="on" style="-webkit-user-select: none;">
                                                    <div>Average<br/>CPU usage</div>
                                                </th>
                                                <th unselectable="on" style="-webkit-user-select: none;">
                                                    <div>Kube type column<br>(kubes quantity)</div>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Some pode name 1</td>
                                                <td>20%</td>
                                                <td>Kube quantity</td>
                                            </tr>
                                            <tr>
                                                <td>Some pode name 2</td>
                                                <td>20%</td>
                                                <td>Kube quantity</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="userLogsTab">
                                <div class="col-xs-12 no-padding-right">
                                    <table id="user-profile-logs-table" class="table">
                                        <thead>
                                            <tr>
                                                <th unselectable="on" style="-webkit-user-select: none;">
                                                    <div>Login</div>
                                                </th>
                                                <th unselectable="on" style="-webkit-user-select: none;">
                                                    <div>Duration</div>
                                                </th>
                                                <th unselectable="on" style="-webkit-user-select: none;">
                                                    <div>Logout</div>
                                                </th>
                                                <th unselectable="on" style="-webkit-user-select: none;">
                                                    <div>IP</div>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>12 Jan 2014 at 12:00 AM</td>
                                                <td>5h 20min</td>
                                                <td>12 Jan 2014 at 5:20 PM</td>
                                                <td>192.168.0.1</td>
                                            </tr>
                                            <tr>
                                                <td>13 May 2013 at 11:32 PM</td>
                                                <td>32h 10min</td>
                                                <td>15 May 2013 at 1:42 AM</td>
                                                <td>122.12.32.11</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </script>

    <script type="text/template" id="user-item-template">
        <td>
            <button id="profileUser" title="Show <%- username %> profile">
                <%- username %>
            </button>
            <span id="deleteUser" title="Remove <%- username %>"></span>
        </td>
        <td>20</td>
        <td>89</td>
        <td><%- email ? email : 'No mail' %></td>
        <td>
            <%- active ? 'Active' : 'Blocked' %>
            <% if (active) { %>
                <span id="blockUser" title="Block <%- username %>"></span>
            <% } else { %> 
                <span id="activeteUser" title="Activate <%- username %>"></span>
            <% } %>
        </td>
        <td>25</td>
    </script>

    <script type="text/template" id="online-user-item-template">
        <td>
            <%- username %>
            <button id="userActivityHistory" class="btn btn-link btn-xs pull-left">
                <i class="glyphicon glyphicon-search"></i>
            </button>
        </td>
        <td><%- email ? email : 'No mail' %></td>
        <td><%- rolename %></td>
        <td><i class="glyphicon glyphicon-<%- active ? 'ok text-success' : 'remove text-danger' %>"></i></td>
        <td><%- last_activity %></td>
    </script>

    <script type="text/template" id="online-users-list-template">
        <div class="breadcrumbs-wrapper">
            <div class="container breadcrumbs" id="breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <div id="users-page">Users</div>
                    </li>
                    <li class="active">
                        Online
                    </li>
                </ul>
            </div>
        </div>
        <div class="container">
            <a href="{{ url_for('users.index') }}">
                <i class="glyphicon glyphicon-chevron-left"></i>
                back to the users list
            </a>
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th>Active</th>
                        <th>Last activity</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </script>

    <script type="text/template" id="users-list-template">
        <div class="breadcrumbs-wrapper">
            <div class="container breadcrumbs" id="breadcrumbs">
                <ul class="breadcrumb">
                    <li class="active">
                        Users
                    </li>
                </ul>
                <div class="control-group">
                    <button id="add_user">Add user</button>
                    <div class="nav-search" id="nav-search">
                        <form class="form-search">
                            <input type="text" placeholder="Search" class="nav-search-input" id="nav-search-input" autocomplete="off">
                            <i class="nav-search-icon"></i>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <table id="userslist-table" class="table">
                <thead>
                    <tr class="tablesorter-headerRow">
                        <th data-column="0" class="tablesorter-header tablesorter-headerDesc" tabindex="0" unselectable="on" style="-webkit-user-select: none;"><div class="tablesorter-header-inner">User<b class="caret"></b></div></th>
                        <th data-column="1" class="tablesorter-header" tabindex="0" unselectable="on" style="-webkit-user-select: none;"><div class="tablesorter-header-inner">Pods<b class="caret"></b></div></th>
                        <th data-column="2" class="tablesorter-header" tabindex="0" unselectable="on" style="-webkit-user-select: none;"><div class="tablesorter-header-inner">Containers<b class="caret"></b></div></th>
                        <th data-column="3" class="tablesorter-header" tabindex="0" unselectable="on" style="-webkit-user-select: none;"><div class="tablesorter-header-inner">Email<b class="caret"></b></div></th>
                        <th data-column="4" class="tablesorter-header" tabindex="0" unselectable="on" style="-webkit-user-select: none;"><div class="tablesorter-header-inner">Status<b class="caret"></b></div></th>
                        <th data-column="5" class="tablesorter-header" tabindex="0" unselectable="on" style="-webkit-user-select: none;"><div class="tablesorter-header-inner">Number<b class="caret"></b><br>of Kubes</div></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </script>

    <script type="text/template" id="activity-item-template">
        <td><%- ts %></td>
        <td><%- action %></td>
    </script>

    <script type="text/template" id="users-activities-template">
        <div class="breadcrumbs-wrapper">
            <div class="container breadcrumbs" id="breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        Users
                    </li>
                    <li>
                        Online
                    </li>
                    <li class="active">
                        Username
                    </li>
                </ul>
            </div>
        </div>
        <div class="container">
            <a href="{{ url_for('users.index') }}online/">
                <i class="glyphicon glyphicon-arrow-left"></i>
                back to the online user list
            </a><hr/>
            <table class="table">
                <thead>
                    <tr>
                        <th>Date/Time</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </script>

    <script type="text/template" id="users-layout-template">
        <div id="main"></div>
        <div id="pager"></div>
    </script>

{#    Copy from main app, delete when merge #}
    <script type="text/template" id="paginator-template">
        <% if ( c.state.pageSize < c.state.totalRecords){ %>
        <ul class="pager">
            <li class="paginatorFirst pseudo-link btn btn-default btn-sm btn-group">first</li>
            <li class="paginatorPrev pseudo-link btn btn-default btn-sm btn-group">prev</li>
            <li class="paginatorStat"><%- c.state.currentPage %> of <%- c.state.totalPages %></li>
            <li class="paginatorNext pseudo-link btn btn-default btn-sm btn-group">next</li>
            <li class="paginatorLast pseudo-link btn btn-default btn-sm btn-group">last</li>
        </ul>
        <% } %>
    </script>
{#    ===================================== #}

    <script data-main="/static/js/users_app/require_main.js" src="/static/js/lib/require.js"></script>

    <script type="text/javascript">
    var usersCollection = {{ users_collection|safe }};
    var onlineUsersCollection = {{ online_users_collection|safe }};
    var userActivity = {{ user_activity|safe }}
    </script>

{% endblock %}
