{% extends "index.html" %}
{% block script_templates %}
    <!-- A users CREATE AND EDIT form template -->
    <script type="text/template" id="user-create-template">
        <div id="user-contents">
            <div id="user-header">
                <div class="header-title">User List</div>
                <div id="user-contents-add-item" class="header-action">Add</div>
            </div>
            <div id="user-controls">
                <div class="form-field">
                    <label class="no-label" for="username">username: </label>
                    <input type="text" placeholder="username" id="username" name="username"/>
                </div>
                <div class="form-field">
                    <label class="no-label" for="password">password: </label>
                    <input type="password" placeholder="password" id="password" name="password"/>
                </div>
                <div class="form-field">
                    <label class="no-label" for="password-again">repeat password: </label>
                    <input type="password" placeholder="repeat password" id="password-again" name="password-again"/>
                </div>
                <div class="form-field">
                    <label class="no-label" for="email">email: </label>
                    <input type="text" placeholder="email" id="email" name="email"/>
                </div>
                <div class="form-field">
                    <label class="no-label" for="description">description: </label>
                    <input type="text" placeholder="description" id="description" name="description"/>
                </div>
                <div class="form-field">
                    <label for="active-chkx">active: </label>
                    <input type="checkbox" id="active-chkx" name="active-chkx"/>
                </div>
                <div class="form-field">
                    <select id="role-select" name="role-select">
                    {% for role in roles %}
                        {% if role.default %}
                            <option selected="selected">{{ role.rolename }}</option>
                        {% else %}
                            <option>{{ role.rolename }}</option>
                        {% endif %}
                    {% endfor %}
                    </select>
                </div>
                <div>
                    <button id="user-add-btn" class="btn btn-success" type="submit">SAVE</button>
                </div>
            </div>
        </div>
    </script>

    <script type="text/template" id="user-item-template">
        <td>
            <%- username %>
            <button id="deleteUser" class="btn btn-danger btn-xs pull-right"><i class="glyphicon glyphicon-trash"></i></button>
            <button id="editUser" class="btn btn-link btn-xs pull-left"><i class="glyphicon glyphicon-pencil"></i></button>
        </td>
        <td><%- email ? email : 'No mail' %></td>
        <td><%- rolename %></td>
        <td><%- active %></td>
        <td><%- description ? description : 'No description' %></td>
    </script>

    <script type="text/template" id="users-list-template">
        <button id="create_user" class="btn btn-success">Create user</button><hr>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Active</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        <hr>
    </script>

    <script type="text/template" id="users-layout-template">
        <div id="main">main div text</div>
        <div id="pager">pager div text</div>
    </script>

{#    Copy from main app, delete when merge #}
    <script type="text/template" id="paginator-template">
        <% if ( c.state.pageSize < c.state.totalRecords){ %>
        <ul class="pager">
            <li class="paginatorFirst pseudo-link btn btn-default btn-sm btn-group">first</li>
            <li class="paginatorPrev pseudo-link btn btn-default btn-sm btn-group">prev</li>
            <li class="paginatorStat"><%- c.state.currentPage %> of <%- c.state.totalPages %></li>
            <li class="paginatorNext pseudo-link btn btn-default btn-sm btn-group">next</li>
            <li class="paginatorLast pseudo-link btn btn-default btn-sm btn-group">last</li>
        </ul>
        <% } %>
    </script>
{#    ===================================== #}

{% endblock %}

{% block app_js_asset %}{% endblock %} {# To cut off app_js temporary #}

{% block users_app_js_asset %}
    {% assets "users_app_js" -%}
    <script src="{{ ASSET_URL }}"></script>
    {% endassets %}
    <script type="text/javascript">
        UsersApp.Data.users = new UsersApp.Data.UsersCollection({{ users_collection|safe }});
    </script>
{% endblock %}