{% extends "layout.html" %}

{% block head_extras %}
<link rel="stylesheet" href="/static/css/jquery-ui.css">
{% endblock %}

{% block body %}
    <style>
    ul#users-list { list-style-type: none; }
    </style>
    {% with items=MENU.navbar.get_items() %}
    {% include "inc/navbar_menu.html" %}
    {% endwith %}

    <div id="globalError"></div>
    <!-- contents container -->
    <div id="contents"></div>

    <script type="text/template" id="all-users-activities-template">
        <div class="breadcrumbs-wrapper">
            <div class="container breadcrumbs" id="breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <div id="users-page">Users</div>
                    </li>
                    <li class="active">
                        Activity
                    </li>
                </ul>
            </div>
        </div>
        <div class="container">
            <div class="row" id="all-user-activity-tab">
                <div class="col-sm-2 sidebar">
                    <ul class="nav nav-sidebar list-unstyled" role="tablist">
                        <li class="usersPage general">
                            Users
                        </li>
                        <li class="activityPage active">
                            Users activity
                        </li>
                    </ul>
                </div>
                <div class="tab-content col-sm-10">
                    <div class="col-sm-12 serch-control">
                        <div class="col-sm-2 no-padding">
                            <input type="text" id="dateFrom" placeholder="From">
                            <i class="calendar"></i>
                        </div>
                        <div class="col-sm-2 no-padding">
                            <input type="text" id="dateTo" placeholder="To">
                            <i class="calendar"></i>
                        </div>
                        <div class="col-sm-3 no-padding">
                            <input type="text" name="username" placeholder="Search username" id="username" autocomplete="off">
                            <i class="search"></i>
                        </div>
                    </div>
                    <table class="table" id="all-users-activities-table">
                    <thead>
                    <tr>
{#                        <th>Name</th>#}
{#                        <th>Email</th>#}
{#                        <th>Role</th>#}
{#                        <th>Active</th>#}
                        <th>Last activity</th>
                    </tr>
                    </thead>
                        <tbody id="users-activities-table"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </script>

    <script type="text/template" id="user-create-template">
        <div class="breadcrumbs-wrapper">
            <div class="container breadcrumbs" id="breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <div id="users-page">Users</div>
                    </li>
                    <li class="active">
                        <% if (typeof username !== "undefined") { %>
                            <%= username %>
                        <% } else { %>
                            New User
                        <% } %>
                    </li>
                </ul>
            </div>
        </div>
        <div class="container">
            <div id="user-contents">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div id="user-controls" class="col-md-9">
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" name="username" class="form-control" id="username">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" name="password">
                            <input type="password" class="form-control" id="password-again" name="password-again">
                        </div>
                        <div class="form-group">
                            <label for="email">E-mail</label>
                            <input type="email" name="email" class="form-control" id="email">
                        </div>
                        <div class="form-group">
                            <label for="role-select">Role</label>
                            <select id="role-select" name="role-select" class="selectpicker">
                            {% for role in roles %}
                                {% if role.default %}
                                    <option selected="selected">{{ role.rolename }}</option>
                                {% else %}
                                    <option>{{ role.rolename }}</option>
                                {% endif %}
                            {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="status-select">Status</label>
                            <select id="status-select" name="status-select" class="selectpicker">
                                <option selected="selected" value="1">Active</option>
                                <option value="0">Lock</option>
                            </select>
                        </div>
                    </div>
                    <div class="buttons pull-right">
                        <button id="user-cancel-btn" class="" type="submit">Cancel</button>
                        <button id="user-add-btn" class="" type="submit">Add</button>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <script type="text/template" id="user-profile-log-history-template">
        <div class="breadcrumbs-wrapper">
            <div class="container breadcrumbs" id="breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <div id="users-page">Users</div>
                    </li>
                    <li>
                        <% if( typeof username == "undefined" ) { %>
                            Add user
                        <% } else { %>
                            <%- username %>
                        <% } %>
                    </li>
                    <li class="active">
                        Login history
                    </li>
                </ul>
                <div class="control-group">
                    <button id="edit_user">Edit user</button>
                    <button id="login_this_user">Login as this user</button>
                    <button id="delete_user">Delete</button>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-3 col-md-2 sidebar">
                    <ul class="nav nav-sidebar list-unstyled" role="tablist">
                        <li class="general generalTab">
                            General
                        </li>
                        <li class="logHistory active">
                            Login history
                        </li>
                    </ul>
                </div>
                <div id="details_content" class="col-sm-10">
                    <div class="row placeholders">
                        <div class="tab-content col-xs-12 no-padding-right">
                            <div class="tab-pane fade in active" id="userLogsTab">
                                <div class="col-xs-12 no-padding-right">
                                    <table id="user-profile-logs-table" class="table">
                                        <thead>
                                            <tr>
                                                <th unselectable="on" style="-webkit-user-select: none;">
                                                    <div>Login</div>
                                                </th>
                                                <th unselectable="on" style="-webkit-user-select: none;">
                                                    <div>Duration</div>
                                                </th>
                                                <th unselectable="on" style="-webkit-user-select: none;">
                                                    <div>Logout</div>
                                                </th>
                                                <th unselectable="on" style="-webkit-user-select: none;">
                                                    <div>IP</div>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <div>
        <div>
    </script>

    <script type="text/template" id="user-profile-template">
        <div class="breadcrumbs-wrapper">
            <div class="container breadcrumbs" id="breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <div id="users-page">Users</div>
                    </li>
                    <li>
                        <% if( typeof username == "undefined" ) { %>
                            Add user
                        <% } else { %>
                            <%- username %>
                        <% } %>
                    </li>
                    <li class="active">
                        General
                    </li>
                </ul>
                <div class="control-group">
                    <button id="edit_user">Edit user</button>
                    <button id="login_this_user">Login as this user</button>
                    <button id="delete_user">Delete</button>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-3 col-md-2 sidebar">
                    <ul class="nav nav-sidebar list-unstyled" role="tablist">
                        <li class="general active">
                            General
                        </li>
                        <li class="logHistory">
                            Login history
                        </li>
                    </ul>
                </div>
                <div id="details_content" class="col-sm-10">
                    <div class="row placeholders">
                        <div class="tab-content col-xs-12 no-padding-right">
                            <div class="tab-pane fade in active" id="userGeneralTab">
                                <div class="col-xs-2 col-offset-1 user"></div>
                                <div class="col-xs-8">
                                    <div>Name: <%- first_name %> <%- last_name %></div>
                                    <div>Regestered: <%- join_date %></div>
                                    <div>Last login: <%- last_login %></div>
                                    <div>Last activity: <%- last_activity %></div>
                                </div>
                                <!-- <div class="col-xs-2 col-offset-1 info"></div>
                                <div class="col-xs-3">
                                    <div>Kubes: 220</div>
                                    <div>Plan: Basic</div>
                                </div> -->
                                <div class="col-xs-12">
                                    <table id="user-profile-general-table" class="table">
                                        <thead>
                                            <tr>
                                                <th unselectable="on" style="-webkit-user-select: none;">
                                                    <div>Pods</div>
                                                </th>
{#                                                <th unselectable="on" style="-webkit-user-select: none;">#}
{#                                                    <div>Average<br/>CPU usage</div>#}
{#                                                </th>#}
{#                                                <th unselectable="on" style="-webkit-user-select: none;">#}
{#                                                    <div>Kube type column<br>(kubes quantity)</div>#}
{#                                                </th>#}
                                                <th unselectable="on" style="-webkit-user-select: none;">
                                                    <div>Kube type</div>
                                                </th>
                                                <th unselectable="on" style="-webkit-user-select: none;">
                                                    <div>Kubes</div>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        <% if (pods.length != 0) { %>
                                            <% _.each(pods, function(pod){ %>
                                                <tr>
                                                    <%
                                                        var podConfig = JSON.parse(pod.config),
                                                            kubeType = kubeTypes[podConfig.kube_type];
                                                    %>
                                                    <td><%- pod.name %></td>
                                                    <td><%- kubeType %></td>
                                                    <td><%- pod.kubes %></td>
                                                </tr>
                                            <% }) %>
                                        <% } else { %>
                                            <tr>
                                                <td colspan="3" class="text-center">This user don't have any pods</td>
                                            </tr>
                                        <% } %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <script type="text/template" id="user-item-template">
        <td>
            <button id="profileUser" title="Show <%- username %> profile">
                <%- username %>
            </button>
            <span id="deleteUser" title="Remove <%- username %>"></span>
        </td>
        <td><%- podsCount %></td>
        <td><%- containersCount %></td>
        <td><%- email ? email : 'No mail' %></td>
        <td><%- rolename  %></td>
        <td>
            <% if (active) { %>
                <span class="active">Active</span>
                <span id="blockUser" title="Lock user <%- username %>"></span>
            <% } else { %>
                <span class="locked">Locked</span>
                <span id="activeteUser" title="Activate <%- username %>"></span>
            <% } %>
        </td>
    </script>

    <script type="text/template" id="online-user-item-template">
        <td><button id="userActivityHistory" title="<%- username %> activety history"><%- username %></button></td>
        <td><%- email ? email : 'No mail' %></td>
        <td><%- rolename %></td>
        <td><%- active ? 'Active' : 'Locked' %></td>
        {# <td><%- last_activity ? last_activity : 'none' %></td> #}
    </script>

    <script type="text/template" id="online-users-list-template">
        <div class="breadcrumbs-wrapper">
            <div class="container breadcrumbs" id="breadcrumbs">
                <ul class="breadcrumb">
                    <li class="usersPage">
                        <div id="users-page">Users</div>
                    </li>
                    <li class="active" >
                        Online
                    </li>
                </ul>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-3 col-md-2 sidebar">
                    <ul class="nav nav-sidebar list-unstyled" role="tablist">
                        <li class="usersPage general">
                            Users
                        </li>
                        <li class="active">
                            Online users
                        </li>
                        <li class="activityPage">
                            Users activity
                        </li>
                    </ul>
                </div>
                <div id="details_content" class="col-sm-10">
                    <div class="row placeholders">
                        <div class="tab-content col-xs-12 no-padding-right">
                            <table id="users-online-table" class="table">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Role</th>
                                        <th>Status</th>
                                        {# <th>Last activity</th> #}
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <script type="text/template" id="users-list-template">
        <div class="breadcrumbs-wrapper">
            <div class="container breadcrumbs" id="breadcrumbs">
                <ul class="breadcrumb">
                    <li class="active">
                        Users
                    </li>
                </ul>
                <div class="control-group">
                    <button id="add_user">Add user</button>
                    <div class="nav-search" id="nav-search">
                        <div class="form-search">
                            <input type="text" placeholder="Search" class="nav-search-input" id="nav-search-input" autocomplete="off">
                            <i class="nav-search-icon"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-3 col-md-2 sidebar">
                    <ul class="nav nav-sidebar list-unstyled" role="tablist">
                        <li class="general active">
                            Users
                        </li>
                        <!-- <li class="onlinePage">
                            Online users
                        </li> -->
                        <li class="activityPage">
                            Users activity
                        </li>
                    </ul>
                </div>
                <div id="details_content" class="col-sm-10">
                    <div class="row placeholders">
                        <div class="tab-content col-xs-12 no-padding-right">
                            <table id="userslist-table" class="table col-sm-12">
                                <thead>
                                    <tr class="tablesorter-headerRow">
                                        <th data-column="0" class="tablesorter-header tablesorter-headerDesc" tabindex="0" unselectable="on" style="-webkit-user-select: none;"><div class="tablesorter-header-inner">Name</div></th>
                                        <th data-column="1" class="tablesorter-header" tabindex="0" unselectable="on" style="-webkit-user-select: none;"><div class="tablesorter-header-inner">Pods</div></th>
                                        <th data-column="2" class="tablesorter-header" tabindex="0" unselectable="on" style="-webkit-user-select: none;"><div class="tablesorter-header-inner">Containers</div></th>
                                        <th data-column="3" class="tablesorter-header" tabindex="0" unselectable="on" style="-webkit-user-select: none;"><div class="tablesorter-header-inner">Email</div></th>
                                        <th data-column="4" class="tablesorter-header" tabindex="0" unselectable="on" style="-webkit-user-select: none;"><div class="tablesorter-header-inner">Role</div></th>
                                        <th data-column="5" class="tablesorter-header" tabindex="0" unselectable="on" style="-webkit-user-select: none;"><div class="tablesorter-header-inner">Status</div></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <script type="text/template" id="activity-item-template">
        <td><%- ts %></td>
        <td><%- action %></td>
    </script>

    <script type="text/template" id="users-activities-template">
        <div class="breadcrumbs-wrapper">
            <div class="container breadcrumbs" id="breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <a href="{{ url_for('users.index') }}">Users</a>
                    </li>
                    <li>
                        <a href="{{ url_for('users.index') }}online/">Online</a>
                    </li>
                    <li class="active">
                        Username
                    </li>
                </ul>
            </div>
        </div>
        <div class="container">
            <table class="table" id="users-activities">
                <thead>
                    <tr>
                        <th>Date/Time</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </script>

    <script type="text/template" id="users-layout-template">
        <div id="main"></div>
        <div id="pager"></div>
    </script>


{#    Copy from main app, delete when merge #}
    <script type="text/template" id="paginator-template">
        <% if ( c.state.pageSize < c.state.totalRecords){ %>
        <ul class="pager">
            <li class="paginatorFirst pseudo-link btn btn-default btn-sm btn-group">first</li>
            <li class="paginatorPrev pseudo-link btn btn-default btn-sm btn-group">prev</li>
            <li class="paginatorStat"><%- c.state.currentPage %> of <%- c.state.totalPages %></li>
            <li class="paginatorNext pseudo-link btn btn-default btn-sm btn-group">next</li>
            <li class="paginatorLast pseudo-link btn btn-default btn-sm btn-group">last</li>
        </ul>
        <% } %>
    </script>
{#    ===================================== #}

    <script data-main="/static/js/users_app/require_main.js" src="/static/js/lib/require.js"></script>

    <script type="text/javascript">
    var usersCollection = {{ users_collection|tojson|safe }};
    var onlineUsersCollection = {{ online_users_collection|tojson|safe }};
    var userActivity = {{ user_activity|tojson|safe }};
    var kubeTypes = {{ kube_types|tojson|safe }};
    </script>

{% endblock %}
