<!DOCTYPE html>
<html lang="en">
<head>
    <title>docker login page</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    {% assets "app_css" -%}
        <link rel="stylesheet"href="{{ ASSET_URL }}">
    {%- endassets %}
    {% assets "less_css" -%}
        <link rel="stylesheet/less" type="text/css" href="{{ ASSET_URL }}">
    {%- endassets %}

    {% assets "less_js" -%}
        <script src="{{ ASSET_URL }}"></script>
    {% endassets %}

</head>
<body>
    <div class="login-page clearfix">
        <div class="container login-form">
        <form id="loginForm" method="post" action="/login?next={{ request.args.next|safe }}">
            <div class="form-group logo"></div>
            <ul class="form-group">
              <li class="group">
                <input type="text" id="login-form-username-field" name="login-form-username-field" placeholder="login"/>
                <input input type="password" id="login-form-password-field" name="login-form-password-field" placeholder="password">
              </li>
              <li class="group">
                <label class="custom">
                  <input type="checkbox" />
                  <span></span>
                  <div class="checkbox-label">Remember me</div>
                </label>
                <button type="submit" class="login pull-right">Log in</button>
              </li>
              <!-- <li class="group">
                <a href="#" class="lost">Lost your password?</a>
              </li> -->
            </ul>
        </form>
        </div>
        <div class="blue-line"><div>
      </div>
    </div>

    {% assets "vendor_js" -%}
      <script src="{{ ASSET_URL }}"></script>
    {% endassets %}

    {% block app_js_asset %}
        {% assets "app_js" -%}
          <script src="{{ ASSET_URL }}"></script>
        {% endassets %}
        <script type="text/javascript">
            var initPodCollection = new KubeDock.Data.PodCollection({{ pod_collection|safe }});
        </script>
    {% endblock %}
</body>
</html>