<!DOCTYPE html>
<html lang="en">
<head>
    <title>KuberDock</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="shortcut icon" href="static/img/favicon.ico" type="image/x-icon" />

        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon" />

        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-editable.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.jqplot.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-select.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/dropdowns-enhancement.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.css') }}" >
        <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.jscrollpane.css') }}" >

        <link rel="stylesheet/less" type="text/css" href="{{ url_for('static', filename='css/main.less') }}">
        <script src="{{ url_for('static', filename='js/lib/less.min.js') }}" type="text/javascript"></script>
</head>
<body>
    <div class="login-page clearfix">
        <div class="container login-form">
        <form id="loginForm" method="post" action="/login?next={{ request.args.next|safe }}">
            <div class="form-group logo"></div>
            <ul class="form-group">
              <li class="group">
                <input type="text" id="login-form-username-field" name="login-form-username-field" placeholder="Login"/>
                <input input type="password" id="login-form-password-field" name="login-form-password-field" placeholder="Password">
              </li>
              <li class="group">
                <button type="submit" class="login pull-right">Log in</button>
<!--                 <label class="custom">
                  <input type="checkbox" />
                  <span></span>
                  <div class="checkbox-label">Remember me</div>
                </label> -->
              </li>
              <!-- <li class="group">
                <a href="#" class="lost">Lost your password?</a>
              </li> -->
            </ul>
        </form>
        </div>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    {% if category == 'error' -%}
                    <div class="notifyjs-corner" style="bottom: 0px; left: 0px;">
                        <div class="notifyjs-wrapper notifyjs-hidable">
                            <div class="notifyjs-arrow"></div>
                            <div class="notifyjs-container">
                                <div class="notifyjs-bootstrap-base notifyjs-bootstrap-error">
                                    <span data-notify-text="">{{ message }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    {%- endif %}
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div class="blue-line"><div>
      </div>
    </div>

    {% block app_js_asset %}
    <script src="{{ url_for('static', filename='js/lib/jquery.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/lib/bootstrap.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/lib/notify.min.js') }}" type="text/javascript"></script>
        <script type="text/javascript">
            function autoClosingMessage(selector, delay) {
                var message = $(selector).alert();
                window.setTimeout(function() { message.slideUp() }, delay);
            }
            autoClosingMessage(".notifyjs-corner", 3000);
        </script>
    {% endblock %}
</body>
</html>